<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionSourceFeature"/>

<div v-if="render">
  <span :id="this.ID" class="visually-hidden"/>
  <div class="situations">
    <div v-for="SituationContext situation in situations" class="situation-sources-overview" v-if="render(situation)">
      <p>{{ situation.getName() }}, {{ i18n.scenarioPreferenceLabelYear() }} {{ situation.getYear() }}</p>

      <emission-source-ops-details v-for="EmissionSourceFeature source in getEmissionSources(situation)" :source="source" :situation="situation"/>
    </div>
  </div>
</div>


<style lang="scss" scoped>
  .visually-hidden {
    visibility: hidden;
  }

  div.situations > :not(:first-child) {
    page-break-before: always;
  }

  .situation-sources-overview {
    > :not(:last-child) {
      margin-bottom: var(--spacer);
    }

    p {
      font-weight: bold;
    }
  }
</style>
