<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsSummary"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType" />

<div class="overview">
  <span :id="this.ID"/>
  <h3 id="pdfOverviewContactDetails">{{ i18n.pdfOverviewContactDetails() }}</h3>
  <template v-if="scenarioContext.hasSituations()">
    <table aria-describedby="pdfOverviewContactDetails">
      <tr>
        <th scope="row">{{ i18n.pdfOverviewContactDetailsCorporation() }}</th>
        <td>{{ scenarioMetaData.getCorporation() }}</td>
      </tr>
      <tr>
        <th scope="row">{{ i18n.pdfOverviewContactDetailsLocation() }}</th>
        <td v-html="address" />
      </tr>
    </table>

    <h3 id="pdfOverviewActivity">{{ i18n.pdfOverviewActivity() }}</h3>
    <table aria-describedby="pdfOverviewActivity">
      <tr>
        <th scope="row">{{ i18n.pdfOverviewActivityTitle() }}</th>
        <td>{{ scenarioMetaData.getProjectName() }}</td>
      </tr>
      <tr>
        <th scope="row">{{ i18n.pdfOverviewActivityDescription() }}</th>
        <td>{{ scenarioMetaData.getDescription() }}</td>
      </tr>
    </table>

    <h3 id="pdfOverviewCalculation">{{ i18n.pdfOverviewCalculation() }}</h3>
    <table aria-describedby="pdfOverviewCalculation">
      <tr>
        <th scope="row">{{ i18n.pdfOverviewCalculationReference() }}</th>
        <td>{{ reference }}</td>
      </tr>
      <tr>
        <th scope="row">{{ i18n.pdfOverviewCalculationDate() }}</th>
        <td>{{ timestamp }}</td>
      </tr>
      <tr>
        <th scope="row">{{ i18n.pdfOverviewCalculationConfiguration() }}</th>
        <td>{{ calculationConfiguration }}</td>
      </tr>
    </table>

    <table aria-describedby="pdfOverviewTotalEmission" class="with-header">
      <tr>
        <td><h3 id="pdfOverviewTotalEmission">{{ i18n.pdfOverviewTotalEmission() }}</h3></td>
        <th scope="col">{{ i18n.pdfOverviewTotalEmissionCalculationYear() }}</th>
        <th scope="col">{{ i18n.pdfOverviewTotalEmissionEmissionNH3() }}</th>
        <th scope="col">{{ i18n.pdfOverviewTotalEmissionEmissionNOx() }}</th>
      </tr>
      <tr v-for="SituationContext situationContext in situations">
        <th scope="row">{{ getLongSituationName(situationContext) }}</th>
        <td>{{ situationContext.getYear() }}</td>
        <td>{{ formatEmission(situationContext.getTotalEmission(Substance.NH3)) }}</td>
        <td>{{ formatEmission(situationContext.getTotalEmission(Substance.NOX)) }}</td>
        <td></td>
      </tr>
    </table>

    <table aria-describedby="pdfOverviewResults" class="with-header">
      <tr>
        <td><h3 id="pdfOverviewResults">{{ i18n.pdfOverviewResults() }}</h3></td>
        <th scope="col">{{ i18n.pdfOverviewResultsHighestDeposition() }}</th>
        <th scope="col">{{ i18n.pdfOverviewResultsHexagon() }}</th>
        <th scope="col">{{ i18n.pdfOverviewResultsArea() }}</th>
      </tr>
      <tr v-for="SituationContext situationContext in situations">
        <th scope="row">{{ getLongSituationName(situationContext) }}</th>
        <td>{{ formatDepositionValue(situationResultsSummaries.get(situationContext.getSituationCode()), ResultStatisticType.MAX_TOTAL) }}</td>
        <td>{{ getHexagonId(situationResultsSummaries.get(situationContext.getSituationCode()), ResultStatisticType.MAX_TOTAL) }}</td>
        <td>{{ getAreaName(situationResultsSummaries.get(situationContext.getSituationCode()), ResultStatisticType.MAX_TOTAL) }}</td>
      </tr>
    </table>

    <table aria-describedby="pdfOverviewResults">
      <tr>
        <th scope="row">{{ i18n.pdfOverviewResultsAreaWithIncrease() }}</th>
        <td>{{ getFormattedProjectResultStatistic(ResultStatisticType.SUM_CARTOGRAPHIC_SURFACE_INCREASE) }}</td>
      </tr>
      <tr>
        <th scope="row">{{ i18n.pdfOverviewResultsAreaWithDecrease() }}</th>
        <td>{{ getFormattedProjectResultStatistic(ResultStatisticType.SUM_CARTOGRAPHIC_SURFACE_DECREASE) }}</td>
      </tr>
      <tr>
        <th scope="row">{{ i18n.markerMaxIncrease() }}</th>
        <td>{{ getFormattedProjectResultStatistic(ResultStatisticType.MAX_INCREASE) }}</td>
      </tr>
      <tr>
        <th scope="row">{{ i18n.markerMaxDecrease() }}</th>
        <td>{{ getFormattedProjectResultStatistic(ResultStatisticType.MAX_DECREASE) }}</td>
      </tr>
    </table>

    <template v-if="formattedNettingFactor != null">
      <h3 id="pdfOverviewNetting">{{ i18n.pdfOverviewNetting() }}</h3>
      <table aria-describedby="pdfOverviewNetting">
        <tr>
          <th scope="row">{{ i18n.pdfOverviewNettingFactor() }}</th>
          <td>{{ formattedNettingFactor }}</td>
        </tr>
      </table>
    </template>
  </template>
</div>

<style lang="scss" scoped>
  div.overview {
    page-break-after: always;
  }

  h3 {
    margin-bottom: 0;
  }

  table {
    font-size: 9pt;
    max-width: var(--page-max-width);

    &.with-header {
      margin-top: 1em;
    }

    h3 {
      margin: 0;
    }

    th {
      padding: 0;
      font-style: normal;
      color: #9c9d9e;
      text-align: left;

      &[scope='row'] {
        min-width: 65mm;
        vertical-align: top;
      }

      &[scope='col'] {
        width: 3.3cm;
        vertical-align: bottom;
      }
    }

    td {
      text-align: left;
      word-wrap: normal;
    }
  }

</style>
