$pdf-table-background-color: #f5f5f5;
$pdf-table-text-color: #444444;

table {
  border-collapse: collapse;

  .details {
    width: var(--page-max-width);
    font-size: 0.8em;
  }

  i.icon {
    font-size: 25px;
  }
}

thead {
  background: $pdf-table-background-color;
  color: $pdf-table-text-color;

  th {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    font-size: 11px;
  }
}

tbody {
  tr {
    border-bottom: 2px solid $pdf-table-background-color;
  }
}

tbody.grouped {
  tr {
    border-bottom: none;
  }

  border-bottom: 2px solid $pdf-table-background-color;
}

td {
  padding: 4px;
}
