<div>
  <project-calculation-cover-page/>
  <overview :eventBus="eventBus"/>
  <situation-summaries/>
  <results :eventBus="eventBus"/>
  <emission-sources/>

  <div class="disclaimer">
    <h4>{{ i18n.pdfDisclaimerLabel() }}</h4>
    <p>{{ i18n.pdfDisclaimer() }}</p>
  </div>

  <div class="calculation-base">
    <h4>{{ i18n.pdfCalculationBaseLabel() }}</h4>
    <p>{{ i18n.pdfCalculationBase() }}</p>
    <div class="calculation-base-versions">
      <div>{{ i18n.pdfCalculationBaseAeriusVersion() }}</div>
      <div>{{ aeriusVersion }}</div>
      <div>{{ i18n.pdfCalculationBaseDatabaseVersion() }}</div>
      <div>{{ databaseVersion }}</div>
    </div>
    <p>{{ i18n.pdfCalculationBaseMoreInfo() }}<br /><a :href="releaseDetailsUrl">{{ releaseDetailsUrl }}</a></p>

  </div>

  <print-complete-indicator
  :debug="true"
  :failure="context.isFailure()"
  :complete="context.isComplete()"/>
</div>

<style lang="scss" scoped>
  .disclaimer {
    margin-top: var(--spacer);
    page-break-inside: avoid;
  }

  .calculation-base {
    page-break-inside: avoid;

    &-versions {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: var(--spacer);
    }
  }
</style>
