<div class="page">
  <div class="column column-left">
    <img class="splash-graph" v-bind:src="img.printWnbCoverIllustration().getSafeUri().asString()" alt=""/>
  </div>
  <div class="column column-right">
    <div class="top">
    <p>{{ i18n.pdfProjectCalculationCoverPageDescription() }}</p>
    </div>

    <div class="bottom">
      <ul>
        <li v-for="String chapterId in chapters.keySet()"><a :href="'#' + chapterId">{{ chapters.get(chapterId) }}</a></li>
      </ul>
      <p v-html="i18n.pdfProjectCalculationCoverPageNote()"></p>
    </div>
  </div>
</div>

<style lang="scss" scoped>
$wnb-color:#1b3d6e;

  .page {
    position: relative;
    width: var(--page-max-width);
    height: var(--page-max-height);
    page-break-after: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .column {
    height: 100%;

    &-left {
      width: calc(105mm - var(--page-margin-left));
      display: block;
      position: relative;


      img {
        position: absolute;
        top: calc(var(--page-max-height)/2 - 6cm);
        right: -5.2cm;
        width: 10.4cm;
      }
    }

    &-right {
      width: calc(105mm - var(--page-margin-right));
      display: block;
      position: relative;

      .top {
        h1 {
          color: $wnb-color;
        }

        p {
          word-wrap: break-word;
        }
      }

      .bottom {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-content: end;
        gap: 10mm;

        ul {
          list-style: square;
          padding-inline-start: 20px;
          margin: 0;
          color: $wnb-color;
        }

        p {
          font-style: italic;
        }
      }
    }
  }
</style>
