<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext"/>

<div :id="this.ID">
  <print-situation v-for="SituationContext situation in context.getSituations()"
    :situation="situation" />
</div>

<style scoped>
  div {
    page-break-after: always;
  }
</style>
