<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter" />

<div class="situationsContainer">
  <h1>{{ i18n.calculateScenarioSummaryTitle() }}</h1>
  <div class="grid"
    :style='map("gridTemplateColumns", gridColumns)'>
    <div class="row header">
      <div>{{ i18n.calculateScenarioIndexHeader() }}</div>
      <div>{{ i18n.calculateScenarioHeader() }}</div>
      <div>{{ i18n.calculateScenarioTypeHeader() }}</div>
      <div class="row-center">{{ i18n.calculateYearHeader() }}</div>
      <div class="row-center">{{ i18n.calculateNettingHeader() }}</div>
      <div class="row-center">{{ i18n.calculateEmissionSourcesHeader() }}</div>
      <div v-for="Substance substance in substances"
        class="row-right">{{ i18n.esLabelEmission(substance) }}</div>
    </div>
    <div v-for="(SituationContext situation, index) in situations"
      class="row">
      <div>{{ situation.getSituationCode() }}</div>
      <div>{{ situation.getName() }}</div>
      <div>{{ i18n.situationType(situation.getType()) }}</div>
      <div class="row-center">{{ situation.getYear() }}</div>
      <div class="row-center">{{ isNetting(situation) ? i18n.decimalNumberFixed(situation.getNettingFactor(), 2) : "" }}</div>
      <div class="row-center">{{ situation.getSources().size() }}</div>
      <div v-for="Substance substance in substances"
        class="row-right">{{ MessageFormatter.formatEmissionWithUnitSmart(situation.getTotalEmission(substance)) }}</div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";

.grid {
  background-color: white;

  display: grid;
  grid-template-rows: var(--row-height-generous) repeat(auto-fill, minmax(var(--row-height), auto));

  align-items: center;
}

.situationsContainer {
  padding: 0px var(--spacer);
}

.header {
  div {
    background-color: var(--light-grey);
  }
}

.detail {
  background-color: white;
  height: var(--row-height);
}

.row {
  display: contents;

  div {
    padding: var(--half-spacer) var(--spacer);
    display: flex;
    align-items: center;
    align-self: stretch;
  }

  &:not(:last-child)
  &:not(.header) {
    div {
      border-bottom: 1px solid var(--light-grey);
    }
  }
}

.row-center {
  justify-content: center;
}

.row-right {
  justify-content: flex-end;
}

</style>
