<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.calculation.CalculationType" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey" />

<collapsible-panel :title="i18n.calculateDetailTitle()"
  :open="true"
  v-debug:collapsibleCalculation>
  <div class="settingsContainer">
    <labeled-input :label="i18n.calculateReferenceSituation()"
      name="referenceSituation"
      division="1fr 1fr"
      :transparent="true">
      <select id="referencesSituation"
        v-model="referenceSituationId"
        v-debug:referenceSituation>
        <option v-if="!isReference" value="">{{ i18n.calculateEmptyListSign() }}</option>
        <option v-for="SituationContext rs in referenceSituations" :value="rs.getId()">{{ rs.getName() }}</option>
      </select>
    </labeled-input>
    <labeled-input :label="i18n.calculateNettingSituation()"
      name="nettingSituation"
      division="1fr 1fr"
      :transparent="true">
      <select id="nettingSituation"
        v-model="nettingSituationId"
        v-debug:nettingSituation>
        <option v-if="!isNetting" value="">{{ i18n.calculateEmptyListSign() }}</option>
        <option v-for="SituationContext ts in nettingSituations" :value="ts.getId()">{{ ts.getName() }}</option>
      </select>
    </labeled-input>
    <labeled-input :label="i18n.calculateType(applicationContext.getActiveTheme())"
      name="scenarioResultType"
      division="1fr 1fr"
      :transparent="true">
      <select id="scenarioResultType"
        v-model="calculationType"
        v-debug:calculationType>
        <option v-for="CalculationType ct in calculationTypes" :value="ct.name()">{{ i18n.calculationType(applicationContext.getActiveTheme(), ct) }}</option>
      </select>
    </labeled-input>
    <labeled-input :label="i18n.calculateMeteoLabel()"
      v-if="hasMeteoConfiguration"
      name="scenarioMeteoYear"
      division="1fr 1fr"
      :transparent="true">
      <select id="scenarioMeteoYear"
        v-model="meteoYear"
        v-debug:scenarioMeteoYear>
        <option v-for="String year in meteoYears" :value="year">{{ year }}</option>
      </select>
    </labeled-input>
    <template v-if="isOther">
      <div>{{ i18n.calculateIncludedScenario() }}</div>
      <div v-for="(SituationContext ps, index) in otherSituations">
        <labeled-input :label="ps.getName()"
           name='"otherSituation-" + index'
          division="1fr 1fr"
          :transparent="true">
        <checkbox :disabled="true"
          :label="ps.getName()"
          :id='"otherSituation-" + ps.getId()'
          :value="true"
          @input="updateProposedAndTemporarySituation((boolean) $event, ps)"
          v-debug='"otherSituation-" + index'
          class="label" />
          <!--
          TODO For later, replace stub value with this:
          :value="isProposedAndTemporarySituation(ps.getId())"
           -->
        </labeled-input>
      </div>
    </template>
  </div>
</collapsible-panel>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.settingsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  padding: var(--spacer);
}

</style>
