<div class="listContainer">
  <h1>{{ i18n.calculateTitle() }}</h1>

  <calculation-detail :situations="situations" />

  <div class="sourcesCalculate">
    <!--
    <button v-debug:buttonAddCalculation
      @click='calculate()'>Add calculation</button>
    -->
    <button v-debug:buttonCalculate
      class="buttonCalculate"
      @click='calculate()'>{{ i18n.esButtonCalculate() }}</button>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";

h1 {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.listContainer {
  width: $column-left-width;
}

.sourcesCalculate {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
  margin-top: var(--spacer);

  display: flex;
  justify-content: flex-end;
}

.buttonCalculate {
  @include button;
  align-items: center;
}
</style>
