<div class="container">
  <h1>{{ i18n.clPageTitle() }}</h1>
  <p v-html="i18n.clPageInfo1()"></p>
  <p v-html="i18n.clPageInfo2(quickStartUrl)"></p>

  <div class="buttons">
    <button-icon
      class="button"
      @click.native="onCreateSourceClick()"
      iconClass="icon-btn-new"
      v-debug.calculationLaunchButtonNewsource>
      <div class="label">{{ i18n.clButtonNewSource() }}</div>
    </button-icon>

    <button-icon
      class="button"
      @click.native="onImportFileClick()"
      iconClass="icon-btn-import"
      v-debug.calculationLaunchButtonImportfile>
      <div class="label">{{ i18n.clButtonImportFile() }}</div>
    </button-icon>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";

h1, p {
  color: #555;
}

p {
  line-height: 1.9em;
  width: clamp(45ch, 100%, 75ch);
}

.container {
  padding-top: 100px;
  padding-left: $column-left-width;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;

  margin-top: 40px;
  width: clamp(45ch, 100%, 75ch);

  .button {
    padding: 10px;
    height: initial;

    display: flex;
    align-items: center;

    .label {
      padding: 0px 10px;
      font-size: 1.2em;
    }
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding-left: 0px;
  }
}
</style>
