<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MaritimeShipping" />
<vue-gwt:import class="java.util.Map" />

<div class="singleColumn">
  <sub-source-validation-behaviour
    :errors="false"
    :warnings="false"
    :selectedIndex="selectedIndex"
    :subSources="shippingSource.getSubSources()"
    @subSourceErrors="setSubSourceErrors((Map) $event)"
    @subSourceWarnings="setSubSourceWarnings((Map) $event)"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="displayProblems(true)" />

  <aer-modify-list
    :presenter="presenter"
    :selected="selected()"
    :enableImport="false"
    :enableNameLabels="false"
    :enableEdit="false"
    class="modifyToolbox" />

  <sub-source-empty-error
    :displayProblems="displayProblems"
    :subSources="source.getSubSources()" />

  <div>
    <vertical-collapse-group>
      <sub-source-validated-row v-for="(MaritimeShipping source, idx) in shippingSource.getSubSources()"
        :key="idx"
        :selected="isSelected(idx)"
        :errors="hasErrors(idx)"
        :warnings="hasWarnings(idx)">
        <aer-shipping-emission-row-editor @select="selectSource(idx, source)"
          :selected="isSelected(idx)"
          :source="source"
          :sectorId="shippingSource.getSectorId()"
          v-debug='"subSourceList-" + idx' />
        </sub-source-validated-row>
      </vertical-collapse-group>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";
@import "../../../modify/styles.scss";

</style>
