<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.MooringMaritimeShippingESFeature"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.shipping.MooringType"/>

<div class="singleColumn">
  <labeled-input class="mooringSelector"
    :label="i18n.maritimeShippingMooringA()"
    name="mooringAInput"
    division="1fr 1fr">
    <select id="mooringACategory"
      v-model="mooringAId"
      aria-label="mooringACategory"
      v-debug:emissionSourceMooringACategory>
      <option value="">{{ i18n.mooringMaritimeCategoryPlaceholder() }} </option>
      <option v-for="MooringMaritimeShippingESFeature ship in getAllowedMoorings(MooringType.A)" :value="ship.getGmlId()">{{ getLabel(ship) }}</option>
    </select>
  </labeled-input>
  <labeled-input class="mooringSelector"
    :label="i18n.maritimeShippingMooringB()"
    name="mooringBInput"
    division="1fr 1fr">
    <select id="mooringBCategory"
      v-model="mooringBId"
      aria-label="mooringBCategory"
      v-debug:emissionSourceMooringACategory>
      <option value="">{{ i18n.mooringMaritimeCategoryPlaceholder() }} </option>
      <option v-for="MooringMaritimeShippingESFeature ship in getAllowedMoorings(MooringType.B)" :value="ship.getGmlId()">{{ getLabel(ship) }}</option>
    </select>
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
@import "../../../modify/styles.scss";

.mooringSelector {
  padding: 0px var(--spacer);
}
</style>
