<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionFactors"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MaritimeShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.StandardMaritimeShipping"/>

<div v-if="isSourceAvailable()" class="shippingDetailContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <aer-maritime-inland-standard
    v-if='isESType(EmissionSourceType.SHIPPING_MARITIME_INLAND) && toggleSelect == MaritimeShippingType.STANDARD'
    @errors='trackChildError("shippingMaritime", (boolean) $event)'
    @warnings='trackChildWarning("shippingMaritime", (boolean) $event)'
    :standardMaritime="(StandardMaritimeShipping) subSource" />
  <aer-maritime-maritime-standard
    v-if='isESType(EmissionSourceType.SHIPPING_MARITIME_MARITIME) && toggleSelect == MaritimeShippingType.STANDARD'
    @errors='trackChildError("shippingMaritime", (boolean) $event)'
    @warnings='trackChildWarning("shippingMaritime", (boolean) $event)'
    :standardMaritime="(StandardMaritimeShipping) subSource" />
</div>

<style scoped lang="scss">
.shippingDetailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.toggleButtons {
  margin-bottom: var(--spacer);
}
</style>
