<default-title-view :title="i18n.menuResults()">
</default-title-view>

<style scoped lang="scss">
@import "../../../variables.scss";

button {
  @include button;
}

.import-button {
  margin-left: 10px;
}
</style>
