<div class="app"
     :class='map("app-system-info-panel-visible", hasSystemInfo)'>
  <system-info-panel class="system-info-panel" />
  <navigation class="aer-nav"
    :eventBus="eventBus" />

  <layer-panel-modal
    :eventBus="eventBus" />
  <info-panel-modal
    :eventBus="eventBus" />
  <aer-import-modal
    :eventBus="eventBus" />
  <notification
    :eventBus="eventBus" />
  <hot-key-panel
    :eventBus="eventBus" />

  <tetris-leaderboard
    :eventBus="eventBus" />

  <div class="contexts">
    <horizontal-collapse :seek="(boolean) false">
      <div class="aer-selector-menu" v-if='navigationContext.isSelectorMenuActive()'>
        <component :is="navigationContext.getActiveSelector().getComponent()"
          :eventBus="eventBus"
          :item="navigationContext.getActiveSelector()" />
      </div>
    </horizontal-collapse>

    <div class="aer-left" v-if="hasLeft"
      :class='map("flex-grow", isLeftView && !closed)'>
      <horizontal-collapse :seek="false">
        <div class="content" v-show="!closed"
          :class='map("grow", isRightView)'>
          <slot name="left">
            <component :is="left" slot="left" :eventBus="eventBus" />
          </slot>
        </div>
      </horizontal-collapse>

      <div class="slider"
        :class='map("closed", closed)'
        tabindex="0"
        @keyup.enter.space="toggleClosed()"
        @click="toggleClosed()">
        <i class="icon-open-close-map-data-layer"></i>
      </div>
    </div>

    <horizontal-collapse :seek="(boolean) false">
      <div class="aer-middle"
        v-if="hasMiddle"
        :class='map("softMiddle", softMiddle)'>
        <slot name="middle">
          <component :is="middle" slot="middle" :eventBus="eventBus" />
        </slot>
      </div>
    </horizontal-collapse>

    <div class="aer-right"
      :class='isRightView ? "flex-grow" : "fixed-width"'>
      <slot name="right">
        <component :is="right" slot="right" :eventBus="eventBus" />
      </slot>
    </div>
  </div>

  <!-- TODO Move (and duplicate) elsewhere. This screws up tab-indexing -->
  <notification-component-button class="notification" :eventBus="eventBus" />
</div>

<style scoped lang="scss">
@import "../../variables.scss";
@import "../../fade-transition.scss";
@import "../../horizontal-collapse.scss";

.app {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
  width: 100%;

  .system-info-panel {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 1;
  }

  .aer-nav {
    border-right: 1px solid white;
    box-sizing: border-box;
    z-index: 1;
  }

  .contexts {
    display: flex;
    position: relative;
    max-height: 100vh;
    z-index: 1;
  }

  .aer-selector-menu {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: $column-left-width;
    bottom: 0;
    background: var(--back-color);
    border-right: 1px solid white;
    overflow-y: auto;
  }

  .aer-left {
    z-index: 3;
    position: relative;
    min-width: 50px;
    background: var(--back-color);
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;

    border-right: var(--separator);
    transition: max-width 0.15s ease-out;

    &.flex-grow {
      flex-grow: 1;
    }

    .closed {
      flex-grow: 0 !important;
      max-width: 50px;
    }

    &:hover {
      z-index: 3;
    }

    .content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: $column-left-width;
    }

    .slider {
      width: 50px;
      height: 50px;
      cursor: pointer;
      position: absolute;
      right: 0px;
      top: 0px;
      color: var(--light-grey);
      transition: background var(--anim), color var(--anim);
      user-select: none;

      display: grid;
      place-content: center;

      i {
        font-size: 16px;
        color: inherit;
        transform: rotate(180deg);
        transition: transform 0.15s ease-out 0.3s;
      }

      &.closed {
        i {
          transform: rotate(0deg);
        }
      }

      &:hover {
        color: var(--theme-color);
        background: var(--theme-color-light);
      }
    }
  }

  .aer-middle {
    flex-shrink: 0;
    z-index: 2;
    background: var(--back-color);
    box-shadow: 5px 0px 5px -5px #888;
    height: 100%;

    &:hover {
      z-index: 3;
    }

    &.softMiddle {
      position: absolute;
      left: calc(400px + 2px);
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 400px;
    }
  }

  .aer-middle > * {
    border-left: 1px solid white;
  }

  .aer-right {
    z-index: 1;
    position: relative;
    overflow: auto;
    background: var(--back-color);
    box-shadow: 5px 0px 5px -5px #888;
    height: 100%;
    display: flex;

    &.fixed-width {
      flex-grow: 1;
      min-width: $column-right-width;
    }

    &.flex-grow {
      flex-grow: 1;
    }
  }
}

.app-system-info-panel-visible {
  grid-template-rows: 35px 1fr;
}

.notification {
  position: absolute;

  top: 20px;
  right: 20px;
  z-index: 1;
}

@supports (-ms-ime-align:auto) {
  #app { display: flex; }
}
</style>