<div v-if="complete || failure">
  <div v-if="complete"
    class="complete"
    :class='map("debug", debug)'
    id="complete-indicator">
  </div>
  <div v-if="failure"
    class="failure"
    :class='map("debug", debug)'
    id="failure-indicator">
  </div>
</div>

<style scoped>
.complete:not(.debug) {
  /* I don't remember what this is for, i.e. why this isn't display: none */
  visibility: hidden;
}

@media print {
  div {
    display: none;
    height: 0;
    width: 0;
  }
}
</style>
