<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.input.LabeledInputComponent.RowType"/>

<div class="innerContainer">
  <validation-behaviour
    :errors="isHeatContentInvalid"
    @warnings="emitWarnings((boolean) $event)"
    @errors="emitErrors((boolean) $event)"
    @touch="touch()" />

  <labeled-input
    :label="i18n.sourceHeatContentLabel()"
    name="heatContent"
    division="1fr 1fr"
    :transparent="true"
    :unit="isBuildingInfluence ? null : i18n.unitSingularMW()"
    :showError="isHeatContentInvalid"
    :errorMessage="() -> getHeatContentError()"
    :showWarning="isHeatContentWarning"
    :warningMessage="() -> getHeatContentWarning()">
    <input id="emissionHeatContent"
      v-debug:emissionHeatContent
      type="number"
      :min="OPSLimits.SOURCE_HEAT_CONTENT_MINIMUM"
      :max="OPSLimits.SOURCE_HEAT_CONTENT_MAXIMUM"
      :step="OPSLimits.SOURCE_HEAT_CONTENT_PRECISION"
      v-model="heatContent"
      :placeholder="0.0"
      aria-label="heatContent">
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../ops-characteristics.scss"
</style>
