<aer-main :navConfig="navigation" :eventBus="eventBus" ref="outer">
  <keep-alive>
    <component :is="input" :eventBus="eventBus" :presenter="subPresenter">
    </component>
  </keep-alive>
  <keep-alive slot="tertiary">
    <component :is="tertiary" :eventBus="eventBus"></component>
  </keep-alive>
  <keep-alive slot="main">
    <component :is="main" :eventBus="eventBus"></component>
  </keep-alive>
</aer-main>
