<default-title-view title="Start/import view">
  <p>On this page:</p>
  <ul>
    <li>Button to [create] page</li>
    <li>Primary dummy in middle</li>
    <li>Map in main</li>
  </ul>
  <p>Actual import content</p>
  <button @click='presenter.goToCreate()'>Create</button>
  <dummy></dummy>
</default-title-view>
