<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType" />

<div class="sourceListSituation" v-if="situation != null">
  <div class="situationColumn"
    :class='map("active", editMode)'>
    <div class="situationRow situationNameRow">
      <labeled-input :label="i18n.situationNameLabel()"
        division="4fr 17fr"
        name="sourceListSituationName"
        class="situationItem">
        <div class="situationNameInputRow">
          <input class="situationInputName" type="text"
            @beforeinput="startEdit()"
            v-model="situationName"
            aria-label="name"
            v-debug:sourceListSituationName />
          <tooltip :title="i18n.situationDeleteTitle()">
            <button-icon :aria-label="i18n.situationDeleteTitle()"
              @click.native='deleteSituation()'
              iconClass="icon-btn-delete"
              v-debug:sourceListButtonDeleteSituation />
          </tooltip>
        </div>
	  </labeled-input>

    </div>
    <div class="situationRow">
      <labeled-input :label="i18n.situationTypeLabel()" name="sourceListSituationType" class="situationItem">
        <simple-listbox id="sourceListSituationType"
          v-debug:sourceListSituationType
          :options="applicationContext.getActiveThemeConfiguration().getAvailableSituationTypes()"
          :selected="situationType"
          @select='selectSituationType((SituationType) $event)'>
          <template slot-scope="{ SituationType option }">{{ i18n.situationType(option) }}</template>
        </simple-listbox>
      </labeled-input>
      <labeled-input :label="i18n.situationYearLabel()" name="sourceListSituationYear" class="situationItem">
        <simple-listbox id="sourceListSituationYear"
          v-debug:sourceListSituationYear
          :options="applicationContext.getActiveThemeConfiguration().getCalculationYears()"
          :selected="situationYear"
          @select='selectSituationYear((String) $event)'>
          <template slot-scope="{ String option }">{{ option }}</template>
        </simple-listbox>
      </labeled-input>
    </div>

    <vertical-collapse>
      <div class="situationRow" v-if="nettingSituation">
        <labeled-input
          :label="i18n.situationNettingFactorLabel()"
          name="sourceListSituationNettingFactor"
          class="situationItem situationInputNettingFactor"
          division="1fr 1fr"
          :errorValidation="v.situationNettingFactor"
          :errorMessage="this::nettingFactorError">
          <input type="number"
            step="0.01"
            min="0"
            max="1"
            id="sourceListSituationNettingFactor"
            @beforeinput="startEdit()"
            v-model="situationNettingFactor"
            v-validate:situationNettingFactor
            aria-label="netting factor"
            v-debug:sourceListSituationNettingFactor />
        </labeled-input>
      </div>
    </vertical-collapse>

    <vertical-collapse>
      <div v-if="editMode" class="buttons">
        <button v-debug:sourceListSituationCancel class="situationItem button" @click="cancelEdit()">{{ i18n.esButtonCancel() }}</button>
        <button v-debug:sourceListSituationApply class="situationItem button" @click="applyEdit()">{{ i18n.esButtonSave() }}</button>
      </div>
    </vertical-collapse>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../../vertical-collapse.scss";
@import "../../../../../variables.scss";

.sourceListSituation {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  gap: var(--spacer);
}

.input {
  margin: 0 !important;
}

.situationColumn {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--half-spacer);
  width: 100%;
  padding: 0px var(--spacer);

  transition: background var(--anim), padding var(--anim);

  &.active {
    background: var(--theme-color-light);
    padding: var(--spacer);
  }
}

.situationRow {
  display: flex;
  gap: var(--spacer);
}

.situationNameRow {
  align-items: center;
  margin-bottom: 0px;
}

.situationNameInputRow {
  display: flex;
}

.situationItem {
  flex: 1;
}

.situationInputNettingFactor {
  margin-top: 0 !important;
}

.button {
  @include button;
}

input {
  box-sizing: border-box;
  width: 100%;
}
</style>
