<vue-gwt:import class="nl.overheid.aerius.shared.domain.Theme" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.resources.util.ThemeUtil" />

<div id="overview">
  <aer-header-bar></aer-header-bar>

  <div class="top">
    <aer-import-button :eventBus="eventBus"></aer-import-button>
  </div>

  <aer-import-modal :eventBus="eventBus"></aer-import-modal>

  <section class="library">
    <a v-for="Theme theme in Theme.values()" class="item"
      @click.prevent="presenter.selectTheme(theme)"
      v-bind:class='map("disabled", !presenter.isEnabled(theme))'>
      <div v-mask="ThemeUtil.getIcon(theme)" class="icon"></div>
      <div class="label">{{ i18n.themeName(theme) }}</div>
    </a>
  </section>
</div>

<style scoped lang="scss">
@import "../../variables.scss";

#overview {
  flex-grow: 1;

  .top {
    display: flex;
    flex-flow: row-reverse;
    padding: 20px;
  }

  .library {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 180px;
    grid-gap: 4px;

    .item {
      @include item;

      .icon {
        width: 64px;
        height: 64px;
      }

      .label {
        font-size: 1.3em;
        text-align: center;
      }
    }
  }
}
</style>
