<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.M"/>
<vue-gwt:import class="nl.aerius.wui.util.Notification"/>
<vue-gwt:import class="com.google.gwt.safehtml.shared.SafeHtmlUtils"/>

<div v-show="context.isShowing()" class="notificationPanel">
  <vertical-collapse>
    <div class="panel">
      <div class="buttonContainer" :class='map("empty", notifications.isEmpty())'>
        <span v-show="notifications.isEmpty()">{{ i18n.notificationNoMessages() }}</span>
        <button v-show="!notifications.isEmpty()"
          class="removeAll"
          @click="removeAll()">{{ i18n.notificationRemoveAllMessages() }}</button>
      </div>
      <vertical-collapse-group>
        <div v-for="Notification notification in notifications"
          class="notificationContainer"
          :key="notification.hashCode()">
          <div class="notification"
            :class='map(e("error", notification.isError()), e("warning", notification.isWarning()), e("message", notification.isMessage()))'>
            <p class="datetime">{{ M.formatDateTime(notification.getDateTime()) }}</p>
            <p v-if='notification.hasMessage()'
              class="text"
              v-html="sanitize(notification.getMessage())"></p>
            <p v-else class="text">{{ M.getErrorMessage(notification.getException()) }}</p>
            <button-icon @click.native="remove(notification)"
              iconClass="icon-btn-delete"
              class="removeButton"
              v-debug:removeButton />
          </div>
        </div>
      </vertical-collapse-group>
    </div>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../vertical-collapse.scss";
@import "../../../variables.scss";

.notificationPanel {
  position: fixed;
  right: 80px;
  top: 20px;
  z-index: 9999;
  width: var(--info-panel-width);
  border: 1px solid #ccc;
  border-radius: 4px;

  .panel {
    background: white;
    border-radius: 2px;

    &.active {
      z-index: 10000;
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      padding: 10px;

      &:not(.empty) {
        border-bottom: 1px solid var(--light-grey);
      }

      .removeAll {
        flex-grow: 1;

        @include button;
      }
    }

    .inactive {
      display: flex;
      height: var(--row-height-generous);

      .text {
        align-self: stretch;
        display: flex;
        align-items: center;
        padding: 0 var(--spacer);
        flex-grow: 1;
        transition: background 0.1s ease-out;
      }

      .close {
        padding: 5px 14px;
        cursor: pointer;
        width: 10px;
        align-self: stretch;
        display: flex;
        align-items: center;

        svg {
          transition: fill 0.1s ease-out;
        }

        &:hover {
          background: var(--back-color);

          svg {
            fill: var(--theme-color);
          }
        }
      }
    }
  }
}

.notificationContainer {
  display: block;

  border-bottom: 1px solid var(--light-grey);
  &:last-child {
    border-bottom: none;
  }
}

.notification {
  padding: var(--spacer);
  transition: background var(--anim);
  position: relative;

  .removeButton {
    position: absolute;
    right: var(--half-spacer);
    bottom: var(--half-spacer);
    height: var(--row-height);
    min-width: 30px;
  }

  .datetime {
    color: var(--grey);
    margin: 0px;
  }

  .text {
    margin: 5px 0px 0px;
  }

  &:hover {
    background: var(--theme-color-light);
  }

  &.error {
    border-left: var(--error-color) var(--spacer) solid;
  }

  &.warning {
    border-left: var(--warning-color) var(--spacer) solid;
  }

  &.message {
    border-left: var(--theme-color) var(--spacer) solid;
  }
}
</style>
