<div class="button"
  role="button"
  tabindex="0"
  :class='map("open", context.isShowing())'
  @click.exact="onNotificationClick()"
  @keyup.enter.space="onNotificationClick()"
  @close="onNotificationClick()">
  <i class="icon icon-map-notification"></i>

  <div v-if="context.getNotificationCount() > 0" class="counter">{{ correctedNotificationCount }}</div>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";

.button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: white;
  border: 1px solid var(--grey);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: var(--dark-grey);
  transition: background var(--anim), border var(--anim);

  .icon {
    color: inherit;
    font-size: 30px;
    transition: color var(--anim);
  }

  &:hover {
    background: var(--theme-color-light);
    border-color: var(--dark-grey);
  }

  &.open {
    background: var(--theme-color);
    color: white;
    filter: brightness(1.05);
  }

  &:focus {
    outline: 2px dotted var(--theme-color);
    outline-offset: 4px;
  }
}

.counter {
  width: 15px;
  height: 15px;
  line-height: 15px;
  top: -4px;
  right: -4px;
  color: white;
  border: 1px solid $face-color-hover;
  background-color: $face-color-hover;
  border-radius: 10px;
  position: absolute;
  font-size: 12px;

  display: grid;
  place-items: center;
}

</style>