<div class="item"
  v-if="item.isVisible()"
  ref="container"
  @keyup.enter.space.stop="toggleSelectorMenu()"
  @click.stop="toggleSelectorMenu()"
  tabindex="0"
  :class='map("active", active)'
  v-debug="item.getName()">
    <template v-if="selection != null">
      <i v-if="selection.getIcon() != null"
        class="icon" :class="selection.getIcon()"></i>
      <div v-else class="label">{{ selection.getShortLabel() }}</div>
      <i class="arrow icon-open-close-map-data-layer"></i>
    </template>
    <p v-else>ERR.</p>
</div>

<style scoped lang="scss">
.item {
  padding: 10px 0px;
  border-bottom: 1px solid white;
  position: relative;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  user-select: none;

  transition: background var(--anim), color var(--anim);

  &:hover, &.active {
    color: var(--theme-color);
    background: var(--theme-color-light);

    .arrow {
      color: var(--theme-color);
    }
  }

  &.active {
    .arrow {
      transform: rotate(180deg) !important;
    }
  }

  .icon {
    font-size: 32px;
  }
  .label {
    line-height: 32px;
  }
  .icon, .label {
    justify-self: center;
  }

  .arrow {
    margin: 0px 5px;
    color: var(--light-grey);
    transform: rotate(0deg);
    transition: transform var(--anim) .1s;
  }
}
</style>
