<vertical-collapse>
<div class="errorContainer" v-if="showError">
  <div>{{ i18n.esSubSourceEmptyError() }}</div>
</div>
</vertical-collapse>

<style lang="scss" scoped>
@import "../../../vertical-collapse.scss";

.errorContainer {
  color: white;
  background: var(- -error-color);

  div {
    padding: var(- -spacer) var(- -half-spacer);
  }
}
</style>
