<div class="row">
  <div class="column50">{{ label }}</div>
  <div v-debug="debugId">{{ value }}</div>
</div>

<style scoped lang="scss">
.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .column50 {
    flex-basis: 50%;
  }
}

</style>
