<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.VehicleType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.StandardVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.CustomVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.SpecificVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadStandardVehicleType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.road.standard.StandardRoadCategoryUtil" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div class="roadDetailContainer">
  <h4 class="header">{{ i18n.esRoadDetailTitle() }}</h4>
  <road-detail-row
    :debugId='"srm2DetailRoadType"'
    :label="i18n.esRoadDetailRoadType()"
    :value="getSectorDescription(source.getSectorId())" />
  <road-detail-row
    :debugId='"srm2DetailTunnelFactor"'
    :label="i18n.esRoadDetailTunnelFactor()"
    :value="source.getTunnelFactor()" />
  <road-detail-row
    :debugId='"srm2DetailElevation"'
    :label="i18n.esRoadDetailElevation()"
    :value="i18n.sourceRoadElevationType(source.getElevation())" />
  <road-detail-row
    :debugId='"srm2DetailElevationHeight"'
    :label="i18n.esRoadDetailElevationHeight()"
    :value="source.getElevationHeight()" />
  <div class="barrierRow header">
    <div class="accent">{{ i18n.esRoadDetailBarrier() }}</div>
    <div class="accent">{{ i18n.sourceRoadBarrierLeftTitle() }}</div>
    <div class="accent">{{ i18n.sourceRoadBarrierRightTitle()}}</div>
  </div>
  <div class="barrierRow">
    <div>{{ i18n.esRoadDetailBarrierType() }}</div>
    <div v-debug:srm2DetailBarrierTypeLeft>{{ barrierType(source.getBarrierLeft()) }}</div>
    <div v-debug:srm2DetailBarrierTypeRight>{{ barrierType(source.getBarrierRight()) }}</div>
  </div>
  <div class="barrierRow">
    <div>{{ i18n.esRoadDetailBarrierHeight() }}</div>
    <min-max-label v-debug:srm2DetailBarrierHeightLeft
      :label="barrierHeight(source.getBarrierLeft())"
      :correctionLabel="barrierHeightCorrected(source.getBarrierLeft())" />
    <min-max-label v-debug:srm2DetailBarrierHeightRight
      :label="barrierHeight(source.getBarrierRight())"
      :correctionLabel="barrierHeightCorrected(source.getBarrierRight())" />
  </div>
  <div class="barrierRow">
    <div>{{ i18n.esRoadDetailBarrierDistanceToRoad() }}</div>
    <min-max-label v-debug:srm2DetailBarrierDistanceLeft
      :label="barrierDistance(source.getBarrierLeft())"
      :correctionLabel="barrierDistanceCorrected(source.getBarrierLeft())" />
    <min-max-label v-debug:srm2DetailBarrierDistanceRight
      :label="barrierDistance(source.getBarrierRight())"
      :correctionLabel="barrierDistanceCorrected(source.getBarrierRight())" />
  </div>
  <road-detail-row
    :debugId='"srm2DetailDrivingDirection"'
    :label="i18n.esRoadDetailDrivingDirection()"
    :value=" i18n.esRoadDrivingDirection(source.getTrafficDirection())" />
  <vertical-collapse>
    <div v-if="hasVechicleType(VehicleType.STANDARD)">
      <div class="vehicleRow3 header">
        <div class="accent">{{ i18n.esRoadDetailStandardTitle() }}</div>
        <div class="accent">{{ i18n.esRoadDetailStandardVehiclesTitle() }}</div>
        <div class="accent">{{ i18n.esRoadDetailStandardStagnationTitle() }}</div>
      </div>
      <div v-for="(StandardVehicles standardVehicle, standardVehicleIndex) in getVehiclesByType(VehicleType.STANDARD)">
        <div v-debug:srm2DetailRoadStandardVehicleTypeTitle>{{ StandardRoadCategoryUtil.roadCategoryDisplayText(i18n, standardVehicle) }}</div>
        <div v-for="(nl.overheid.aerius.shared.domain.v2.source.road.VehicleType vehicleType, vehicleTypeIndex) in vehicleTypes" class="vehicleRow3">
          <template v-if="standardVehicle.getValuesPerVehicleTypes().has(vehicleType.name())">
            <div v-debug:srm2DetailRoadStandardVehicleType>{{ i18n.esStandardRoadVehicleType(vehicleType) }}</div>
            <div v-debug:srm2DetailRoadStandardVehicleTimeUnit>{{ standardVehicle.getValuesPerVehicleType(vehicleType).getVehiclesPerTimeUnit() }} {{ i18n.unitTime(standardVehicle.getTimeUnit()) }}</div>
            <div v-debug:srm2DetailRoadStandardVehicleStagnation>{{ i18n.decimalNumberFixed(standardVehicle.getValuesPerVehicleType(vehicleType).getStagnationFraction() * 100, 1) }} {{ i18n.unitSingularPercentage() }}</div>
          </template>
        </div>
      </div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="hasVechicleType(VehicleType.CUSTOM)">
      <div class="header accent">{{ i18n.esRoadDetailCustomTitle() }}</div>
      <div v-for="(CustomVehicles customVehicle, customVehicleIndex) in getVehiclesByType(VehicleType.CUSTOM)">
        <div class="vehicleRow2">
          <div>{{ i18n.esRoadDetailCustomLabel() }}</div>
          <div :v-debug='"srm2DetailRoadCustomDescription-" + customVehicleIndex'>{{ customVehicle.getDescription() }}</div>
        </div>
        <div class="vehicleRow2">
          <div>{{ i18n.esRoadDetailNumberOfVehicles() }}</div>
          <div :v-debug='"srm2DetailRoadCustomVehicles-" + customVehicleIndex'>{{ customVehicle.getVehiclesPerTimeUnit()) }} {{ i18n.unitTime(customVehicle.getTimeUnit()) }}</div>
        </div>
        <div class="accent">{{ i18n.esRoadDetailCustomEmissionPerVehicle() }}</div>
        <div v-for="(Substance substance, substanceIndex) in substances" class="vehicleRow2">
          <div :v-debug='"srm2DetailRoadCustomSubstance-" + customVehicleIndex + "-" + substance.name()'>{{ substance.name() }}</div>
          <div :v-debug='"srm2DetailRoadCustomEmissionValue-" + customVehicleIndex + "-" + substance.name()'>{{ i18n.decimalNumberFixed(customVehicle.getEmissionFactor(substance), 1) }} {{ i18n.unitSingularGramPerKilometers() }}</div>
        </div>
      </div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="hasVechicleType(VehicleType.SPECIFIC)">
      <div class="header accent">{{ i18n.esRoadDetailSpecificTitle() }}</div>
      <div v-for="(SpecificVehicles specificVehicle, index) in getVehiclesByType(VehicleType.SPECIFIC)">
        <road-detail-row
          :debugId='"srm2DetailRoadSpecificVehicleCode"'
          :label="i18n.esRoadDetailEuroClass()"
          :value="specificVehicle.getVehicleCode()" />
        <div class="vehicleRow2">
          <div>{{ i18n.esRoadDetailNumberOfVehicles() }}</div>
          <div :v-debug='"srm2DetailRoadSpecificVehicles-" + index'>{{ specificVehicle.getVehiclesPerTimeUnit()) }} {{ i18n.unitTime(specificVehicle.getTimeUnit()) }}</div>
        </div>
      </div>
    </div>
  </vertical-collapse>
  <div class="header accent">{{ i18n.esRoadDetailEmission() }}</div>
  <div v-for="(Substance substance, index) in substances" class="vehicleRow2">
    <div :v-debug='"srm2DetailRoadStandardSubstance-" + substance.name()'>{{ substance.name() }}</div>
    <div :v-debug='"srm2DetailRoadStandardEmissionTotalValue-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
  </div>
</div>

<style scoped lang="scss">
@import "../road.scss";
@import "../../../../vertical-collapse.scss";

.roadDetailContainer {
  margin-top: var(--spacer);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

h4 {
  margin: 0px;
}
</style>
