<vue-gwt:import class="elemental2.dom.FocusEvent" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.nav.selector.SelectorItemOption" />
<vue-gwt:import class="java.lang.String" />

<div tabindex="-1" ref="main">
  <h4>{{ item.getName() }}</h4>
  <vertical-collapse-group target="41">
    <div v-for="SelectorItemOption option in options"
      :key="String.valueOf(option.getValue())"
      :class='map("active", isSelected(option))'
      class="item">
      <slot v-bind:option="option">
        <div class="optionArea"
          tabindex="0"
          @click.stop="selectOption(option)"
          @keyup.enter.space="selectOption(option)">
          <i v-if="option.getIcon() != null"
            class="icon row-icon" :class="option.getIcon()"></i>
          <span class="label">{{ option.getLabel() }}</span>
        </div>
        <slot v-bind:option="option" class="action" name="option"></slot>
      </slot>
    </div>
  </vertical-collapse-group>

  <slot name="aux"></slot>

  <button-icon class="exit"
    fontSize="16px"
    @click.stop.prevent.native="deactivateSelectorMenu()"
    @keyup.enter.space.native="deactivateSelectorMenu()"
    iconClass="icon-close" />
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

h4 {
  margin: 75px 5px 5px 5px;
}

.exit {
  position: absolute;
  right: 5px;
  top: 5px;
  height: var(--row-height-generous);
}

.item {
  border-top: 1px solid white;

  display: flex;
  align-items: center;

  .icon {
    color: inherit;
  }

  .optionArea {
    display: flex;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
    justify-self: stretch;
    align-self: stretch;
    outline-offset: -2px;

    &:hover {
      background: var(--theme-color);
      color: white;
    }
  }

  &:last-child {
    border-bottom: 1px solid white;
  }

  &.active {
    background: var(--theme-color-light);
    color: var(--theme-color);
  }

  .row-icon {
    font-size: 32px;
    padding: 10px;
  }

  &:not(:hover):not(:focus-within) {
    .action {
      visibility: hidden;
    }
  }

  .label {
    padding: 5px;
    flex-grow: 1;
  }
}
</style>
