<basic-selector-menu
  :options="item.getOptions()"
  :selectedOption="item.getSelectedOption()"
  :eventBus="eventBus"
  :item="item"
  @select-option="selectOption((SelectorItemOption) $event)">
  <tooltip slot="option" slot-scope="{ SelectorItemOption option }"
    :title="i18n.navigationSituationDuplicate()">
    <button-icon :aria-label="i18n.navigationSituationDuplicate()"
      class="duplicate" iconClass="icon-btn-duplicate"
      @click.stop.native="onDuplicateClick(option)" />
  </tooltip>

  <button slot="aux"
    class="action-button"
    @click.stop="onNewSituationClick()">{{ i18n.navigationSituationNew() }}</button>
</basic-selector-menu>

<style scoped lang="scss">
@import "../../../variables.scss";

.duplicate {
  height: var(--row-height-generous);
}

.action-button {
  @include button;
  min-width: inherit;
  width: 100px;
  margin: 10px;
  text-align: center;
}
</style>
