<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.pages.language.Language" />

<div>
  <h1 class="title">{{ i18n.settingsLanguageTitle() }}</h1>
  <div v-for="Language language in Language.values()"
    class="row"
    :class='map("selected", language.getLocale() == locale)'
    @click="selectLanguage(language)">{{ language.getName() }}</div>
</div>

<style scoped lang="scss">
@import "../../../row-item.scss";

.title {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

</style>
