<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.road.RoadSideBarrierType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.input.LabeledInputComponent.RowType" />

<div class="barrierContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasWarning || hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input
    division="1fr 1fr"
    :transparent="true"
    :label="i18n.sourceRoadBarrierTitle()">
    <div class="barrierRow">
      <div class="barrierLeftLabel">{{ i18n.sourceRoadBarrierLeftTitle() }}</div>
      <div class="barrierRightLabel">{{ i18n.sourceRoadBarrierRightTitle() }}</div>
    </div>
  </labeled-input>
  <labeled-input
    label="Afscherming"
    name="barrierType"
    division="1fr 1fr"
    :transparent="true">
    <div class="barrierRow">
      <select id="roadSideBarrierLeftType"
        v-model="barrierLeftType"
        aria-label="roadSideBarrierLeftType"
        v-debug:roadSideBarrierLeftType>
        <option value="" hidden disabled>{{ i18n.dropdownPlaceholder() }}</option>
        <option :value="emptyBarrierValue">{{ i18n.sourceRoadsideBarrierNone() }}</option>
        <option v-for="RoadSideBarrierType rsb in RoadSideBarrierType.values()" :value="rsb.name()">{{ i18n.sourceRoadsideBarrierType(rsb) }}</option>
      </select>
      <select id="roadSideBarrierRightType"
        v-model="barrierRightType"
        aria-label="roadSideBarrierRightType"
        v-debug:roadSideBarrierRightType>
        <option value="" hidden disabled>{{ i18n.dropdownPlaceholder() }}</option>
        <option :value="emptyBarrierValue">{{ i18n.sourceRoadsideBarrierNone() }}</option>
        <option v-for="RoadSideBarrierType rsb in RoadSideBarrierType.values()" :value="rsb.name()">{{ i18n.sourceRoadsideBarrierType(rsb) }}</option>
      </select>
    </div>
  </labeled-input>
  <vertical-collapse>
    <labeled-input :label="i18n.sourceRoadBarrierHeight()"
      v-if="hasBarrierLeft || hasBarrierRight"
      name="barrierHeight"
      division="1fr 1fr"
      :transparent="true">
      <div class="barrierRow">
        <input-with-unit
          class="barrierLeft"
          v-show="hasBarrierLeft"
          :unit="i18n.unitSingularMeter()"
          :showError="v.barrierLeftHeightV.invalid"
          :showWarning="!v.barrierLeftHeightV.invalid && v.barrierLeftHeightWarningV.invalid">
          <input id="barrierLeftHeight"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierLeftHeightV.input
            v-model="barrierLeftHeight"
            :placeholder="0.0"
            aria-label="barrierLeftHeight"
            v-debug:barrierLeftHeight>
        </input-with-unit>
        <input-with-unit
          class="barrierRight"
          v-show="hasBarrierRight"
          :unit="i18n.unitSingularMeter()"
          :showError="v.barrierRightHeightV.invalid"
          :showWarning="!v.barrierRightHeightV.invalid && v.barrierRightHeightWarningV.invalid">
          <input id="barrierRightHeight"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierRightHeightV.input
            v-model="barrierRightHeight"
            :placeholder="0.0"
            aria-label="barrierRightHeight"
            v-debug:barrierRightHeight>
        </input-with-unit>
      </div>
      <template slot="error">
        <input-error
          :errorValidation="v.barrierLeftHeightV"
          :errorMessage="this::barrierLeftHeightError" />
        <input-error
          :errorValidation="v.barrierRightHeightV"
          :errorMessage="this::barrierRightHeightError" />
      </template>
      <template slot="warning">
        <input-warning
          :showWarning="!v.barrierLeftHeightV.invalid && v.barrierLeftHeightWarningV.invalid"
          :warningMessage="this::barrierLeftHeightWarning" />
        <input-warning
          :showWarning="!v.barrierRightHeightV.invalid && v.barrierRightHeightWarningV.invalid"
          :warningMessage="this::barrierRightHeightWarning" />
      </template>
    </labeled-input>
  </vertical-collapse>

  <vertical-collapse>
    <labeled-input
      v-if="hasBarrierLeft || hasBarrierRight"
      :label="i18n.sourceRoadBarrierDistance()"
      name="barrierDistance"
      division="1fr 1fr"
      :transparent="true">
      <div class="barrierRow">
        <input-with-unit
          class="barrierLeft"
          v-show="hasBarrierLeft"
          :unit="i18n.unitSingularMeter()"
          :showError="v.barrierLeftDistanceV.invalid"
          :showWarning="v.barrierLeftDistanceWarningV.invalid">
          <input id="barrierLeftDistance"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierLeftDistanceV.input
            v-model="barrierLeftDistance"
            :placeholder="0.0"
            aria-label="barrierLeftDistance"
            v-debug:barrierLeftDistance>
        </input-with-unit>
        <input-with-unit
          class="barrierRight"
          v-show="hasBarrierRight"
          :unit="i18n.unitSingularMeter()"
          :showError="v.barrierRightDistanceV.invalid"
          :showWarning="v.barrierRightDistanceWarningV.invalid">
          <input id="barrierRightDistance"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierRightDistanceV.input
            v-model="barrierRightDistance"
            :placeholder="0.0"
            aria-label="barrierRightDistance"
            v-debug:barrierRightDistance>
        </input-with-unit>
      </div>
      <template slot="error">
        <input-error
          :errorValidation="v.barrierLeftDistanceV"
          :errorMessage="this::barrierLeftDistanceError" />
        <input-error
          :errorValidation="v.barrierRightDistanceV"
          :errorMessage="this::barrierRightDistanceError" />
      </template>
      <template slot="warning">
        <input-warning
          :showWarning="v.barrierLeftDistanceWarningV.invalid"
          :warningMessage="this::barrierLeftDistanceWarning" />
        <input-warning
          :showWarning="v.barrierRightDistanceWarningV.invalid"
          :warningMessage="this::barrierRightDistanceWarning" />
      </template>
    </labeled-input>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../../../vertical-collapse.scss";

.barrierContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.barrierLeftLabel, .barrierRightLabel {
  padding: 0px var(--half-spacer);
}

.barrierRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--half-spacer);

  .barrierLeft {
    grid-column: 1;
  }

  .barrierRight {
    grid-column: 2;
  }
}
</style>
