<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.AnimalType"/>

<div class="farmLodgingCustomContainer">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input :label="i18n.esFarmLodgingCustomDescription()"
    division="1fr 1fr"
    name="emissionSourceFarmlodgingCustomDescription"
    v-validate:descriptionV.input
    :showError="v.descriptionV.error"
    :errorMessage="() -> i18n.validationRequired()">
    <input id="emissionSourceFarmlodgingCustomDescription"
      type="text"
      v-model="description"
      aria-label="descripton"
      v-debug:emissionSourceFarmlodgingCustomDescription />
  </labeled-input>
  <labeled-input :label="i18n.esFarmLodgingCustomAnimalTypeLabel()"
    division="1fr 1fr"
    name="animalType">
    <select id="animalType"
      v-model="animalType"
      aria-label="animalType"
      v-debug:animalType>
      <option v-for="AnimalType at in AnimalType.values()"
        :value="at.getAnimalCode()">{{ i18n.esFarmLodgingCustomAnimalType(at) }}</option>
    </select>
  </labeled-input>
  <labeled-input
    division="1fr 1fr"
    :label="i18n.esFarmLodgingCustomNumberOfAnimals()"
    name="numberOfAnimalsInput"
    :showError="v.numberOfAnimalsV.error"
    :errorMessage="this::numberOfAnimalsConversionError">
    <input id="numberOfAnimalsInput"
      type="number"
      min="0"
      step="1"
      v-validate:numberOfAnimalsV.input
      v-model="numberOfAnimals"
      :placeholder="0"
      aria-label="numberOfAnimals"
      v-debug:numberOfAnimalsInput>
  </labeled-input>
  <labeled-input :label="i18n.esFarmLodgingCustomFactor()"
    division="1fr 1fr"
    name="emissionFactorInput"
    :unit="i18n.unitSingularKgHousingPerY()"
    :errorValidation="v.emissionFactorV"
    :errorMessage="this::emissionFactorConversionError">
    <input id="emissionFactorInput"
      type="number"
      min="0.0"
      step="any"
      v-validate:emissionFactorV.input
      v-model="emissionFactor"
      :placeholder="0.0"
      aria-label="emissionFactor"
      v-debug:emissionFactorInput>
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.farmLodgingCustomContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
