<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<div>
  <div class="detailRow"
    v-debug='"farmLodgingCustomRow-" + index'>
    <div class="ravCodeColumn"
      v-debug:farmLodgingCustomDescription>{{ source.getDescription() }}</div>
    <div class="amountColumn"
      v-debug:farmLodgingCustomNumberOfAnimals>{{ source.getNumberOfAnimals() }}</div>
    <div class="factorColumn"
      v-debug:farmLodgingCustomEmissionFactor>{{ i18n.decimalNumberCapped(source.getEmissionFactor(Substance.NH3), 2) }}</div>
    <div class="reductionColumn"
      v-debug:farmLodgingCustomReduction>-</div>
    <div class="emissionColumn"
      v-debug:farmLodgingCustomEmission>{{ emission }}</div>
  </div>
</div>

<style scoped lang="scss">
@import "../farmlodging.scss";
</style>
