<div id="view">
  <div class="top">
    <h1>{{ title }}</h1>
    <slot name="top"></slot>
  </div>

  <slot />
</div>

<style scoped lang="scss">
#view {
  width: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;

    h1 {
      line-height: 32px;
      padding: 9px 15px;
      margin: 0;
      font-size: 1.5em;
      font-weight: 150;
      color: #333;
      flex-grow: 1;

    }
  }
}
</style>
