<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MooringMaritimeShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.MooringMaritimeShippingESFeature"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.StandardMooringMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.CustomMooringMaritimeShipping"/>

<div v-if="isSourceAvailable()">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <aer-mooring-maritime-shipping-detail-editor-standard
    v-if='toggleSelect == MooringMaritimeShippingType.STANDARD'
    @errors='trackChildError("shippingMaritimeMooring", (boolean) $event)'
    @warnings='trackChildWarning("shippingMaritimeMooring", (boolean) $event)'
    :standardMooringMaritimeShipping="(StandardMooringMaritimeShipping) subSource"/>
</div>

<style scoped lang="scss">
@import "../../../../../variables.scss";

.toggleButtons {
  display: flex;
  height: var(--row-height);

  .toggleButton {
    @include button-toggle;
    align-items: center;
    align-self: center;
    flex-basis: 50%;
    text-align: center;
  }
}
</style>
