<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.shipping.MooringType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MaritimeShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MooringMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MooringMaritimeShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.StandardMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.StandardMooringMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div class="margin">
  <div class="header">{{ i18n.esMaritimeShippingDetailTitle() }}</div>
  <vertical-collapse>
    <div v-if="isESType(EmissionSourceType.SHIPPING_MARITIME_INLAND) || isESType(EmissionSourceType.SHIPPING_MARITIME_MARITIME))">
      <div class="table mooringTable">
        <vertical-collapse>
          <div v-if="maritimeSource.getMooringAId() != null"
            class="row">
            <div>{{ i18n.mooringType(MooringType.A) }}</div>
            <div v-debug:maritimeShippingMooringAId>{{ getSourceLabel(maritimeSource.getMooringAId()) }}</div>
          </div>
        </vertical-collapse>
        <vertical-collapse>
          <div v-if="maritimeSource.getMooringBId() != null"
            class="row">
            <div>{{ i18n.mooringType(MooringType.B) }}</div>
            <div v-debug:maritimeShippingMooringBId>{{ getSourceLabel(maritimeSource.getMooringBId()) }}</div>
          </div>
        </vertical-collapse>
      </div>
      <vertical-collapse-group>
        <div v-for="(MaritimeShipping row, index) in maritimeSource.getSubSources()"
          :key="index">
          <div v-if="row.getMaritimeShippingType() == MaritimeShippingType.STANDARD">
            <div class="header">{{ getDescriptionFromCode(((StandardMaritimeShipping) row).getShipCode()) }}</div>
            <div class="table shippingTable">
              <div class="row">
                <div>{{ i18n.esShipDescription() }}</div>
                <div>{{ i18n.esShipsMovementsPerTimeUnit() }}</div>
                <div>{{ i18n.esShipTimeunit() }}</div>
              </div>
              <div class="row">
                <div v-debug='"maritimeShippingDescription-" + index'>{{ row.getDescription() }}</div>
                <div v-debug='"maritimeShippingMovements-" + index'>{{ row.getMovementsPerTimeUnit() }}</div>
                <div v-debug='"maritimeShippingTimeUnit-" + index'>{{ i18n.unitTime(row.getTimeUnit()) }}</div>
              </div>
            </div>
            <div class="header">{{ i18n.esShipEmission() }}</div>
            <div class="table emissionTable">
              <div class="row" v-for="Substance substance in substances">
                <div v-debug='"maritimeShippingSubstance-" + substance.name()'>{{ i18n.esEmissionLabel(substance.name()) }}</div>
                <div v-debug='"maritimeShippingEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</div>
              </div>
            </div>
          </div>
        </div>
      </vertical-collapse-group>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="isESType(EmissionSourceType.SHIPPING_MARITIME_DOCKED)">
      <vertical-collapse-group>
        <div v-for="(MooringMaritimeShipping row, index) in mooringMaritimeSource.getSubSources()"
          :key="index">
          <div v-if="row.getMooringMaritimeShippingType() == MooringMaritimeShippingType.STANDARD">
            <div class="header"
              v-debug='"maritimeShippingCode-" + index'>{{ getDescriptionFromCode(((StandardMooringMaritimeShipping) row).getShipCode()) }}</div>
            <div class="table maritimeTable">
              <div class="row">
                <div>{{ i18n.esShipDescription() }}</div>
                <div>{{ i18n.esShipsVisitsPerTimeUnit() }}</div>
                <div>{{ i18n.esShipTimeunit() }}</div>
                <div>{{ i18n.esShipAverageResidenceTime() }}</div>
                <div>{{ i18n.esShipShorePowerFactor() }}</div>
              </div>
              <div class="row">
                <div v-debug='"maritimeShippingDescription-" + index'>{{ row.getDescription() }}</div>
                <div v-debug='"maritimeShippingMovements-" + index'>{{ row.getShipsPerTimeUnit() }}</div>
                <div v-debug='"maritimeShippingTimeUnit-" + index'>{{ i18n.unitTime(row.getTimeUnit()) }}</div>
                <div v-debug='"maritimeShippingAverageResidenceTime-" + index'>{{ row.getAverageResidenceTime() }}</div>
                <div v-debug='"maritimeShippingShorePowerFactor-" + index'>{{ i18n.unitPercentage(i18n.decimalNumberFixed(row.getShorePowerFactor() * 100.0, 1)) }}</div>
              </div>
            </div>
            <div class="header">{{ i18n.esShipEmission() }}</div>
            <div class="table emissionTable">
              <div class="row" v-for="Substance substance in substances">
                <div v-debug='"maritimeShippingSubstance-" + substance.name()'>{{ i18n.esEmissionLabel(substance.name()) }}</div>
                <div v-debug='"maritimeShippingEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</div>
              </div>
            </div>
          </div>
        </div>
      </vertical-collapse-group>
    </div>
  </vertical-collapse>

  <div class="header">{{ i18n.esShipTotalEmission() }}</div>
  <div class="table emissionTable">
    <div class="row" v-for="Substance substance in substances">
      <div v-debug='"maritimeShippingTotalSubstance-" + substance.name()'>{{ i18n.esEmissionLabel(substance.name()) }}</div>
      <div v-debug='"maritimeShippingTotalEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../../vertical-collapse.scss";

.margin {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.table {
  display: grid;
  gap: 0px var(--half-spacer);
}

.mooringTable {
  grid-template-columns: 1fr 1fr;
}

.shippingTable {
  grid-template-columns: repeat(3, auto);
}

.maritimeTable {
  grid-template-columns: repeat(5, auto);
}

.emissionTable {
  grid-template-columns: 1fr 1fr;
}

.row {
  display: contents;
}

.header {
  margin-top: var(--half-spacer);
  font-weight: bold;
}
</style>
