<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.AdditionalLodgingSystem" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmLodgingSystemDefinition" />

<div>
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <minimal-input>
    <div class="row">
      <tooltip :title="i18n.esFarmLodgingStandardAdditionalSystemDelete()">
        <button-icon @click.native="deleteRow()"
          class="deleteButton"
          iconClass="icon-btn-delete"
          v-debug:delete />
      </tooltip>

      <suggest-listbox v-debug:additionalSystem
        :class='map(e("error-input", v.farmLodgingCodeV.error))'
        :modal-offset="-40"
        :modal-width="350"
        :title="i18n.esFarmLodgingStandardAdditionalSystemPlaceholder()"
        :options="lodgingSystemOptions"
        :selectedValue="lodgingSystem.getLodgingSystemCode()"
        :placeholder="i18n.esFarmLodgingStandardAdditionalSystemPlaceholder()"
        @select-value='selectLodgingSystemCode((String) $event)'/>
      <div :class='map(e("error-input", v.numberOfAnimalsV.error))'>
        <input id="numberOfAnimals"
          class="input"
          type="number"
          min="0"
          v-validate:numberOfAnimalsV
          v-model="numberOfAnimals"
          aria-label="numberOfAnimals"
          v-debug:numberOfAnimals />
      </div>
      <div :class='map(e("error-input", v.systemDefinitionCodeV.error))'>
        <simple-listbox v-debug:bwlCodeListBox
          class="input"
          :options="systemDefinitionOptions"
          :keyFunction="func(v -> ((FarmLodgingSystemDefinition) v).getCode())"
          :selected="lodgingSystem.getSystemDefinitionCode()"
           @select='selectSystemDefinitionCode((FarmLodgingSystemDefinition) $event)'>
          <template slot-scope="{ FarmLodgingSystemDefinition option }">{{ option.getName() }}</template>
        </simple-listbox>
      </div>
    </div>
    <template slot="error">
      <input-error
        :showError="v.farmLodgingCodeV.error"
        :errorMessage="() -> i18n.validationRequired()" />
      <input-error
        :showError="v.numberOfAnimalsV.error"
        :errorMessage="() -> numberOfAnimalsError()" />
      <input-error
        :showError="v.systemDefinitionCodeV.error"
        :errorMessage="() -> i18n.validationRequired()" />
    </template>
  </minimal-input>
</div>

<style scoped lang="scss">
@import "../../farmlodging.scss";
</style>
