<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.ReductiveLodgingSystem"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmLodgingSystemDefinition" />

<minimal-input>
  <div class="row">
    <validation-behaviour :errors="isInvalid || hasChildErrors"
      :warnings="hasChildWarnings"
      @errors="emitErrors((boolean) $event)"
      @warnings="emitWarnings((boolean) $event)"
      @touch="displayProblems(true)" />

    <tooltip :title="i18n.esFarmLodgingStandardReductiveSystemDelete()">
      <button-icon @click.native="deleteRow()"
        class="deleteButton"
        iconClass="icon-btn-delete"
        v-debug:delete />
    </tooltip>
    <suggest-listbox v-debug:reductiveSystem
      :class='map(e("error-input", farmReductiveLodgingSystemCategoryInvalid && displayProblems))'
      class="measure"
      :modal-offset="-40"
      :modal-width="350"
      :options="lodgingSystemOptions"
      :selectedValue="lodgingSystem.getLodgingSystemCode()"
      :title="i18n.esFarmLodgingStandardReductiveSystemPlaceholder()"
      :placeholder="i18n.esFarmLodgingStandardReductiveSystemPlaceholder()"
      @empty-select="unselectLodgingSystem()"
      @select-value='selectLodgingSystemCode((String) $event)'/>
    <div :class='map(e("error-input", systemDefinitionCodeInvalid && displayProblems))'>
      <simple-listbox v-debug:bwlCodeListBox
        class="input"
        :options="systemDefinitionOptions"
        :keyFunction="func(v -> ((FarmLodgingSystemDefinition) v).getCode())"
        :selected="lodgingSystem.getSystemDefinitionCode()"
        @select='selectSystemDefinitionCode((FarmLodgingSystemDefinition) $event)'>
        <template slot-scope="{ FarmLodgingSystemDefinition option }">{{ option.getName() }}</template>
      </simple-listbox>
    </div>
  </div>
  <template slot="error">
    <input-error
      :showError="farmReductiveLodgingSystemCategoryInvalid && displayProblems"
      :errorMessage="() -> i18n.validationRequired()" />
    <input-error
      :showError="systemDefinitionCodeInvalid && displayProblems"
      :errorMessage="() -> i18n.validationRequired()" />
  </template>
</minimal-input>

<style scoped lang="scss">
@import "../../farmlodging.scss";

.measure {
  grid-column: 2/4;
}
</style>
