<div class="labeledFieldContainer">
  <slot name="label">
    <span class="label">{{ label }}</span>
  </slot>
  <slot>
    <span>{{ value }}</span>
  </slot>
</div>

<style lang="scss" scoped>
.labeledFieldContainer {
  display: grid;
  width: 6cm;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--spacer);
  padding: 0px var(--spacer);

  .label {
    color: var(--dark-grey);
  }
}
</style>
