<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.SituationType" />

<div class="situationContainer">
  <h3>{{ situation.getName() }} ({{ i18n.situationType(situation.getType()) }}), {{ i18n.pdfSituationRekenjaarLabel() }} {{ situation.getYear() }}</h3>

  <table aria-describedby="pdfSituationOverviewEmissionSources">
    <thead>
      <tr>
        <th scope="col"><h4 id="pdfSituationOverviewEmissionSources">{{ i18n.pdfSituationOverviewEmissionSources() }}</h4></th>
        <th scope="col" class="headingBack emission">{{ i18n.pdfSituationOverviewEmissionNH3Header() }}</th>
        <th scope="col" class="headingBack emission">{{ i18n.pdfSituationOverviewEmissionNOxHeader() }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="EmissionSourceFeature source in emissionSources">
        <td class="label">
          <aer-styled-point :feature="source"
            :backColor="sectorColor(source)" />
          <div>{{ getSectorGroup(source) }} | {{ getSector(source) }} | {{ source.getLabel() }}</div>
        </td>
        <td class="emission">{{ formatEmission(source, Substance.NH3) }}</td>
        <td class="emission">{{ formatEmission(source, Substance.NOX) }}</td>
      </tr>
      <tr v-if="hasRoadNetwork()">
        <td class="label">
          <i class="icon icon-traffic-network"></i>
          <div>{{ i18n.esRoadNetwork() }}</div>
        </td>
        <td class="emission">{{ getRoadNetworkEmission(Substance.NH3) }}</td>
        <td class="emission">{{ getRoadNetworkEmission(Substance.NOX) }}</td>
      </tr>
    </tbody>
  </table>

  <table v-if="situation.getBuildings().size() > 0" aria-describedby="pdfSituationOverviewBuildings">
    <thead>
      <tr>
        <th scope="col"><h4 id="pdfSituationOverviewBuildings">{{ i18n.pdfSituationOverviewBuildings() }}</h4></th>
        <th scope="col" class="headingBack envelop">{{ i18n.pdfSituationOverviewBuildingsEnvelopeHeader() }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="BuildingFeature building in buildings">
        <td class="label">
          <aer-styled-point :feature="building"
            foreColor="#000"
            backColor="#fff" />
          <div>{{ building.getLabel() }}</div>
        </td>
        <td class="envelop"> {{ formatDimensions(building) }}</td>
      </tr>
    </tbody>
  </table>
</div>

<style lang="scss" scoped>
.situationContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  page-break-before: avoid;
}

table {
  page-break-inside: avoid;
  page-break-before: avoid;
}

thead {
  > tr {
    > th:first-child {
      text-align: left;
    }
    > th > h4 {
      margin: 0;
    }
  }
}

table {
  width: 100%;
  border-spacing: 0 var(--spacer);
}

.headingBack {
  color: var(--dark-grey);
}

.label {
  display: flex;
  align-items: center;
  gap: var(--spacer);
}

.emission {
  text-align: right;
}

.icon {
  font-size: 30px;
}
</style>
