<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MooringMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.StandardMooringMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<table class="details" v-if="mooringMaritimeSource.getSubSources().length > 0" :aria-label="i18n.pdfEmissionSourceDetailsShippingTableDescription()">
  <thead>
  <tr>
    <th scope="col">{{ i18n.esShipDescription() }}</th>
    <th scope="col">{{ i18n.esShippingStandardShipCode() }}</th>
    <th scope="col">{{ i18n.esShipsVisitsPerTimeUnit() }}</th>
    <th scope="col">{{ i18n.esShipAverageResidenceTime() }}</th>
    <th scope="col">{{ i18n.esShipShorePowerFactor() }}</th>
    <th scope="col">{{ i18n.esSubstance() }}</th>
    <th scope="col">{{ i18n.esTitle() }}</th>
  </tr>
  </thead>

  <tbody class="grouped" v-for="MooringMaritimeShipping row in mooringMaritimeSource.getSubSources()">
  <tr v-for="(Substance substance, index) in substances">
    <td v-if="index == 0">{{ row.getDescription() }}</td><td v-else></td>
    <td v-if="index == 0">{{ getDescriptionFromCode(((StandardMooringMaritimeShipping) row).getShipCode()) }}</td><td v-else></td>
    <td v-if="index == 0">{{ row.getShipsPerTimeUnit() }} {{ i18n.unitTime(row.getTimeUnit()) }}</td><td v-else></td>
    <td v-if="index == 0">{{ row.getAverageResidenceTime() }} {{ i18n.unitSingularHour() }}</td><td v-else></td>
    <td v-if="index == 0">{{ MessageFormatter.formatPercentage(row.getShorePowerFactor() * 100) }}</td><td v-else></td>
    <td>{{ i18n.esLabel(substance) }}</td>
    <td>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</td>
  </tr>
  </tbody>
</table>

<style lang="scss" scoped>
  @import "../../pdf-table.scss";
</style>
