<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.StandardMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<table class="details" v-if="maritimeSource.getSubSources().length > 0" :aria-label="i18n.pdfEmissionSourceDetailsShippingTableDescription()">
  <thead>
  <tr>
    <th scope="col">{{ i18n.esShipDescription() }}</th>
    <th scope="col">{{ i18n.esShippingStandardShipCode() }}</th>
    <th scope="col">{{ i18n.esShipsMovementsPerTimeUnit() }}</th>
    <th scope="col">{{ i18n.esSubstance() }}</th>
    <th scope="col">{{ i18n.esTitle() }}</th>
  </tr>
  </thead>

  <tbody class="grouped" v-for="MaritimeShipping row in maritimeSource.getSubSources()">
    <tr v-for="(Substance substance, index) in substances">
      <td v-if="index == 0">{{ row.getDescription() }}</td><td v-else></td>
      <td v-if="index == 0">{{ getDescriptionFromCode(((StandardMaritimeShipping) row).getShipCode()) }}</td><td v-else></td>
      <td v-if="index == 0">{{ row.getMovementsPerTimeUnit() }} {{ i18n.unitTime(row.getTimeUnit()) }}</td><td v-else></td>
      <td>{{ i18n.esLabel(substance) }}</td>
      <td>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</td>
    </tr>
  </tbody>
</table>

<style lang="scss" scoped>
  @import "../../pdf-table.scss";
</style>
