<div class="emissions">
  <slot></slot>
  <img v-show="context.isLoading()" class="loading-spinner" alt="Loading..." v-bind:src="img.loadingSpinner().getSafeUri().asString()" />
</div>

<style scoped lang="scss">
.emissions {
  display: flex;
  align-items: center;
}

.loading-spinner {
  height: 19px;
}
</style>
