<vue-gwt:import class="nl.overheid.aerius.shared.domain.context.EmissionResultValueDisplaySettings.DepositionValueDisplayType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.input.LabeledInputComponent.RowType"/>

<labeled-input :id='"EmissionRow_" + substance.name()'
  :label="i18n.esEmissionLabel(substance.name())"
  :name='"emissionInput" + "_" + substance.name()'
  division="1fr 1fr"
  :transparent="true"
  :errorValidation="v.emissionV"
  :unit="i18n.unitSingularKgPerY()"
  :errorMessage="this::emissionConversionError">
  <template>
    <validation-behaviour
      :errors="v.invalid || hasChildErrors"
      :warnings="hasChildWarnings"
      @errors="emitErrors((boolean) $event)"
      @warnings="emitWarnings((boolean) $event)"
      @touch="touch()" />
    <input type="number"
      :id='"emissionRow_" + substance.name()'
      v-debug='"emissionRow_" + substance.name()'
      min="0.000000"
      step="any"
      v-validate:emissionV.input
      v-model="emission"
      :placeholder="0"
      :aria-label='"EmissionInput" + " " + substance.name()'>
  </template>
</labeled-input>

<style scoped lang="scss">
@import "../../../components/input/inputs.scss";
</style>
