<div class="idColumn"
  :style='map(e("background", backColor), e("color", foreColor), e("border-radius", borderRadius))'>{{ id }}</div>

<style scoped lang="scss">
.idColumn {
  user-select: none;
  border-radius: 10px;
  background-color: #699DCD;
  padding: 2px 0px;
  border: 3px solid black;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  width: 30px;
}
</style>
