<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsAreaSummary" />

<div>
  <h4 class="tab-content-title">{{ i18n.resultsNatureAreaTitle() }}</h4>
  <div class="collapsible-container">
    <div class="table">
      <div class="header">
        <div class="row">
          <div class="cell-area"></div>
          <div v-for="ResultStatisticType type of scenarioResultTypes"
            class="header-item"
            :key="type.name()">
            <img v-bind:src="getCalculationMarker(type).getSafeUri().asString()" v-bind:alt="i18n.resultsStatistic(type, displayType)"/>
            <span>{{ i18n.resultsStatistic(type, displayType) }}</span>
          </div>
          <div class="cell-button"></div>
        </div>
      </div>

      <div class="body">
        <div class="row"
          v-for="SituationResultsAreaSummary d in context.getActiveResultSummary().getAreaStatistics()"
          :key="d.getAssessmentArea().getId()">
          <div class="cell-area">
            {{ d.getAssessmentArea().getName() }}
          </div>
          <div class="cell-value"
            v-for="ResultStatisticType type of scenarioResultTypes"
            :key="type.name()">
            {{ formatValueFor(d.getStatistics(), type) }}
          </div>
          <div class="cell-button">
            <button-icon :title="i18n.resultsZoomToAreaTitle()"
              @click.native.stop='zoomToArea(d)'
              iconClass="icon-map-zoom-to-extend"
              class="zoomToArea"
              v-debug:resultsZoomToArea/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
@import "../result-view.scss";

$value-column-width: 140px;

.body {
  background: white;
}

.header {
  margin-bottom: 6px;
}

.row {
  display: flex;
  margin-left: 10px;
}

.header-item {
  width: $value-column-width;

  span, img {
    display: block;
  }

  span {
    font-weight: bold;
    text-align: center;
  }

  img {
    margin: 0 auto;
  }
}

.cell-area {
  flex-basis: 300px;
  flex-grow: 1;
  font-weight: bold;
  padding: 5px 0;
}

.cell-value {
  width: $value-column-width;
  text-align: center;
  padding: 5px 0;
}

.cell-button {
  width: 50px;
  button {
    height: 30px;
  }
}
</style>
