<vue-gwt:import class="ol.geom.GeometryType" />
<vue-gwt:import class="ol.geom.Geometry" />

<div class="content">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <div class="explain">
    <span>{{ i18n.esLocationDrawExplain() }}</span>
  </div>
  <div class="select-geometry-type">
    <span class="geometry-type">{{ getGeometryTypeText() }}</span>
    <tooltip :title="i18n.esAddPointSource()">
      <button-icon :aria-label="i18n.esAddPointSource()"
        @click.native="drawSource(GeometryType.Point)"
        v-bind:class='map("active", isSourceType(GeometryType.Point))'
        iconClass="icon-btn-draw-point"
        fontSize="26px"
        :inline="true"
        v-debug:sourceLocationButtonAddPoint />
    </tooltip>
    <tooltip :title="i18n.esAddLineSource()">
      <button-icon :aria-label="i18n.esAddLineSource()"
        @click.native="drawSource(GeometryType.LineString)"
        v-bind:class='map("active", isSourceType(GeometryType.LineString))'
        iconClass="icon-btn-draw-line"
        fontSize="26px"
        :inline="true"
        v-debug:sourceLocationButtonAddLine/>
    </tooltip>
    <tooltip :title="i18n.esAddPolygonSource()">
      <button-icon :aria-label="i18n.esAddPolygonSource()"
        @click.native="drawSource(GeometryType.Polygon)"
        v-bind:class='map("active", isSourceType(GeometryType.Polygon))'
        iconClass="icon-btn-draw-polygone"
        fontSize="26px"
        :inline="true"
        v-debug:sourceLocationButtonAddPoint />
    </tooltip>
  </div>
  <vertical-collapse>
    <div v-if="isIllegalGeometryType" class="error">
      <div>{{ i18n.esGeometryTypeIllegal() }}</div>
    </div>
  </vertical-collapse>

  <div class="explain">{{ i18n.esLocationDirectExplain() }}</div>
  <smart-wkt-input :geometry="geometry"
    :geometryType="geometryType"
    :showErrors="displayProblems"
    @errors='trackChildError("geometry", (boolean) $event)'
    @warnings='trackChildWarning("geometry", (boolean) $event)'
    @geometry-change="saveGeometry((Geometry) $event)"
    @wkt-change="updateWkt((String) $event)" />
  <vertical-collapse>
    <div v-if="geometryStatistic != null">
      <div>{{ geometryStatistic }}</div>
    </div>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../vertical-collapse.scss";

.content {
  padding: var(--spacer);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.select-geometry-type {
  display: flex;
  align-items: center;
  min-height: var(--row-height-generous);

  .geometry-type {
    display: flex;
    flex-grow: 1;
  }
}

.explain {
  font-style: italic;
}

.error {
  color: white;
  background-color: var(--error-color);

  div {
    padding: var(--spacer) var(--half-spacer);
  }
}
</style>
