<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.wnb.pages.emissionsource.EmissionSourceView.EmissionSourcePanel" />

<div class="singleColumn" v-show="isSourceAvailable()">
  <feature-heading
    :feature="source"
    :backColor="sectorColor"
    :eventBus="eventBus"
    :title="geometryType" />
  <div class="nameBlock">
    <labeled-input :label="i18n.esLabelName()" name="label" >
      <input type="text" v-debug:label
        v-model="label"
        :placeholder="i18n.esLabelName()"
        aria-label="label" />
    </labeled-input>
    <labeled-input :label="i18n.esLabelSectorGroup()" name="sourceListDetailSectorGroup"
      :showError="displayFormProblems && !hasSectorGroup"
      :errorMessage='() -> i18n.validationSectorGroupRequired()'>
      <simple-listbox id="sourceListDetailSectorGroup"
        v-debug:sourceListDetailSectorGroup
        class="sectorTypeFieldSelect"
        :options="sectorGroups"
        :selected="selectedSectorGroup"
        :placeholder="i18n.dropdownPlaceholder()"
        @select='selectSectorGroupType((SectorGroup) $event)'>
        <template slot-scope="{ Object option }">{{ i18n.sectorGroup((SectorGroup) option) }}</template>
      </simple-listbox>
    </labeled-input>
    <vertical-collapse>
      <labeled-input v-if="hasMultipleSectors"
        :label="i18n.esLabelSector()"
        name="sourceListDetailSector"
        :showError="displayFormProblems && !hasSector"
        :errorMessage='() -> i18n.validationSectorRequired()'>
        <simple-listbox id="sourceListDetailSector"
          class="sectorTypeFieldSelect"
          v-debug:sourceListDetailSector
          :options="availableSectors"
          :keyFunction="func(v -> ((Sector) v).getSectorId())"
          :selected="source.getSectorId()"
          :placeholder="i18n.dropdownPlaceholder()"
          @select='changeSector((Sector) $event)'>
          <template slot-scope="{ Sector option }">{{ option.getDescription()) }}</template>
        </simple-listbox>
      </labeled-input>
    </vertical-collapse>
  </div>

  <div class="details">
    <collapsible-panel :title="i18n.esLocation()"
      v-debug:collapsibleLocation
      :open="isOpen(EmissionSourcePanel.LOCATION)"
      @open="openPanel(EmissionSourcePanel.LOCATION)"
      @user-close="closePanel()">
      <error-warning-icon slot="aux"
        :reveal="displayFormProblems && !isOpen(EmissionSourcePanel.LOCATION)"
        :showWarning="validationContext.getLocationWarning()"
        :showError="validationContext.getLocationError()" />
      <emission-source-location-view
        :eventBus="eventBus"
        :source="source"
        :open="isOpen(EmissionSourcePanel.LOCATION)"
        @warnings="onLocationWarningChange((boolean) $event)"
        @errors="onLocationErrorChange((boolean) $event)" />
    </collapsible-panel>

    <vertical-collapse>
      <collapsible-panel v-if="hasCharacteristics"
        :title="i18n.sourceCharacteristicsTitle()"
        v-debug="sourceCharacteristicsDebugId"
        :open="isOpen(EmissionSourcePanel.SOURCE_CHARACTERISTICS)"
        @open="openPanel(EmissionSourcePanel.SOURCE_CHARACTERISTICS)"
        @user-close="closePanel()">
        <error-warning-icon slot="aux"
          :reveal="displayFormProblems && !isOpen(EmissionSourcePanel.SOURCE_CHARACTERISTICS)"
          :showWarning="validationContext.getCharacteristicsWarning()"
          :showError="validationContext.getCharacteristicsError()" />
        <component :is="sourceCharacteristicsType"
          @warnings="onCharacteristicsWarningChange((boolean) $event)"
          @errors="onCharacteristicsErrorChange((boolean) $event)"
          :eventBus="eventBus"
          :source="source" />
      </collapsible-panel>
    </vertical-collapse>

    <collapsible-panel v-if="hasMooring"
      :title="i18n.sourceMooringTitle()"
      v-debug:collapsibleSRM2Characteristics
      :open="isOpen(EmissionSourcePanel.SHIPPING_DOCK)"
      @open="openPanel(EmissionSourcePanel.SHIPPING_DOCK)"
      @user-close="closePanel()">
      <aer-inland-mooring-emission-editor v-if="isESType(EmissionSourceType.SHIPPING_INLAND)"
        :source="(InlandShippingESFeature) source"
        :mooringInland="mooringInland" />
      <aer-maritime-mooring-emission-editor v-if="isESType(EmissionSourceType.SHIPPING_MARITIME_INLAND) || isESType(EmissionSourceType.SHIPPING_MARITIME_MARITIME)"
        :source="(MaritimeShippingESFeature) source"
        :mooringMaritime="mooringMaritime" />
    </collapsible-panel>
    <collapsible-panel v-if="isEditableSource"
      :title="i18n.esCollapsiblePanelTitle(source.getEmissionSourceType())"
      v-debug:collapsibleSubSources
      :open="isOpen(EmissionSourcePanel.EMISSION_SOURCE_TYPE)"
      @open="openPanel(EmissionSourcePanel.EMISSION_SOURCE_TYPE)"
      @user-close="closePanel()">
      <error-warning-icon slot="aux"
        :reveal="displayFormProblems && !isOpen(EmissionSourcePanel.EMISSION_SOURCE_TYPE)"
        :showWarning="validationContext.getEmissionEditorWarning()"
        :showError="validationContext.getEmissionEditorError()" />
      <component :is="emissionEditorType"
        @warnings="onEmissionEditorWarningChange((boolean) $event)"
        @errors="onEmissionEditorErrorChange((boolean) $event)"
        @editSource="editSubSource((Integer) $event)"
        @resetSelected="resetSelectedSubSource()"
        :source="source"
        :eventBus="eventBus" />
    </collapsible-panel>
  </div>
  <modify-cancel-save
    class="modifyBar"
    :encumbered="hasValidationWarnings"
    :prevented="hasValidationErrors"
    :confirm="displayFormProblems"
    @confirm="setNotificationState((boolean) $event)"
    @cancel="cancel()"
    @try-save="trySave()"
    @save="save()">
    <div class="warningContainer" slot="encumbered">
      <div class="label">{{ i18n.esButtonSaveEncumberedText() }}</div>
      <div @click="closeWarning()" class="close"
        v-vector="img.iconClose()"></div>
    </div>
    <div class="errorContainer" slot="prevented">
      <div class="label">{{ i18n.esButtonSavePreventedText() }}</div>
      <div @click="closeError()" class="close"
        v-vector="img.iconClose()"></div>
    </div>
  </modify-cancel-save>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../../../components/input/validations.scss";
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";

.collapsible-warning {
  border: 2px solid var(--warning-color) !important;
}

.collapsible-error {
  border: 2px solid var(--error-color) !important;
}

.nameBlock {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  padding: 0px var(--spacer);
}

.singleColumn {
  width: $column-left-width;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.sectorTypeFieldSelect {
  flex-grow: 1;
}

.modifyBar {
  padding-bottom: var(--spacer);
  border-bottom: var(--separator);
}

.details {
  overflow: auto;
  max-height: calc(100vh - 230px);

  .collapsible-item {
    border-top: var(--half-separator);
    border-bottom: var(--half-separator);

    &:first-child {
      border-top: var(--separator);
    }
    &:last-child {
      border-bottom: var(--separator);
    }
  }
}
</style>
