<div>
  <horizontal-collapse :seek="(boolean) false">
    <div class="container" v-if="isSubSourceAvailable">
      <div class="content">
        <div class="row margin">
          <h1 class="title"
            v-debug:sourceListDetailEmissionSourceType>{{ i18n.esDetailTypeTitle(source.getEmissionSourceType()) }}</h1>
          <button v-debug:sourceListDetailButtonClose
             class="buttonClose"
             @click="close()">{{ i18n.esButtonClose() }}</button>
        </div>
        <component :is="emissionDetailEditorType"
          class="margin"
          @warnings="onDetailEditorWarningChange((boolean) $event)"
          @errors="onDetailEditorErrorChange((boolean) $event)"
          :source="source"
          :subSource="subSource"
          :selectedIndex="selectedIndex" />
      </div>
    </div>
  </horizontal-collapse>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
@import "../../../../horizontal-collapse.scss";

.container {
  width: $column-left-width;
  overflow: hidden;
}

.content {
  width: $column-left-width;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.margin {
  padding: 0px var(--spacer);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  flex-grow: 1;
}

.buttonClose {
  @include button-minimal;

  width: 100px;
  font-size: 13px;
}
</style>
