<minimal-input
  :showError="displayProblems && !isGeometryValid"
  :errorMessage="() -> i18n.esLocationGeometryError()">
  <validation-behaviour :errors="!isGeometryValid"
    :warnings="false"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />
  <input type="text"
    :placeholder="getPlaceholderText()"
    :value="locationString"
    v-debug:wktGeometry
    @input="updateFromDirectInput" />
</minimal-input>

<style scoped lang="scss">

</style>
