<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.InlandShippingCategory"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.MooringInlandShipping"/>

<div class="standardEmissionsContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input :label="i18n.esShippingDescription()"
    division="1fr 1fr"
    name="emissionSourceInlandStandardDescription"
    :errorValidation="v.descriptionV"
    :errorMessage="this::descriptionError">
    <input type="text"
      id="emissionSourceInlandStandardDescription"
      v-validate:descriptionV.input
      v-model="description"
      aria-label="inlandShippingDescripton"
      v-debug:emissionSourceInlandStandardDescription />
  </labeled-input>
  <labeled-input class="shipCategories"
    :label="i18n.esShippingStandardShipCode()"
    name="shipCategoryInput"
    division="1fr 1fr"
    :errorValidation="v.shipCodeV"
    :errorMessage="this::shipCategoryRequiredError">
    <select id="shipCategory"
      v-model="inlandShippingCategory"
      aria-label="inlandShippingCategory"
      v-debug:emissionSourceInlandShippingCategory>
      <option v-for="InlandShippingCategory ship in shipCategories" :value="ship.getCode()">{{ ship.getDescription() }}</option>
    </select>
  </labeled-input>
  <aer-inland-mooring-visits
    @errors='trackChildError("inlandMooringVisits", (boolean) $event)'
    @warnings='trackChildWarning("inlandMooringVisits", (boolean) $event)'
    :mooringInlandShipping="(MooringInlandShipping) ship" />
  <labeled-input id="shippingAverageResidenceTime"
   division="1fr 1fr"
   :label="i18n.esShippingAverageResidenceTime()"
   name="shippingAverageResidenceTime"
   :errorValidation="v.averageResidenceTimeV"
   :unit="i18n.unitSingularHour()"
   :errorMessage="this::averageResidenceTimeError">
   <input
     id="averageResidenceTimeInput"
     type="number"
     min="0"
     step="any"
     v-validate:averageResidenceTimeV.input
     v-model="averageResidenceTime"
     placeholder="0"
     aria-label="shippingAverageResidenceTime"
     v-debug:shippingAverageResidenceTime />
  </labeled-input>
  <labeled-input id="shippingShorePowerFactor"
   division="1fr 1fr"
   :label="i18n.esShippingShorePowerFactor()"
   name="shippingShorePowerFactor"
   :errorValidation="v.shorePowerFactorV"
   :unit="i18n.unitSingularPercentage()"
   :errorMessage="this::shorePowerFactorError">
   <input
     id="shippingShorePowerFactorInput"
     type="number"
     min="0.00"
     step="any"
     v-validate:shorePowerFactorV.input
     v-model="shorePowerFactor"
     placeholder="0"
     aria-label="shippingShorePowerFactor"
     v-debug:shippingShorePowerFactor />
  </labeled-input>
  <labeled-input id="shippingPercentageLaden"
   division="1fr 1fr"
   :label="i18n.esShippingPercentageLaden()"
   name="shippingPercentageLaden"
   :errorValidation="v.percentageLadenV"
   :unit="i18n.unitSingularPercentage()"
   :errorMessage="this::percentageLadenError">
   <input
     id="shippingPercentageLadenInput"
     type="number"
     min="0"
     step="any"
     v-validate:percentageLadenV.input
     v-model="percentageLaden"
     placeholder="0"
     aria-label="shippingPercentageLaden"
     v-debug:shippingPercentageLaden />
  </labeled-input>
</div>

<style scoped lang="scss">

.shipCategories {
  margin-bottom: var(--spacer);
}

.standardEmissionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

</style>
