<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.MooringInlandShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.StandardMooringInlandShipping"/>

<div v-if="isSourceAvailable()" class="shippingDetailContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <aer-inland-mooring-standard
    v-if='isESType(EmissionSourceType.SHIPPING_INLAND_DOCKED) && toggleSelect == MooringInlandShippingType.STANDARD'
    @errors='trackChildError("shippingInlandDocked", (boolean) $event)'
    @warnings='trackChildWarning("shippingInlandDocked", (boolean) $event)'
    :ship="(StandardMooringInlandShipping) subSource" />
</div>

<style scoped lang="scss">
.shippingDetailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.toggleButtons {
  margin-bottom: var(--spacer);
}
</style>
