@import "../../../variables.scss";

.toggleButtons {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: var(--row-height);
  margin-left: 10px;
  margin-right: 10px;

  .toggleButton {
    @include button-toggle;
    align-items: center;
    align-self: center;
    text-align: center;
  }
}

.inputRow {
  display: flex;
  flex-direction: row;
  line-height: $table-row-height;
  background: $color-background-value;

  .cell50 {
    flex-basis: 50%;
  }
  .label {
    padding: 0px 5px;
  }
  .inputBorder {
    border-right: 0.5px solid $back-color-field-labels;
  }
}

.barrierRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.vehicleRow2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vehicleRow3 {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
}

.vehicleEmissionRow {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.unit {
  margin-left: -20px;
  margin-right: 5px;
}

.numberInputUnit {
  padding-right: 20px;
}

.numberRight {
  text-align: right;
  padding-right: 5px;
}

.header {
  margin-top: var(--half-spacer);
}

.accent {
   font-weight: bold;
}
