<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.Vehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.VehicleType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.CustomVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.StandardVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.SpecificVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionFactors" />

<div v-if="isSourceAvailable()" class="roadDetailContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <div class="toggleButtons">
    <div class="toggleButton"
      tabindex="0"
      :class='map("active", selectedVehicleType == VehicleType.STANDARD)'
      v-debug:emissionSourceRoadToggleStandard
      @keyup.enter.space='setSelectedVehicleType(VehicleType.STANDARD)'
      @click='setSelectedVehicleType(VehicleType.STANDARD)'>{{ i18n.esRoadSelectStandard() }}</div>
    <div class="toggleButton"
      tabindex="0"
      :class='map("active", selectedVehicleType == VehicleType.CUSTOM || selectedVehicleType == VehicleType.SPECIFIC)'
      v-debug:emissionSourceRoadToggleCustom
      @keyup.enter.space='setSelectedVehicleType(VehicleType.CUSTOM)'
      @click='setSelectedVehicleType(VehicleType.CUSTOM)'>{{ i18n.esRoadSelectCustom() }}</div>
  </div>

  <vertical-collapse>
    <aer-road-custom
      v-if='selectedVehicleType == VehicleType.CUSTOM'
      @errors='trackChildError("detail", (boolean) $event)'
      @warnings='trackChildWarning("detail", (boolean) $event)'
      :customVehicles="(CustomVehicles) subSource"
      @switchVehicleType="switchVehicleTypeSpecific((String) $event)" />
  </vertical-collapse>
  <vertical-collapse>
    <aer-road-specific
      v-if='selectedVehicleType == VehicleType.SPECIFIC'
      @errors='trackChildError("detail", (boolean) $event)'
      @warnings='trackChildWarning("detail", (boolean) $event)'
      :specificVehicles="(SpecificVehicles) subSource"
      :year="year"
      :roadType="getRoadType()"
      @switchVehicleType="switchVehicleTypeCustom((EmissionFactors) $event)" />
  </vertical-collapse>
  <vertical-collapse>
    <aer-road-standard
      v-if='selectedVehicleType == VehicleType.STANDARD'
      @errors='trackChildError("detail", (boolean) $event)'
      @warnings='trackChildWarning("detail", (boolean) $event)'
      :standardVehicles="(StandardVehicles) subSource"
      :trafficDirection="source.getTrafficDirection()"
      :roadType="getRoadType()" />
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "road.scss";
@import "../../../vertical-collapse.scss";

.roadDetailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.toggleButtons {
  margin-bottom: var(--spacer);
}
</style>
