<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.road.TrafficDirection" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.Vehicles" />
<vue-gwt:import class="java.util.Map" />

<div class="singleColumn">
  <sub-source-validation-behaviour
    :errors="false"
    :warnings="false"
    :selectedIndex="selectedIndex"
    :subSources="roadSource.getSubSources()"
    @subSourceErrors="setSubSourceErrors((Map) $event)"
    @subSourceWarnings="setSubSourceWarnings((Map) $event)"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="displayProblems(true)" />

  <div v-if="toggleSelect != null">
    <div class="toggleButtons" >
      <div class="toggleButton"
        tabindex="0"
        :class='map("active", toggleSelect == TrafficDirection.BOTH)'
        v-debug:emissionSourceRoadToggleDirectionBoth
        @keyup.enter.space="setToggle(TrafficDirection.BOTH)"
        @click='setToggle(TrafficDirection.BOTH)'>{{ i18n.esRoadDrivingDirection(TrafficDirection.BOTH) }}</div>
      <div class="toggleButton"
        tabindex="0"
        :class='map("active", toggleSelect == TrafficDirection.A_TO_B)'
        v-debug:emissionSourceRoadToggleDirectionAToB
        @keyup.enter.space="setToggle(TrafficDirection.A_TO_B)"
        @click='setToggle(TrafficDirection.A_TO_B)'>{{ i18n.esRoadDrivingDirection(TrafficDirection.A_TO_B) }}</div>
      <div class="toggleButton"
        tabindex="0"
        :class='map("active", toggleSelect == TrafficDirection.B_TO_A)'
        v-debug:emissionSourceRoadToggleDirectionBToA
        @keyup.enter.space="setToggle(TrafficDirection.B_TO_A)"
        @click='setToggle(TrafficDirection.B_TO_A)'>{{ i18n.esRoadDrivingDirection(TrafficDirection.B_TO_A) }}</div>
    </div>
  </div>
  <i class="directionIcon" :class="directionIconName"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i><i class="path5"></i><i class="path6"></i><i class="path7"></i></i>

  <aer-modify-list
    :presenter="presenter"
    :selected="selected()"
    :enableImport="false"
    :enableNameLabels="false"
    :enableEdit="false"
    class="modifyToolbox" />

  <sub-source-empty-error
    :displayProblems="displayProblems"
    :subSources="source.getSubSources()" />

  <div>
    <vertical-collapse-group>
      <sub-source-validated-row v-for="(Vehicles source, idx) in roadSource.getSubSources())"
        :key="idx"
        :selected="isSelected(idx)"
        :errors="hasErrors(idx)"
        :warnings="hasWarnings(idx)">
        <aer-road-emission-row-editor @select="selectSource(idx, source)"
          :selected="isSelected(idx)"
          :source="source"
          :sectorId="roadSource.getSectorId()"
          v-debug='"sourcelistRow" + idx' />
       </sub-source-validated-row>
     </vertical-collapse-group>
  </div>
</div>

<style scoped lang="scss">
@import "road.scss";
@import "../../../vertical-collapse.scss";
@import "../../modify/styles.scss";

.directionIcon {
  font-size: 50px;
  text-align: center;
}
</style>
