<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.base.TimeUnit" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.input.LabeledInputComponent.RowType" />

<div>
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input :label="i18n.esRoadCustomNumberOfVehicles()"
    division="1fr 1fr"
    name="numberOfVehiclesInput"
    :errorValidation="v.numberOfVehiclesV"
    :errorMessage="this::numberOfVehiclesConversionError">
    <div class="numberOfVehiclesRow">
      <input id="numberOfVehiclesInput"
        type="number"
        min="0.00000"
        step="any"
        v-validate:numberOfVehiclesV.input
        v-model="numberOfVehicles"
        :placeholder="0"
        aria-label="numberOfVehicles"
        v-debug:numberOfVehiclesInput>
      <select id="timeUnit"
        v-model="timeUnit"
        aria-label="timeUnit"
        v-debug:timeUnit>
        <option v-for="TimeUnit tu in TimeUnit.values()" :value="tu.name()">{{ i18n.unitTime(tu) }}</option>
      </select>
    </div>
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../../../components/input/inputs.scss";
@import "../../../variables.scss";

.error-input {
  .numberOfVehiclesRow {
    margin-bottom: 0px;
  }
}

.numberOfVehiclesRow {
  display: flex;
  flex-direction: row;
  gap: var(--spacer);
  margin: var(--spacer);
  margin-left: 0px;
}
</style>
