<div>
  <div class="row"
    :class='map("selected", isRoadNetworkRowSelected)'
    @click="toggleNetwork()">
    <collapsible-button class="collapsible" :expanded="selected" />
    <div class="iconColumn"
      v-debug:roadNetworkIcon><i class="icon-traffic-network"></i></div>
    <div class="labelColumn"
      v-debug:roadNetworkDescription>{{ i18n.esRoadNetwork() }}</div>
  </div>
  <div class="road-network-sources">
    <vertical-collapse-group>
      <aer-emission-source-row :source="source"
        v-for="(EmissionSourceFeature source, index) in emissionSources"
        :key="source.getId()"
        class="item"
        @mouseenter.native="peekSource(source)"
        @mouseleave.native="unpeekSource(source)"
        @keyup.enter.space.native="selectSource(source)"
        @click.native="clickSource(source)"
        :class='map(e("selected", listContext.isSelected(source)), e("highlighted", roadNetworkContext.isHighlighted(source)))' />
    </vertical-collapse-group>
    <button v-if="areSourcesLimited"
      class="showAll"
      @click="increaseLimit()">{{ i18n.esRoadNetworkShowMoreSources(limitIncrement) }}</button>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../../variables.scss";
@import "../../../../../row-item.scss";
@import "../../../../../vertical-collapse.scss";

.showAll {
  @include button;
}

.road-network-sources {
  background: white;

  display: flex;
  flex-direction: column;
}

.item {
  margin-left: var(--spacer);
}

.highlighted {
  background: #f8ff8e;
  color: black;
}

.collapsible {
  margin: 0px 3px;
}

.row {
  &:first-child {
    border-top: var(--half-separator);
  }
  &:last-child {
    border-bottom: var(--half-separator);
  }
}
</style>
