<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.AssessmentArea"/>

<div>
  <h3 id="results-summary-table-intro">{{ intro }}</h3>

  <table aria-describedby="results-summary-table-intro">
    <thead>
    <tr>
      <th scope="col"></th>
      <th v-for="ResultStatisticType type of resultStatisticTypes"
          :key="type.name()" class="statistic" scope="col">
        {{ i18n.resultsStatistic(type, displayType) }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ i18n.pdfResultSummaryTableTotal() }}</td>
      <td v-for="ResultStatisticType type of resultStatisticTypes"
          :key="type.name()">
        {{ formatValueFor(totalStatistics, type) }}
      </td>
    </tr>
    </tbody>
  </table>

  <table aria-describedby="results-summary-table-intro" v-if="areas.length > 0">
    <thead>
    <tr>
      <th scope="col">{{ i18n.pdfResultSummaryTablePerArea() }}</th>
      <th v-for="ResultStatisticType type of resultStatisticTypes"
          :key="type.name()" class="statistic" scope="col">
        {{ i18n.resultsStatistic(type, displayType) }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="SituationResultsAreaSummary area of areas">
      <td>{{ area.getAssessmentArea().getName() }} ({{ area.getAssessmentArea().getId() }})</td>
      <td v-for="ResultStatisticType type of resultStatisticTypes"
          :key="type.name()">
        {{ formatValueFor(area.getStatistics(), type) }}
      </td>
    </tr>
    </tbody>
  </table>

  <div v-if="omittedAreas.length > 0">
    <h4>{{ i18n.pdfResultSummaryTableOmittedAreaTitle() }}</h4>
    <ul>
      <li v-for="AssessmentArea area in omittedAreas">{{ area.getName() }}</li>
    </ul>
  </div>
  <result-summary-calculation-points-table :eventBus="eventBus"/>
</div>

<style lang="scss" scoped>
  @import "../pdf-table.scss";

  table {
    margin-top: 30px;
  }

  .statistic {
    width: calc(100% / 7);
  }
</style>
