<vue-gwt:import class="com.google.gwt.resources.client.DataResource"/>

<div>
  <h3>{{ i18n.pdfResultSummaryMapIntro() }}</h3>

  <div class="container">
    <ol3-map :eventBus="eventBus" ref="map"/>
  </div>
  <div class="legends">
    <layer-legend :legend="legend" class="legend"/>
    <div class="legend">
      <div v-for="DataResource src in markerLegend.keySet()" class="legend-item">
        <img v-bind:src="src.getSafeUri().asString()" v-bind:alt="markerLegend.get(src)"/><span>{{ markerLegend.get(src) }}</span>
      </div>
    </div>
  </div>
  <p>{{ i18n.pdfResultSummaryMapOutro() }}</p>
</div>


<style lang="scss" scoped>
.container {
  border: solid 1px #000000;
  width: var(--page-max-width);
  height: calc(var(--page-max-height) * 0.7);
  margin-bottom: var(--spacer);
}

.legends {
  width: var(--page-max-width);
  display: flex;
  flex-direction: row;
}

.legend {
  width: 50%;
  flex-direction: column;

  &-item {
    //height: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    img {
      height: 25pt;
    }
  }
}
</style>
