<div class="infoRow">
  <slot name="label">
    <div v-debug:infoRowLabel class="label">{{ label }}</div>
  </slot>
  <slot>
    <div v-debug:infoRowValue>{{ value }}</div>
  </slot>
</div>

<style lang="scss" scoped>
.infoRow {
  color: var(--text-color);
  padding: 0px var(--spacer);
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: var(--spacer);
  align-items: center;
}

.label {
  align-self: flex-start;
}
</style>
