<vue-gwt:import class="nl.overheid.aerius.shared.domain.context.EmissionResultValueDisplaySettings.DepositionValueDisplayType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext"/>

<div class="emissionResultInfoContainer">
  <basic-info-row
    :label="i18n.infoPanelDepositionBackground()"
    :value='backgroundDeposition' />
  <template v-if="hasCalculations">
    <div class="padding">{{ i18n.infoPanelDepositionSource() }}</div>
    <basic-info-row v-for="SituationContext situation in scenarios"
      :label='situation.getName()'
      :value="getEmissionResult(situation.getId())" />
  </template>
</div>

<style scoped lang="scss">
@import "../../vertical-collapse.scss";

.emissionResultInfoContainer {
  display: flex;
  flex-direction: column;
  padding: var(--spacer) 0px;
  min-width: var(--info-panel-width);
}

.padding {
  padding: var(--spacer) var(--spacer);
}

</style>
