<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.HabitatInfo"/>

<div class="habitatInfoContainer">
  <div class="habitatRow strong">
    <div>{{ i18n.infoPanelHabitatTypeCode() }}</div>
    <div class="right">{{ i18n.infoPanelHabitatKdw() }}</div>
    <div class="right">{{ i18n.infoPanelHabitatOverlap() }}</div>
  </div>
  <div v-if="habitatTypeInfo.length == 0"
    class="noResults">{{ i18n.infoPanelNoResults() }}</div>
  <div>
    <div v-for="(HabitatInfo habitatInfo, index) in habitatTypeInfo"
      class="habitatRow select-view-row"
      :class='map("selected", isSelected(habitatInfo))'
      @click="rowToggle(habitatInfo)"
      @mouseover="showHabitatInfoPanel(true, habitatInfo)"
      @mouseout="showHabitatInfoPanel(false, habitatInfo)">
      <div>{{ habitatInfo.getCode() }} - {{ habitatInfo.getName() }}</div>
      <div class="right">{{ i18n.decimalNumberFixed(getCriticalLevel(habitatInfo), 2) }}</div>
      <div class="right">{{ i18n.decimalNumberFixed(getOverlap(habitatInfo), 1) }} {{ i18n.unitSingularHectares() }}</div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../variables.scss";
@import "../../vertical-collapse.scss";

.habitatInfoContainer {
  display: flex;
  flex-direction: column;
  padding: var(--spacer) 0px;
  width: var(--info-panel-width);
}

.habitatRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0px var(--spacer);

  div {
    pointer-events: none;
  }
}

.noResults {
  padding: 0px var(--spacer);
}

.select-view-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background: white;
  cursor: pointer;

  &.selected {
    background: var(--theme-color-light);
  }

  &:hover {
    background: var(--theme-color-light);
  }
}

.strong {
  font-weight: bold;
}

.right {
  text-align: right;
}

.habitatTypePopup {
  width: $info-panel-tooltip-width;
  position: fixed;
  border-radius: 4px;
  border: 1px solid #ccc;
  z-index: 9998;
  background-color: #fff;
  overflow: hidden;
}

</style>

