<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.Natura2000Info"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.HabitatInfo"/>

<div class="infoContainer">
  <vertical-collapse>
    <div v-if="!context.hasSelection()">
      <div class="noSelectionText">{{ i18n.infoPanelNoSelectionText() }}</div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="context.hasSelection()">
      <basic-info-row
        :label="i18n.infoPanelReceptorIdLabel()"
        :value="context.getReceptor()"
        v-debug:infoPanelReceptorId />
      <basic-info-row
        :label="i18n.infoPanelCoordinateLabel()"
        :value="coordinate"
        v-debug:infoPanelCoordinate />
      <div class="divider"></div>
      <vertical-collapse>
        <div v-if="context.isLoading()">
          <div class="loading">{{ i18n.infoPanelLoadingText() }}</div>
        </div>
      </vertical-collapse>
      <collapsible-panel :title="i18n.infoPanelDespositionTitle()"
        class="collapsible deposition"
        v-if="hasReceptorInfo"
        :contentVisible="!context.isLoading()"
        v-debug:collapsibleLocation>
        <emission-result
          class="content"
          :emissionResult="context.getReceptorInfo().getEmissionResultInfo()" />
      </collapsible-panel>
      <collapsible-panel :title="i18n.infoPanelHabitatTypeTitle()"
        class="collapsible"
        v-if="hasReceptorInfo"
        :contentVisible="!context.isLoading()"
        v-debug:collapsibleLocation>
        <habitat-type class="content"
          :eventBus="eventBus"
          :habitatTypeInfo="context.getReceptorInfo().getHabitatTypeInfo()" />
      </collapsible-panel>
      <vertical-collapse>
        <div v-if="!context.isLoading() && hasReceptorInfo && hasAreas">
          <div class="areaLabel">{{ i18n.infoPanelAreaInfoTitle() }}</div>
        </div>
      </vertical-collapse>
      <template v-if="hasReceptorInfo && hasNaturaInfo">
        <vertical-collapse-group>
          <collapsible-panel v-for="Natura2000Info natura2000Info in context.getReceptorInfo().getNaturaInfo()"
            :key="natura2000Info.getId()"
            class="collapsible"
            v-if="hasReceptorInfo"
            :contentVisible="!context.isLoading()"
            :title="natura2000Info.getName()"
            @user-open="onOpenNatureArea(natura2000Info)"
            @user-close="onCloseNatureArea(natura2000Info)"
            v-debug:collapsibleLocation>
            <area-info class="content"
              :eventBus="eventBus"
              :natura2000Info="natura2000Info" />
          </collapsible-panel>
        </vertical-collapse-group>
      </template>
    </div>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../vertical-collapse.scss";

.noSelectionText {
  padding: 0px var(--spacer) var(--spacer);
}

.collapsible {
  background-color: var(--back-color);
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);

  &.deposition {
    border-bottom: none;
  }
}

.areaLabel {
  padding: var(--spacer);
}

.loading {
  padding: var(--spacer);
  background: var(--theme-color-light);
  margin-bottom: var(--spacer);
}

.warn {
  padding: var(--spacer);
  color: white;
  background: var(--warning-color);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  padding: var(--spacer) 0px 0px;
  gap: var(--half-spacer);
}

.divider {
  padding-top: var(--spacer);
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: var(--spacer);
}

.content {
  background: white
}
</style>
