<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.base.TimeUnit"/>

<div class="movementRow">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <div class=movementHeader>{{ i18n.esMovement(movementType) }}</div>
  <div class="rowHeader header">
    <div>{{ i18n.esMovementAmountOfShips() }}</div>
    <div>{{ i18n.esMovementLoaded() }}</div>
  </div>
  <div>
    <div class="row">
      <input-with-unit
        :errorValidation="v.movementV">
        <input :id='"shipMovements_" + movementType.name()'
          type="number"
          min="0"
          step="any"
          v-model="movement"
          v-validate:movementV.input
          aria-label='"shipMovements_" + movementType.name()'
          v-debug='"shipMovements_" + movementType.name()' />
      </input-with-unit>
      <select id="timeUnit"
        v-model="timeUnit"
        step=""
        aria-label="timeUnit"
        v-debug:timeUnit>
        <option v-for="TimeUnit tu in TimeUnit.values()" :value="tu.name()">{{ i18n.unitTime(tu) }}</option>
      </select>
      <input-with-unit
        :unit="i18n.unitSingularPercentage()"
        :errorValidation="v.percentageLadenV">
        <input :id='"shipPercentageLaden_" + movementType.name()'
          type="number"
          min="0"
          max="100"
          step="any"
          v-model="percentageLaden"
          v-validate:percentageLadenV.input
          aria-label='"shipPercentageLaden_" + movementType.name()'
          v-debug='"shipMovements_" + movementType.name()' />
      </input-with-unit>
    </div>
    <input-error name="movementError"
      :errorValidation="v.movementV"
      :errorMessage="this::movementError" />
    <input-error name="percentageLadenError"
      :errorValidation="v.percentageLadenV"
      :errorMessage="this::percentageLadenError" />
  </div>
</div>

<style scoped lang="scss">
@import "../../../../../variables.scss";

.movementRow {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.movementHeader {
  margin-top: var(--spacer);
  font-weight: bold;
}

.header {
  padding-left: var(--half-spacer);
  align-items: center;
}

.rowHeader {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 4px;
  margin-block-start: 2px;
  margin-block-end: 2px;
}

.row {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  gap: 4px;
  margin-block-start: 2px;
  margin-block-end: 2px;

  border-top: var(--half-separator);
  border-bottom: var(--half-separator);

  &:first-child {
    border-top: var(--separator);
  }
  &:last-child {
    border-bottom: var(--separator);
  }

  border-color: var(--back-color) !important;

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

</style>
