<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.InlandShippingCategory"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.shipping.inland.inland.InlandMovementComponent.InlandMovementType"/>

<div class="standardEmissionsContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input :label="i18n.esShippingDescription()"
    division="1fr 1fr"
    name="emissionSourceInlandStandardDescription"
    :errorValidation="v.descriptionV"
    :errorMessage="this::descriptionError">
    <input type="text"
      id="emissionSourceInlandStandardDescription"
      v-validate:descriptionV.input
      v-model="description"
      aria-label="descripton"
      v-debug:emissionSourceInlandStandardDescription />
  </labeled-input>
  <labeled-input class="shipCategories"
    :label="i18n.esMaritimeStandardShipCode()"
    name="shipCategoryInput"
    division="1fr 1fr"
    :errorValidation="v.shipCodeV"
    :errorMessage="this::shipCategoryError"
    :showError="invalidShipWaterwayCombo">
    <select id="shipCategory"
      v-model="inlandShippingCategory"
      aria-label="inlandShippingCategory"
      v-debug:emissionSourceInlandShippingCategory>
      <option v-for="InlandShippingCategory ship in shipCategories" :value="ship.getCode()">{{ ship.getDescription() }}</option>
    </select>
  </labeled-input>

  <aer-inland-shipping-movements-editor
    :source="standardInland"
    :movementType="InlandMovementType.A_TO_B"
    @errors='trackChildError("movementAtoB", (boolean) $event)'
    @warnings='trackChildWarning("movementAtoB", (boolean) $event)' />
  <aer-inland-shipping-movements-editor
    :source="standardInland"
    :movementType="InlandMovementType.B_TO_A"
    @errors='trackChildError("movementBtoA", (boolean) $event)'
    @warnings='trackChildWarning("movementBtoA", (boolean) $event)' />
</div>

<style scoped lang="scss">

.shipCategories {
  margin-bottom: var(--spacer);
}

.standardEmissionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

</style>
