<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ScenarioResultType"/>

<div class="main">
  <simple-listbox :enabled="false"
    :optionsArr="exportOptions"
    v-debug:exportOptions
    :selected="ScenarioResultType.PROJECT_CALCULATION">
    <template slot-scope="{ ScenarioResultType option }">{{ i18n.resultsDropdown(option) }}</template>
  </simple-listbox>
  <p>{{ i18n.exportPDFSituationsLabel() }}</p>
  <template v-for="(SituationContext s, index) in proposedSituations">
    <labeled-input :label="s.getName()">
      <checkbox v-debug='"exportSituation-" + index' class="situation-row-checkbox" :value="true" :disabled="true"/>
    </labeled-input>
  </template>
  <div v-if="proposedSituations.isEmpty()" class="error">
    <div>{{ i18n.exportPDFSituationsMissing() }}</div>
  </div>
  <export-meta-data ref="exportMetaData"
    :validationRequired="true" />
</div>


<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../../application/components/input/inputs.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.situation-row {
  display: flex;
  gap: var(--half-spacer);
  flex-direction: row;
  height: var(--row-height);
  width: 100%;
}

.situation-row-checkbox {
  min-width: var(--row-height);
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

textarea {
  min-height: 5em;
}
</style>
