<vue-gwt:import class="nl.overheid.aerius.shared.domain.calculation.JobType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />

<div class="singleColumn">
  <h1 class="margin">{{ i18n.exportTitle() }}</h1>
  <div class="mainContent margin">
    <div class="toggleButtons">
      <div class="toggleButton"
        tabindex="0"
        :class='map("active", toggleSelect == JobType.CALCULATION)'
        v-debug:exportToggleGML
        @keyup.enter.space='setToggle(JobType.CALCULATION)'
        @click='setToggle(JobType.CALCULATION)'>{{ i18n.exportToggleGML() }}</div>
      <div class="toggleButton"
        tabindex="0"
        :class='map("active", toggleSelect == JobType.REPORT)'
        v-debug:exportTogglePDF
        @keyup.enter.space='setToggle(JobType.REPORT)'
        @click='setToggle(JobType.REPORT)'>{{ i18n.exportToggleReport() }}</div>
    </div>
    <export-gml v-if='toggleSelect == JobType.CALCULATION'
      class="exportGml"
      ref="exportGMLView"
      :situations="situations" />
    <export-pdf v-if='toggleSelect == JobType.REPORT' ref="exportPDFView">
      <!--  show complete form -->
    </export-pdf>
    <labeled-input :label= "i18n.exportEmailLabel()"
      name="exportDetailsEmail"
      :errorValidation="v.emailV"
      :errorMessage="this::emailError">
      <input v-debug:exportEmail
        :placeholder="i18n.exportEmailPlaceholder()"
        type="email"
        v-model="email">
    </labeled-input>
    <div class="export">
      <button v-debug:buttonCalculate
        :disabled="exportDisabled()"
        class="buttonExport"
        @click='startExport()'>{{ i18n.exportButton() }}</button>
    </div>
    <div v-show="hasExportWithoutRequiredEmissions"
      class="error">{{ i18n.exportErrorNoEmissions() }}</div>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../components/input/inputs.scss";

.singleColumn {
  width: $column-left-width;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacer);
}

h1 {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.mainContent {
  margin-top: 11px;

  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.exportGml {
  margin-top: var(--spacer);
}

.export {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
  margin-top: var(--spacer);

  display: flex;
  justify-content: flex-end;
}

.buttonExport {
  @include button;
  align-items: center;
}

.toggleButtons {
  display: flex;
  height: var(--row-height);

  .toggleButton {
    @include button-toggle;
    align-items: center;
    align-self: center;
    flex-basis: 50%;
    text-align: center;
  }
}

.error {
  padding: var(--spacer) var(--half-spacer);
  color: white;
  background-color: var(--error-color);
}

</style>
