<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext"/>

<div>
  <div class="exportGML">
    <div>{{ i18n.exportGMLScenario() }}</div>
    <div>{{ i18n.exportGMLExport() }}</div>
    <div>{{ i18n.exportGMLIncludingResults() }}</div>
  </div>
  <div v-for="(SituationContext s, index) in situations"
    class="exportGML exportRow">
    <div>{{ s.getName() }}</div>
    <checkbox
      :value="true"
      v-debug='"exportSituation-" + index'
      :disabled="true"></checkbox>
    <checkbox
      :value="isIncludingResults(s.getId())"
      @input="updateIncludingResults((boolean) $event, s.getId())"
      v-debug='"includingResults-" + index'></checkbox>
  </div>
  <div class="extraInfoRow">
    <div>{{ i18n.exportGMLWithMetaData() }}</div>
    <checkbox
      :value="includeScenarioMetaData"
      @input="toggleIncludeScenarioMetaData((boolean) $event)"
      v-debug:includingExtraInfoToggle></checkbox>
  </div>
  <export-meta-data
    v-show="includeScenarioMetaData"
    ref="exportMetaData"
    :validationRequired="includeScenarioMetaData"/>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../components/input/inputs.scss";

.exportGML {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
}

.exportRow {
  height: var(--row-height);
  margin-bottom: var(--spacer);
}

.extraInfoRow {
  display: grid;
  grid-template-columns: 7fr 3fr;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);

  div {
    font-weight: bold;
  }
}

</style>
