<div class="buildingContainer" v-if="isBuildingAvailable">
  <feature-heading
    :feature="building"
    backColor="white"
    foreColor="black"
    :eventBus="eventBus"
    :title="buildingTitle" />

  <labeled-input :label="i18n.buildingLabelName()"
    class="section"
    name="label" >
    <input type="text" v-debug:label
      v-model="label"
      :placeholder="i18n.buildingLabelName()"
      :aria-label="i18n.buildingLabelName()" />
  </labeled-input>
  <collapsible-panel :title="i18n.buildingLocationPanelTitle()"
    class="locationSpecification"
    :open="(boolean) true"
    v-debug:collapsibleLocationSpecification>
    <building-location-editor
      @errors="onBuildingErrorsChange((boolean) $event)"
      @warnings="onBuildingWarningsChange((boolean) $event)"
      :eventBus="eventBus"
      :building="building" />
  </collapsible-panel>
  <modify-cancel-save
    class="modifyBar"
    :encumbered="locationWarnings"
    :prevented="locationErrors"
    :confirm="confirmState"
    @confirm="setConfirmState((boolean) $event)"
    @cancel="cancel()"
    @save="save()">
    <div class="warningContainer" slot="encumbered">
      <div>{{ i18n.esButtonSaveEncumberedText() }}</div>
    </div>
  </modify-cancel-save>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";
@import "../../../../components/input/inputs.scss";

.section {
  padding: 0px var(--spacer);
}

.locationSpecification {
  border-top: var(--separator);
  border-bottom: var(--separator);
}

.warningContainer {
  background: var(--warning-color);

  div {
    padding: var(--spacer) var(--half-spacer);
    color: white;
  }
}

.buildingContainer {
  width: $column-left-width;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.modifyBar {
  padding-bottom: var(--spacer);
  border-bottom: var(--separator);
}
</style>
