<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>

<div>
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasEnvelope && (isBuildingRatioViolated || isBuildingDimensionViolated)"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <vertical-collapse>
    <div class="error" v-if="isInvalidGeometry()">
      <div>{{ i18n.buildingLocationEnvelopeInvalid() }}</div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="envelope != null" class="envelopeContainer">
      <div class="row margin">
        <div class="label">{{ i18n.buildingLocationDimensionsLength() }}</div>
        <div v-debug:buildingLength>{{ buildingLength }} <span v-if="isBuildingLengthCorrected"
          :title="i18n.buildingLocationDimensionLengthCorrectedMessage()"
          class="correctionWarning">({{ correctedBuildingLength }})</span></div>
      </div>
      <div class="row margin">
        <div class="label">{{ i18n.buildingLocationDimensionsWidth() }}</div>
        <div v-debug:buildingWidth>{{ buildingWidth }} <span v-if="isBuildingWidthCorrected"
          :title="i18n.buildingLocationDimensionWidthCorrectedMessage()"
          class="correctionWarning">({{ correctedBuildingWidth }})</span></div>
      </div>

      <div class="row margin">
        <div class="label">{{ i18n.buildingLocationDimensionsHeight() }}</div>
        <div v-debug:buildingHeight>{{ buildingHeight }} <span v-if="isBuildingHeightCorrected"
          :title="i18n.buildingLocationDimensionHeightCorrectedMessage()"
          class="correctionWarning">({{ correctedBuildingHeight }})</span></div>
      </div>

      <div class="row margin">
        <div class="label">{{ i18n.buildingLocationDimensionsOrientation() }}</div>
        <div v-debug:buildingOrientation>{{ buildingOrientation }}</div>
      </div>

      <vertical-collapse>
        <div v-if="isBuildingRatioViolated" class="warningContainer">
          <div class="warning">{{ i18n.buildingLocationRatioViolationWarning(formattedBuildingRatio) }}</div>
        </div>
      </vertical-collapse>

      <vertical-collapse>
        <div v-if="isBuildingDimensionViolated" class="warningContainer">
          <div class="warning">{{ i18n.buildingLocationDimensionsExceededWarning() }}</div>
        </div>
      </vertical-collapse>

      <building-preview :envelope="envelope"
        :backgroundColor="backgroundColor" />
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../vertical-collapse.scss";

.warning {
  background: var(--warning-color);
  color: white;
  padding: var(--spacer);
  margin-top: var(--spacer);
}

.correctionWarning {
  color: var(--warning-color);
  text-decoration: underline;
}

.envelopeContainer {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--half-spacer);

  .label {
    width: 50%;
  }
}

.error {
  color: white;
  background-color: var(--error-color);

  div {
    padding: var(--spacer) var(--half-spacer);
  }
}
</style>
