<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>

<div class="locationContainer">
  <validation-behaviour :errors="v.invalid || !isValidWktGeometry() || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <div class="explain">{{ i18n.buildingLocationDrawExplain() }}</div>
  <div class="row tools">
    <div class="grow">{{ i18n.buildingLocationToolLabel()}}</div>
    <tooltip :title="i18n.buildingLocationPolygonLabel()">
      <button-icon :aria-label="i18n.buildingLocationPolygonLabel()"
        @select="addPolygonBuilding()"
        v-bind:class='map("active", isPolygonBuilding)'
        iconClass="icon-btn-draw-polygone"
        fontSize="26px"
        :inline="true"
        v-debug:circleButton />
    </tooltip>
    <!-- Disabled until further notice
    <tooltip :title="i18n.buildingLocationCircleLabel()">
      <button-icon :aria-label="i18n.buildingLocationCircleLabel()"
        @select="addCircleBuilding()"
        v-bind:class='map("active", isCircularBuilding)'
        iconClass="icon-btn-building-circular"
        fontSize="26px"
        :inline="true"
        v-debug:polygonButton />
    </tooltip>
    -->
  </div>

  <!-- Enable for bag search -->
  <template v-if="false">
    <div class="explain">{{ i18n.buildingLocationGeometryBAGLabel() }}</div>
    <input type="text"
      v-model="bagSearchQuery"
      :placeholder="i18n.buildingLocationGeometryBAGPlaceholder()">
  </template>

  <div class="explain" v-if="isPolygonBuilding">{{ i18n.buildingLocationGeometryWKTLabel() }}</div>
  <div class="explain" v-else-if="isCircularBuilding">{{ i18n.buildingLocationGeometryCenterLabel() }}</div>
  <div>
    <input type="text"
      v-model="wktGeometry"
      :placeholder="isCircularBuilding ? i18n.buildingLocationGeometryCenterPlaceholder() : i18n.buildingLocationGeometryWKTPlaceholder()">
    <vertical-collapse>
      <div class="error" v-if="showGeometryError">
        <div>{{ i18n.buildingLocationGeometryInvalid() }}</div>
      </div>
    </vertical-collapse>
  </div>

  <vertical-collapse>
    <labeled-input v-if="isCircularBuilding"
      :label="i18n.buildingLocationRadius()"
      name="buildingRadius"
      division="1fr 1fr"
      :transparent="true"
      :unit="i18n.unitSingularMeter()">
      <input id="buildingRadius"
        type="number"
        :step="OPSLimits.SOURCE_HEIGHT_PRECISION"
        v-model="radius"
        :placeholder="0"
        v-debug:buildingRadius>
    </labeled-input>
  </vertical-collapse>

  <labeled-input :label="i18n.buildingLocationHeight()"
    name="buildingHeight"
    division="1fr 1fr"
    :transparent="true"
    :unit="i18n.unitSingularMeter()"
    :showError="v.heightV.invalid"
    :errorMessage="() -> getHeightValidationError()">
    <input id="buildingHeight"
      type="number"
      :min="OPSLimits.SOURCE_EMISSION_HEIGHT_MINIMUM"
      :step="OPSLimits.SOURCE_HEIGHT_PRECISION"
      v-model="buildingHeight"
      :placeholder="OPSLimits.SOURCE_EMISSION_HEIGHT_MINIMUM"
      v-validate:heightV.input
      :placeholder="0"
      v-debug:buildingHeight>
  </labeled-input>

  <building-envelope
    @errors='trackChildError("envelope", (boolean) $event)'
    @warnings='trackChildWarning("envelope", (boolean) $event)'
    backgroundColor="var(--theme-color-light)"
    :height="building.getHeight()"
    :forgiveHeightWarning="false"
    :geometry="drawGeometry" />
</div>

<style lang="scss" scoped>
@import "../../../../vertical-collapse.scss";

.row {
  display: flex;
  align-items: center;
}

.tools {
  min-height: var(--row-height-generous);
}

.grow {
  flex-grow: 1;
}

.locationContainer {
  padding: var(--half-spacer) var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  flex-grow: 1;
}

.explain {
  font-style: italic;
}

.error {
  color: white;
  background-color: var(--error-color);

  div {
    padding: var(--spacer) var(--half-spacer);
  }
}
</style>
