<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmLodgingCategory"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmLodgingSystemDefinition"/>

<div>
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <div class="row header">
    <div class="rav">{{ i18n.esFarmLodgingStandardLodgingCode() }}</div>
    <div>{{ i18n.esFarmLodgingStandardNumberOfAnimals() }}</div>
    <div>{{ i18n.esFarmLodgingStandardSystemDefinitionCode() }}</div>
  </div>

  <minimal-input>
    <div class="row">
      <suggest-listbox v-debug:lodgingCodes
        class="rav"
        :class='map(e("error-input", v.farmLodgingCodeV.error))'
        :modal-width="350"
        :modal-offset="0"
        :options="lodgingCodes"
        :selectedValue="standardFarmLodging.getFarmLodgingCode()"
        @empty-select="unselectFarmLodgingCode()"
        @select-value='selectFarmLodgingCode((String) $event)' />
      <div :class='map(e("error-input", v.numberOfAnimalsV.error))'>
        <input v-debug:numberOfAnimals
          class="input"
          id="numberOfAnimals"
          type="number"
          v-validate:numberOfAnimalsV.input
          min="0"
          v-model="numberOfAnimals"
          aria-label="numberOfAnimals"  />
      </div>
      <div :class='map(e("error-input", v.systemDefinitionCodeV.error))'>
        <simple-listbox v-debug:bwlCodeListBox
          class="input"
          :options="farmLodgingSystemDefinitions"
          :keyFunction="func(v -> ((FarmLodgingSystemDefinition) v).getCode())"
          :nameFunction="func(v -> ((FarmLodgingSystemDefinition) v).getName())"
          :selected="lodgingSystemDefinitionCode"
          @select='selectLodgingSystemDefinition((FarmLodgingSystemDefinition) $event)' />
      </div>
    </div>
    <template slot="error">
      <input-error
        :showError="v.farmLodgingCodeV.error"
        :errorMessage="() -> i18n.validationRequired()" />
      <input-error
        :showError="v.numberOfAnimalsV.error"
        :errorMessage="() -> numberOfAnimalsError()" />
      <input-error
        :showError=" v.systemDefinitionCodeV.error"
        :errorMessage="() -> i18n.validationRequired()" />
    </template>
  </minimal-input>

  <aer-farmlodging-measure-editor
    @errors='trackChildError("measures", (boolean) $event)'
    @warnings='trackChildWarning("measures", (boolean) $event)'
    :standardFarmLodging="standardFarmLodging"
    :farmLodgingCategory="selectedFarmLodgingCategory" />
  <div class="detailHeader">{{ i18n.esLodgingDetailEmission() }}</div>
  <aer-farmlodging-detail-header />
  <aer-farmlodging-detail-standard :source="standardFarmLodging" />
</div>

<style scoped lang="scss">
@import "../farmlodging.scss";

.row {
  .rav {
    grid-column: 1/3;
  }
}
</style>
