<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.FarmlandActivity"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.FarmlandType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div class="margin">
  <div class="headertitle">{{ i18n.esFarmlandDetailTitle() }}</div>
  <div v-for="(FarmlandActivity row, index) in source.getSubSources()">
   	<div v-debug='"farmlandDetailActivity-" + row.getActivityCode()'>
      {{ i18n.esFarmlandDetailEmission(i18n.esFarmlandType(FarmlandType.safeValueOf(row.getActivityCode()))) }}
    </div>
    <div v-for="(Substance substance, index) in substances" class="row">
      <div class="column25"
        v-debug:farmlandDetailEmissionSubstance>{{ substance.name() }}</div>
      <div class="column25 numberRight"
        v-debug:farmlandDetailEmission>{{ MessageFormatter.formatEmissionWithoutUnitSmart(row.getEmission(substance)) }}</div>
      <div class="column50"
        v-debug:farmlandDetailEmissionUnit>{{ MessageFormatter.getEmissionUnitSmart(row.getEmission(substance)) }}</div>
    </div>
    <br />
  </div>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";

.margin {
  margin-left: $column-margin;
  margin-right: $column-margin;
}

.headertitle {
  margin-top: 12px;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .column50 {
    flex-basis: 50%;
  }

  .column25 {
    flex-basis: 25%;
  }
}
</style>
