<a @click.prevent="onLogoClick()" class="logo">
  <img v-bind:src="img.logo().getSafeUri().asString()" />
</a>

<style scoped lang="scss">
.logo {
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  cursor: pointer;

  box-sizing: border-box;

  img {
    transition: filter 0.15s ease-out;

    &:hover {
      filter: saturate(1.5);
    }
  }
}
</style>
