<!-- a html button has keydown events (rather than keyup) - change with div and add accessibility? (role, aria etc.) -->
<button class="btn--icon"
  role="button"
  @click="select()"
  @keydown.enter.space="select()"
  :class='map(e("active", pressed), e("inline", inline))'
  tabindex="0">
  <i class="icon"
    :style='map("font-size", fontSize)'
    :class="iconClass"
    aria-hidden="true"></i><slot />
</button>

 <style scoped lang="scss">
 @import "../../variables.scss";

.btn--icon {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--dark-grey);
  padding: 0px;
  outline-offset: -2px;
  min-width: 50px;
  transition: color var(--anim), background var(--anim);
  align-self: stretch;
  display: grid;
  place-items: center;

  i {
    font-size: 20px;
  }

  &:disabled {
    color: var(--disabled-color) !important;
    cursor: auto !important;
  }

  &:focus:enabled:not(.active) {
    background: var(--theme-color);
  }
  &:hover:enabled, &.active {
    color: white;
    background: var(--theme-color) !important;
    border-radius: 3px;
  }
  &:focus:enabled:not(:hover) {
    background: none;
  }
  &.inline {
    /** Don't remove, this is for an explicit _inline_ button */
    border-radius: 0px !important;
  }
}

.btn--icon[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
}
</style>
