<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.HeatContentType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>

<div class="emission-source-card">
  <div class="title">
    <aer-styled-point :feature="source" :backColor="sectorColor"/>
    <div>{{ sectorGroup }} | {{ getSectorDescription() }}</div>
  </div>
  <div class="common-details">
    <div class="common-details-column">
      <div class="common-details-row">
        <span class="header">{{ i18n.esLabelName() }}</span>
        <span class="content">{{ source.getLabel() }}</span>
      </div>
      <div class="common-details-row" v-if="location != null">
        <span class="header">{{ i18n.esLocation() }}</span>
        <span class="content">{{ location }}</span>
      </div>
      <div class="common-details-row" v-if="!source.getEstablished().isEmpty()">
        <span class="header">{{ i18n.sourceEstablished() }}</span>
        <span class="content">{{ established() }}</span>
      </div>
      <div class="common-details-row" v-if="characteristics != null">
        <span class="header">{{ i18n.sourceHeatContentType() }}</span>
        <span class="content">{{ i18n.heatContentType(characteristics.getHeatContentType()) }}</span>
      </div>
      <div class="common-details-row" v-if="characteristics != null">
        <span class="header">{{ i18n.sourceDiurnalVariationLabel() }}</span>
        <span class="content" :class="diurnalVariationClass">{{ diurnalVariation }}</span>
      </div>
    </div>
    <div class="common-details-column">
      <div class="common-details-row" v-if="isBuildingInfluence()">
        <span class="header">{{ i18n.buildingLabelDefaultPrefix("") }}</span>
        <span class="content">{{ building }}</span>
      </div>
      <div class="common-details-row" v-if="characteristics != null">
        <span class="header">{{ i18n.sourceEmissionHeightLabel() }}</span>
        <span class="content" :class='map("default", isEmissionHeightDefault())'>
          <min-max-label v-debug:sourcelistDetailEmissionHeight
            :label="inputEmissionHeight"
            :correctionLabel="usedEmissionHeight"/>
        </span>
      </div>
      <div class="common-details-row" v-if="characteristics != null && characteristics.getHeatContentType() == HeatContentType.NOT_FORCED">
        <span class="header">{{ i18n.sourceHeatContentLabel() }}</span>
        <span class="content" :class='map("default", isHeatContentDefault())'>
          <min-max-label v-debug:sourcelistDetailHeatContent
            :label="inputHeatContent"
            :correctionLabel="usedHeatContent" />
        </span>
      </div>
      <div class="common-details-row" v-if="characteristics != null && characteristics.getHeatContentType() == HeatContentType.FORCED">
        <span class="header">{{ i18n.sourceOutflowDiameterLabel() }}</span>
        <span class="content" :class='map("default", isOutflowDiameterDefault())'>
          <min-max-label :label="inputOutflowDiameter"
            :correctionLabel="usedOutflowDiameter"/>
        </span>
      </div>
      <div class="common-details-row" v-if="characteristics != null && characteristics.getHeatContentType() == HeatContentType.FORCED">
        <span class="header">{{ i18n.sourceEmissionTemperatureLabel() }}</span>
        <span class="content" :class='map("default", isEmissionTemperatureDefault())'>{{ i18n.unitC(i18n.decimalNumberFixed(characteristics.getEmissionTemperature(), 2)) }}</span>
      </div>
      <div class="common-details-row" v-if="characteristics != null && characteristics.getHeatContentType() == HeatContentType.FORCED">
        <span class="header">{{ i18n.sourceOutflowDirectionLabel() }}</span>
        <span class="content">{{ i18n.sourceOutflowDirectionType(characteristics.getOutflowDirection()) }}</span>
      </div>
      <div class="common-details-row" v-if="characteristics != null && characteristics.getHeatContentType() == HeatContentType.FORCED">
        <span class="header">{{ i18n.sourceOutflowVelocityLabel() }}</span>
        <span class="content" :class='map("default", isOutflowVelocityDefault())'>
          <min-max-label :label="inputOutflowVelocity"
            :correctionLabel="usedOutflowVelocity"/>
        </span>
      </div>
      <div class="common-details-row" v-for="String header in additionalProperties.keySet()">
        <span class="header">{{ header }}</span>
        <span class="content">{{ additionalProperties.get(header) }}</span>
      </div>
    </div>
    <div class="common-details-column">
      <div class="common-details-row" v-for="Substance substance in getSubstances()" v-if="hasEmission(substance)">
        <span class="header">{{ i18n.esLabel(substance) }}</span>
        <span class="content">{{ getEmission(substance) }}</span>
      </div>
    </div>
  </div>

  <component v-if="detailComponentName != null" :is="detailComponentName" :source="source"/>
</div>

<style lang="scss" scoped>
.emission-source-card {
  page-break-inside: avoid;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.common-details {
  display: flex;
  flex-direction: row;
  width: var(--page-max-width);
  border-top: 1px solid lightgrey;
  margin: var(--half-spacer) 0;

  &-column {
    display: flex;
    flex-direction: column;
    width: calc(var(--page-max-width) / 3)
  }

  &-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: .8em;

    div {
      font-size: inherit;
    }

    .header {
      color: grey;
    }

    .content {
      color: black;

      &.default {
        text-decoration: underline;
      }
    }
  }
}

</style>
