<div class="row" v-debug='"calculationPoint-" + calculationPoint.getId()'
  :tabindex="0">
  <aer-styled-point :feature="calculationPoint"
    borderRadius="50%"
    backColor="var(--light-yellow)"
    foreColor="black"
    v-debug:sourceListButtonZoomToPoint/>
  <div class="labelColumn">{{ calculationPoint.getLabel() }}</div>
</div>

<style lang="scss" scoped>
@import "../../../../row-item.scss";

.row {
  grid-template-columns: 30px 1fr;
}
</style>
