<vue-gwt:import className="nl.overheid.aerius.wui.application.domain.source.CalculationPointFeature"/>

<div>
  <vertical-collapse>
    <div v-if="hasCalculationPoints">
      <aer-modify-list
        class="toolbox"
        @import-file="importFile()"
        @new-source="newCalculationPoint()"
        @edit-source="editCalculationPoint()"
        @delete-source="deleteCalculationPoint()"
        :selected="selected != null"
        :enableImport="true"
        :enableNameLabels="false"
        :enableEdit="true"
        :enableCopy="false"/>
      <div class="calculationpoints">
        <vertical-collapse-group>
          <calculation-point-row
            v-for="CalculationPointFeature calculationPoint in calculationPoints"
            :key="calculationPoint.getId()"
            @click.native="clickPoint(calculationPoint)"
            :class='map("selected", calculationPoint.equals(selected))'
            :calculationPoint="calculationPoint"/>
        </vertical-collapse-group>
      </div>
      <button v-debug:calculationPointsListButtonDeleteAll
        class="buttonDeleteAll"
        @click="deleteAllCalculationPoints()">{{ i18n.calculationPointsDeleteButton() }}
      </button>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="!hasCalculationPoints" class="emptyCalculationPoints">
      <p v-html="i18n.calculationPointsEmptyInfo()"></p>

      <div class="buttons">
        <button-icon class="button"
          @click.native="newCalculationPoint()"
          iconClass="icon-btn-new"
          v-debug.calculationLaunchButtonNewsource>
          <div class="label">{{ i18n.clButtonNewSource() }}</div>
        </button-icon>
        <button-icon class="button"
          @click.native="importFile()"
          iconClass="icon-btn-import"
          v-debug.calculationLaunchButtonImportfile>
          <div class="label">{{ i18n.clButtonImportFile() }}</div>
        </button-icon>
      </div>
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";

.buttonDeleteAll {
  @include button;
  flex-grow: 3;
  align-self: center;
  margin: var(--spacer);
}

.selected {
  background-color: var(--theme-color);
}

.emptyCalculationPoints {
  border-top: var(--separator);
  padding: 0px var(--spacer);
  color: var(--grey);
}

.calculationpoints {
  max-height: calc(100vh - 240px);
  overflow: auto;
  border-top: var(--half-separator);
  border-bottom: var(--half-separator);
}

.buttons {
  display: flex;

  gap: var(--spacer);
  justify-content: center;
  margin-top: 20px;
  width: var(--paragraph);

  .button {
    padding: var(--spacer);
    height: initial;

    display: flex;
    align-items: center;

    .label {
      padding: 0px var(--spacer);
    }
  }
}
</style>
