<div class="calc-points">
  <vertical-collapse>
    <div v-if="!editorContext.isEditing()">
      <h1>{{ i18n.menuCalculationPoints() }}</h1>
      <calculation-points-list :calculationPoints="scenarioContext.getCalculationPoints()" :eventBus="eventBus"/>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <calculation-point-editor v-if="editorContext.isEditing()"
      :eventBus="eventBus"
      :calculationPoint="editorContext.getCalculationPoint()"/>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";

.calc-points {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  h1 {
    margin-left: var(--spacer);
    margin-right: var(--spacer);
  }
}
</style>
