<main-view :navigationContext="navigation"
  :eventBus="eventBus"
  ref="outer"
  :softMiddle="softMiddle"

  :left="left"
  :middle="middle"
  :right="right"

  :hasMiddle="middle != null"
  :hasRight="right != null"
  :hasLeft="left != null">
  <component :is="left" slot="left" :eventBus="eventBus" :presenter="delegatedPresenter" ref="leftComponent" />
  <component :is="middle" slot="middle" :eventBus="eventBus" :presenter="delegatedPresenter" ref="middleComponent" />
  <component :is="right" slot="right" :eventBus="eventBus" :presenter="delegatedPresenter" ref="rightComponent" />
</main-view>
