/* noto-sans-tc-regular - latin */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans TC Regular'), local('NotoSansTC-Regular'),
       url('noto-sans-tc-v10-latin-regular.woff2') format('woff2'),
       url('noto-sans-tc-v10-latin-regular.woff') format('woff');
}

* {
  font-family: 'Noto Sans TC',Arial,Sans-Serif;
}
