<vue-gwt:import class="nl.overheid.aerius.wui.application.components.input.LabeledInputComponent.RowType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.OffRoadMobileSourceCategory"/>

<div class="standardContainer">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasFuelAdBlueRatioWarning"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input :label="i18n.esOffRoadMobileStandardDescription()"
    division="1fr 1fr"
    name="emissionSourceOffRoadMobileStandardDescription"
    :errorValidation="v.descriptionV"
    :errorMessage="this::descriptionError">
    <input type="text"
      id="emissionSourceOffRoadMobileStandardDescription"
      v-validate:descriptionV.input
      v-model="description"
      aria-label="description"
      v-debug:emissionSourceOffRoadMobileStandardDescription />
  </labeled-input>
  <labeled-input :label="i18n.esOffRoadMobileCategory(null)"
    division="1fr 1fr"
    name="offRoadMobileCategory"
    :errorValidation="v.selectedCategoryV"
    :errorMessage="() -> i18n.validationRequired()">
    <select v-model="offRoadMobileSourceCode"
      id="offRoadMobileCategory"
      aria-label="offRoadMobileSourceCategories"
      v-debug:offRoadMobileCategory>
      <option value="" disabled>{{ i18n.dropdownPlaceholder() }}</option>
      <option v-for="OffRoadMobileSourceCategory category in categories"
        :value="category.getCode()">{{ category.getDescription() }}</option>
    </select>
  </labeled-input>
  <labeled-input v-if="needsLiterFuel"
    :label="i18n.esOffRoadMobileStandardLiterFuel()"
    :unit="i18n.unitSingularLiterPerYear()"
    division="1fr 1fr"
    name="emissionSourceOffRoadMobileStandardLiterFuel"
    :showError="v.literFuelV.invalid"
    :errorMessage="() -> literFuelError()">
    <input
      id="emissionSourceOffRoadMobileStandardLiterFuel"
      type="number"
      min="0"
      v-model="literFuel"
      aria-label="literFuel"
      v-validate:literFuelV.input
      v-debug:emissionSourceOffRoadMobileStandardLiterFuel
      :class='map(e("warningBorder", hasFuelAdBlueRatioWarning))' />
  </labeled-input>
  <labeled-input v-if="needsOperatingHours"
    :label="i18n.esOffRoadMobileStandardOperatingHours()"
    :unit="i18n.unitSingularHourPerYear()"
    division="1fr 1fr"
    name="emissionSourceOffRoadMobileStandardOperatingHours"
    :showError="v.operatingHoursV.invalid"
    :errorMessage="() -> operatingHoursError()">
    <input
      id="emissionSourceOffRoadMobileStandardOperatingHours"
      type="number"
      min="0"
      v-model="operatingHours"
      v-validate:operatingHoursV.input
      aria-label="operatingHours"
      v-debug:emissionSourceOffRoadMobileStandardOperatingHours />
  </labeled-input>
  <labeled-input v-if="needsLiterAdBlue"
    :label="i18n.esOffRoadMobileStandardLiterAdBlue()"
    :unit="i18n.unitSingularLiterPerYear()"
    division="1fr 1fr"
    name="emissionSourceOffRoadMobileStandardLiterAdBlue"
    :showError="v.literAdBlueV.invalid"
    :errorMessage="() -> literAdBlueError()">
    <input
      id="emissionSourceOffRoadMobileStandardLiterAdBlue"
      type="number"
      min="0"
      v-model="literAdBlue"
      v-validate:literAdBlueV.input
      aria-label="literAdBlue"
      v-debug:emissionSourceOffRoadMobileStandardLiterAdBlue
      :class='map(e("warningBorder", hasFuelAdBlueRatioWarning))' />
  </labeled-input>
   <div v-if="hasFuelAdBlueRatioWarning">
     <div class="fuelAdBlueRatioWarning">
       <i class="icon icon-warning-small"></i>{{ i18n.esOffRoadStandardFuelAdblueRatioWarning(selectedCategory.getMaxAdBlueFuelRatio()) }}
     </div>
   </div>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.standardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.fuelAdBlueRatioWarning {
  background: var(--warning-color);
  color: white;
  padding: 10px;
  border-radius: var(--default-radius);

  margin: 5px 0px;

  .icon {
    padding-right: 10px;
  }
}
.warningBorder {
  border-color: var(--warning-color);
  border-style: solid;
}
</style>
