<transition name="modal">
  <div class="glass" @click="autoClose()" v-if="showing">
    <div class="modal" @click.stop="dummy()">

      <div class="header">
        <slot name="header">Default header</slot>
      </div>

      <div class="body">
        <slot>Default body</slot>
      </div>

      <div class="footer">
        <slot name="footer">
          <button v-debug:buttonCancel class="cancel" @click="cancel()">{{ i18n.buttonCancel() }}</button>
          <div class="aux-and-section">
            <slot name="aux-buttons"></slot>
            <div class="close-section">
              <button v-debug:buttonOK class="submit" @click="submit()" :disabled="!submitEnabled">{{ i18n.buttonOk() }}</button>
              <img class="icon" :src="img.loading().getSafeUri().asString()" v-if="isClosing"></img>
            </div>
          </div>
        </slot>
      </div>
    </div>
  </div>
</transition>

<style scoped lang="scss">
@import "../../variables.scss";

.icon {
  width: 24px;
  height: 24px;
  margin-left: 34px;
  position: absolute;
}

.aux-and-section {
  display: flex;
  justify-content: space-between;

  .close-section {
    display: flex;
    padding-left: 10px;
    justify-content: flex-end;
    align-items: center;
  }
}

.glass {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: opacity $animation-time ease-out;
}

.modal {
  margin: 20px;
  user-select: text;
  padding: 40px 60px;
  width: 70vw;
  background-color: #fff;
  box-shadow: 0px 0px 2px #08639B;
  transition: transform $animation-time ease-out;
}

.header h3 {
  margin-top: 0;
  color: #42b983;
}

.body {
  margin: var(--half-spacer) 0;
  max-height: calc(90vh - 48px - 26px - 80px);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit {
  float: right;
  @include button;
  min-width: 140px;
}

.cancel {
  float: left;
  @include button;
  min-width: 140px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal,
.modal-leave-active .modal {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
</style>
