<fade-transition>
  <div class="modal" v-show="context.isShowing() && visible"
    ref="modal"
    :class='map("active", context.isActive()))'
    @click="setActive()">
    <div class="headerContainer">
      <div class="dragger" ref="dragHandle">{{ activeText }}</div>
      <div @click="close()" class="close"
        v-vector="img.iconClose()">x</div>
    </div>
    <vertical-collapse>
      <div v-show="!isPanelInactive"
        ref="panel"
        class="panelContainer">
        <div class="content">
          <slot></slot>
        </div>
        <div v-show="canResize"
          ref="resizer"
          class="sizer">
          <hr />
        </div>
      </div>
    </vertical-collapse>
  </div>
</fade-transition>

<style scoped lang="scss">
@import "../../variables.scss";
@import "../../fade-transition.scss";
@import "../../vertical-collapse.scss";

.panelContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--row-height-generous) * 2);
}

.modal {
  border-radius: 4px;
  border: 1px solid #ccc;
  position: fixed;
  z-index: 9998;
  max-width: calc(90vw - 80px);
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;

  border-bottom: none;

  &.active {
    z-index: 9999;
    border-bottom: 1px solid #ccc;
  }

  &:hover {
    z-index: 10000;
  }

  &:active {
    z-index: 10001;
  }
}

.inactive {
  display: flex;
  height: var(--row-height-generous);

  .text {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 var(--spacer);
    cursor: move;
    flex-grow: 1;
    transition: background var(--anim);
  }
}

.headerContainer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: var(--row-height-generous);
  border-bottom: 1px solid #ccc;

  .dragger {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0px var(--spacer);
    cursor: move;
    flex-grow: 1;
    transition: background 0.1s ease-out;

    &:hover {
      background: #f5f5f5;
    }
  }
}

.content {
  overflow: auto;
  overflow-x: hidden;
}

.close {
  padding: 5px 14px;
  cursor: pointer;
  width: 10px;
  align-self: stretch;
  display: flex;
  align-items: center;

  svg {
    transition: fill 0.1s ease-out;
  }

  &:hover {
    background: #f5f5f5;

    svg {
      fill: $button-color-active;
    }
  }
}

.sizer {
  height: var(--row-height);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  cursor: row-resize;

  &:hover {
    background: var(--back-color);
  }

  hr {
    width: 15%;
    border: 1px solid black;
    border-radius: 1px;
    background: black;
  }
}
</style>
