.collapsible-container {
  display: flex;
  flex-direction: column;
  margin: 0px var(--spacer);

  .collapsible-panel {
    .zoomToArea {
      min-width: 0px;
      align-self: auto;
      padding: 4px;
    }

    &.open {
      background: white;
    }
  }
}

h4 {
  min-height: var(--row-height);
  margin: var(--spacer);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.tab-content-title-main {
  flex-grow: 1;
}

.tab-content-title-header {
  flex-grow: 0;
  text-align: right;
  margin: 0 var(--spacer);
}

.header-statistic {
  width: 265px;
}
