<div class="resultContainer">
  <div class="tabContainer">
    <div v-for="MainTab tab in availableTabs"
      :class='map("selected", isSelected(tab))'
      class="tab"
      tabindex="0"
      @keyup.enter.space="selectMainTab(tab)"
      @click="selectMainTab(tab)">{{ i18n.resultsViewMainTabLabel(tab) }}</div>
  </div>

  <component :is="selectedView"
    :eventBus="eventBus"
    class="content" />
</div>

<style lang="scss" scoped>
.resultContainer {
  flex-grow: 1;
}

.tabContainer {
  display: flex;
  gap: var(--spacer);
  background: white;

  .tab {
    font-size: 1.5em;
    transition: all var(--anim);
    padding: var(--half-spacer) var(--spacer);
    cursor: pointer;
    user-select: none;

    &:hover:not(.selected) {
      color: var(--theme-color);
    }

    &.selected {
      background: var(--back-color);
      color: var(--theme-color);
    }
  }
}
</style>
