<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsKey" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.ResultView" />

<div class="resultsContainer">
  <p class="discrepancyWarning"
    v-if="isCalculationSourceDiscrepancy">{{ i18n.resultsDiscrepancyWarningText() }}</p>

  <vertical-collapse target="400">
    <calculation-view v-if="!jobProgress.getState().isSuccessState()"
      :eventBus="eventBus"
      :jobState="jobProgress.getState()"
      :calculationInfo="calculationInfo" />
  </vertical-collapse>

  <vertical-collapse>
    <situation-result-key-compositor
      v-if="jobProgress.getState().isSuccessState()"
      :resultContext="resultContext"
      @select="selectSituationResultKey((SituationResultsKey) $event)" />
  </vertical-collapse>

  <vertical-collapse>
    <results-statistics-view
      v-if="hasAnyResultValue()"
      :resultType="resultContext.getResultType()"
      :hexagonType="resultContext.getHexagonType()"
      :statistics="resultsSummary.getStatistics()"
      :hideResults="!hasResults()" />
  </vertical-collapse>

  <vertical-collapse>
    <div v-if="jobProgress.getState().isSuccessState() && resultContext.isLoading()">
      <div class="results-loading">
        <div>{{ i18n.resultsBeingLoaded() }}</div>
        <div class="loading-spinner" alt="Loading..." v-vector="img.loadingSpinner()" />
      </div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="jobProgress.getState().isSuccessState() && !hasResults() && !resultContext.isLoading()">
      <div class="no-results">
        <div>{{ i18n.resultsNoResultsCalculated() }}</div>
      </div>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <tab-view v-if="hasResults()"
      :selected="viewContext.getResultViewTab()"
      :options="resultsViewTabs"
      @select="selectTab((ResultView) $event)">
      <template slot-scope="{ ResultView option }">{{ i18n.resultsViewTabLabel(option) }}</template>
    </tab-view>
  </vertical-collapse>
  <component v-if="hasResults()"
    :is="getResultViewComponent(viewContext.getResultViewTab())"
    :eventBus="eventBus"
    :context="resultContext" />
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";

h1 {
  padding: 0px var(--spacer);
}

.discrepancyWarning {
  padding: var(--spacer);
  margin: var(--spacer);
  color: white;
  background-color: var(--warning-color);
}

.table-statistics {
  flex-grow: 1;
}

.resultsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.results-view-top {
  margin: var(--spacer);
}

.results-loading {
  display: flex;
  margin: var(--spacer);
  padding: var(--spacer);
  background: var(--theme-color-light);
  height: var(--row-height);
  align-items: center;
  gap: var(--spacer);

  img {
    height: var(--row-height);
  }
}

.main-selection-row .container {
  width: 30%;
}

.error-results {
  margin: var(--spacer);
  padding: var(--spacer);
  background: var(--error-color);
  color: white;
}

.no-results {
  margin: var(--spacer);
  padding: var(--spacer);

  background: var(--warning-color);
  color: white;
}

.results-view-bottom {
  background: white;
}

.button {
  @include button;
}

.collapsible-container {
  display: flex;
  flex-direction: column;
  margin: 0px var(--spacer);

  .collapsible-panel {
    .zoomToArea {
      min-width: 0px;
      align-self: auto;
      padding: 4px;
    }

    &.open {
      background: white;
    }
  }
}
</style>
