<div>
  <p class="notice">{{ i18n.resultsViewSummaryConstructionNotice() }}</p>
</div>

<style lang="scss" scoped>
.notice {
  background: var(--theme-color-light);

  padding: var(--spacer);
  margin: var(--spacer);
}
</style>
