<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.offroad.OffRoadMobileSource"/>

<div>
  <div class="margin">
    <div class="headerTitle">{{ i18n.esTitle() }}</div>
    <div class="subSource" v-for="(OffRoadMobileSource row, sourceIndex) in source.getSubSources()">
      <div v-debug='"offroadDetailDescription-" + sourceIndex'>{{ row.getDescription() }}</div>
      <div v-for="(Substance substance, substanceIndex) in substances" class="dataRow">
        <div v-debug:offroadDetailEmissionSubstance>{{ i18n.esLabel(substance) }}</div>
        <emission-value>
          <div class="sourcesSummaryTotalValue" v-debug='"offroadDetailEmissionValue-" + sourceIndex + "-" + substance.name()'>
            {{ formatEmissionWithUnit(row.getEmission(substance)) }}
          </div>
        </emission-value>
      </div>
      <br />
    </div>
  </div>
  <div class="margin">
    <div class="headerTotalTitle">{{ i18n.esTotalTitle() }}</div>
    <div v-for="(Substance substance, substanceIndex) in substances" class="dataRow">
      <div v-debug:offroadDetailEmissionSubstance>{{ i18n.esLabel(substance) }}</div>
      <emission-value>
        <div class="sourcesSummaryTotalValue" v-debug='"offroadDetailEmissionTotalValue-" + substance.name()'>
          {{ formatEmissionWithUnit(source.getEmission(substance)) }}
        </div>
      </emission-value>
    </div>
    <br />
  </div>
</div>

<style scoped lang="scss">
.margin {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.headerTitle {
  margin-top: 12px;
  font-weight: bold;
}

.headerTotalTitle {
  font-weight: bold;
}

.dataRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
</style>
