<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.AdditionalLodgingSystem"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.ReductiveLodgingSystem"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.LodgingFodderMeasure"/>

<tbody class="grouped">
<tr>
  <td><i class="icon" :class="icon" aria-hidden="true"></i></td>
  <td>{{ source.getFarmLodgingCode() }} - {{ detail }}</td>
  <td>{{ source.getSystemDefinitionCode() }}</td>
  <td>{{ source.getNumberOfAnimals() }}</td>
  <td>{{ i18n.esLabel(Substance.NH3) }}</td>
  <td>{{ farmLodgingEmissionFactor }}</td>
  <td> -</td>
  <td>{{ emission }}</td>
</tr>
<tr v-for="(AdditionalLodgingSystem row, index) in source.getAdditionalLodgingSystems()">
  <td></td>
  <td>{{ row.getLodgingSystemCode() }}</td>
  <td>{{ row.getSystemDefinitionCode() }}</td>
  <td>{{ row.getNumberOfAnimals() }}</td>
  <td>{{ i18n.esLabel(Substance.NH3) }}</td>
  <td>{{ additionalFactor(row.getLodgingSystemCode()) }}</td>
  <td> -</td>
  <td>{{ additionalEmission(row)) }}</td>
</tr>
<tr v-for="(ReductiveLodgingSystem row, index) in source.getReductiveLodgingSystems()">
  <td></td>
  <td>{{ row.getLodgingSystemCode() }}</td>
  <td>{{ row.getSystemDefinitionCode() }}</td>
  <td> -</td>
  <td> -</td>
  <td> -</td>
  <td>{{ reductiveReduction(row.getLodgingSystemCode()) }}</td>
  <td>{{ reductiveEmission(row) }}</td>
</tr>
<tr v-for="(LodgingFodderMeasure row, index) in source.getFodderMeasures()">
  <td></td>
  <td>{{ row.getFodderMeasureCode() }}</td>
  <td> -</td>
  <td> -</td>
  <td> -</td>
  <td> -</td>
  <td>{{ fodderReduction(row.getFodderMeasureCode()) }}</td>
  <td>{{ fodderEmission(row) }}</td>
</tr>
</tbody>


<style lang="scss" scoped>
  @import "../../pdf-table.scss";

  tbody.grouped {
    tr {
      &:not(:last-child) td:last-child {
        text-decoration: line-through;
      }

      td:last-child {
        min-width: 1.5cm;
      }
    }
  }
</style>
