<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<tbody v-else class="custom-lodging">
<tr>
  <td><i class="icon" :class="getIcon(source)" aria-hidden="true"></i></td>
  <td>{{ source.getDescription() }}</td>
  <td> -</td>
  <td>{{ source.getNumberOfAnimals() }}</td>
  <td>{{ i18n.esLabel(Substance.NH3) }}</td>
  <td>{{ source.getEmissionFactor(Substance.NH3) }}</td>
  <td> -</td>
  <td>{{ getFormattedEmission(source, Substance.NH3) }}</td>
</tr>
</tbody>

<style lang="scss" scoped>
  @import "../../pdf-table.scss";
</style>
