<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.CharacteristicsType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType"/>

<div class="sourceContainer" v-if="source != null">
  <h1 class="margin"
    v-debug:sourceListDetailTitle>{{ source.getLabel() }}</h1>
  <div class="row margin">
    <div class="label">{{ i18n.esLabelSectorGroupName() }}</div>
    <div v-debug:sourceListDetailSectorGroup>{{ i18n.sectorGroup(sectorGroup) }}</div>
  </div>
  <vertical-collapse>
    <div class="row margin" v-if="hasSectors(sectorGroup)">
      <div class="label">{{ i18n.esLabelSectorName() }}</div>
      <div v-debug:sourceListDetailSector>{{ sector.getDescription() }}</div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div class="row margin" v-if="location != null">
      <div class="label">{{ i18n.esLabelSourceLocation() }}</div>
      <div v-debug:sourceListDetailLocation>{{ location }}</div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div class="row margin" v-if="location != null && locationStatistic != null">
      <div class="label"></div>
      <div v-debug:sourceListDetailLocationStatistic>{{ locationStatistic }}</div>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <ops-characteristics v-if="isCType(CharacteristicsType.OPS) && !isESType(EmissionSourceType.SRM2_ROAD)"
      :source="source" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-generic-detail v-if="isESType(EmissionSourceType.GENERIC)"
      :source="source"
      :substances="substances" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-farmlodging-detail v-if="isESType(EmissionSourceType.FARM_LODGE)"
      :farmLodgingCategories=" applicationContext.getConfiguration().getSectorCategories().getFarmLodgingCategories()"
      :source="(FarmLodgingESFeature) source" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-farmland-detail v-if="isESType(EmissionSourceType.FARMLAND)"
      :source="(FarmlandESFeature) source"
      :substances="substances" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-srm2road-detail v-if="isESType(EmissionSourceType.SRM2_ROAD)"
      :source="(SRM2RoadESFeature) source"
      :sectorCategories="applicationContext.getConfiguration().getSectorCategories()"
      :substances="substancesRoad" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-inland-shipping-detail v-if="isESType(EmissionSourceType.SHIPPING_INLAND) || isESType(EmissionSourceType.SHIPPING_INLAND_DOCKED)"
      :source="(EmissionSourceFeature) source" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-maritime-shipping-detail v-if="isESType(EmissionSourceType.SHIPPING_MARITIME_DOCKED) || isESType(EmissionSourceType.SHIPPING_MARITIME_INLAND) || isESType(EmissionSourceType.SHIPPING_MARITIME_MARITIME)"
      :source="(EmissionSourceFeature) source" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-offroad-detail v-if="isESType(EmissionSourceType.OFFROAD_MOBILE)"
      :source="(OffRoadMobileESFeature) source" />
  </vertical-collapse>

  <vertical-collapse>
    <building-detail-view v-if="hasBuilding"
      :building="building" />
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../../vertical-collapse.scss";

.height-enter-active,
.height-leave-active,
.list-enter-active,
.list-leave-active {
  transition: height var(--animation-time) ease-out;
}

.sourceContainer {
  width: 400px;
}

.margin {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.detail {
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.title {
  flex-grow: 1;
}

.header {
  margin-top: 12px;
  font-weight: bold;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer);
}
</style>
