<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />

<div>
  <vertical-collapse>
    <div v-if="hasEmissionSources">
      <aer-modify-list
        class="toolbox"
        @new-source="createNewSource()"
        @import-file="importFile()"
        @show-name-labels="showNameLabels((Boolean) $event)"
        @duplicate-source="duplicateSource()"
        @delete-source="deleteSource()"
        @edit-source="editSource()"
        :selected="listContext.hasSelection()"
        :enableDelete="roadNetworkSelected || listContext.hasSelection()"
        :enableImport="true"
        :enableNameLabels="true"
        :enableEdit="true"/>
      <div class="sources">
        <vertical-collapse>
          <aer-road-network-row v-if="hasRoadNetwork"
            @select="selectRoadNetwork((boolean) $event)" />
        </vertical-collapse>
        <vertical-collapse-group>
          <aer-emission-source-row :source="source"
            v-for="EmissionSourceFeature source in emissionSources"
            :key="source.getId()"
            @mouseenter.native="peekSource(source)"
            @mouseleave.native="unpeekSource(source)"
            @keyup.enter.space.native="selectSource(source)"
            @click.native="clickSource(source)"
            class="item"
            :class='map("selected", listContext.isSelected(source))' />
        </vertical-collapse-group>
      </div>
      <div class="sourceSummary">
        <button v-debug:sourceListButtonDeleteAllSources
          class="buttonDeleteAll"
          @click="deleteAllEmissionSources()">{{ i18n.esButtonDeleteAllSources() }}</button>
        <div></div>
        <div>
          <div class="sourcesSummaryHeader">{{ i18n.esLabel(Substance.NOX) }}</div>
          <emission-value>
            <div class="sourcesSummaryTotalValue"
              v-debug:sourceListTotalNOX>{{ totalNOXEmission }}</div>
          </emission-value>
        </div>
        <div>
          <div class="sourcesSummaryHeader">{{ i18n.esLabel(Substance.NH3) }}</div>
          <emission-value>
            <div class="sourcesSummaryTotalValue"
              v-debug:sourceListTotalNH3>{{ totalNH3Emission }}</div>
          </emission-value>
        </div>
      </div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="!hasEmissionSources" class="emptySources">
      <p v-html="i18n.esEmissionSourceEmptyInfo()"></p>

      <div class="buttons">
        <button-icon class="button"
          @click.native="createNewSource()"
          iconClass="icon-btn-new"
          v-debug.calculationLaunchButtonNewsource>
          <div class="label">{{ i18n.clButtonNewSource() }}</div>
        </button-icon>
        <button-icon class="button"
          @click.native="importFile()"
          iconClass="icon-btn-import"
          v-debug.calculationLaunchButtonImportfile>
          <div class="label">{{ i18n.clButtonImportFile() }}</div>
        </button-icon>
      </div>
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../../variables.scss";
@import "../../../../../vertical-collapse.scss";

.toolbox {
  padding: 0px var(--spacer);
}

.emptySources {
  border-top: var(--separator);
  padding: 0px var(--spacer);
  color: var(--grey);

  .buttons {
    display: flex;

    gap: var(--spacer);
    justify-content: center;
    margin-top: 20px;
    width: var(--paragraph);

    .button {
      padding: var(--spacer);
      height: initial;

      display: flex;
      align-items: center;

      .label {
        padding: 0px var(--spacer);
      }
    }
  }
}

.margin {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.sources {
  max-height: calc(100vh - 340px);
  overflow: auto;
  border-top: var(--half-separator);
  border-bottom: var(--half-separator);
}

.selected {
  background-color: var(--theme-color-light);
}

.buttonDeleteAll {
  @include button;
  flex-grow: 3;
  align-self: center;
}

.sourceSummary {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 1fr;
  gap: var(--spacer);
  padding: var(--spacer);
  border-bottom: var(--separator);
}

.spacer {
  flex-grow: 3;
}

.sourcesSummaryHeader {
  font-weight: bold;
  text-align: left;
}

.sourcesSummaryTotalValue {
  font-weight: bold;
  text-align: left;
}
</style>
