<div class="container">
  <stateful-icon-button class="pos layers"
    ref="layerButton"
    :open="layerContext.isShowing()"
    @toggle="onLayerPanelClick()"
    @reset="onLayerPanelReset()"
    icon="icon-menu-maplayers" />

  <stateful-icon-button class="pos info"
    ref="infoButton"
    :open="infoContext.isShowing()"
    @toggle="onInfoPanelClick()"
    @reset="onInfoPanelReset()"
    icon="icon-menu-help" />

  <popout-search class="pos search"
    :eventBus="eventBus">
    <stateful-icon-button
      ref="searchButton"
      :open="isSearchShowing()"
      @toggle="onSearchPanelClick()"
      icon="icon-map-search-icon" />
  </popout-search>

  <stateful-icon-button class="pos measure"
    :open="measureContext.isActive()"
    @toggle="onMeasureClick()"
    icon="icon-map-measure-icon" />

  <ol3-map :eventBus="eventBus" ref=olMap class="container" />
</div>

<style scoped lang="scss">
.pos {
  z-index: 9999;
  position: absolute;
  right: 20px;
}

.layers {
  top: 70px;
}

.info {
  top: 120px;
}

.search {
  top: 170px;
  --search-height: var(--row-height-generous);
}

.measure {
  top: 220px;
}

.container {
  height: 100%;
  width: 100%;
}
</style>
