<div class="main">
  <labeled-input :label="i18n.scenarioMetaDataCorporation()"
    :errorValidation="ifValidationRequired(v.corporationV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataCorporation">
    <input id="scenarioMetaDataCorporation" v-model="corporation" v-validate:corporationV.input type="text" v-debug:scenarioMetaDataCorporation>
  </labeled-input>
  <labeled-input :label="i18n.scenarioMetaDataProjectName()"
    :errorValidation="ifValidationRequired(v.projectNameV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataProjectName">
    <input id="scenarioMetaDataProjectName" v-model="projectName" v-validate:projectNameV.input artype="text" v-debug:scenarioMetaDataProjectName>
  </labeled-input>
  <p>{{ i18n.scenarioMetaDataLocation() }}</p>
  <labeled-input :label="i18n.scenarioMetaDataStreetAddress()"
    :errorValidation="ifValidationRequired(v.streetAddressV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataStreetAddress">
    <input id="scenarioMetaDataStreetAddress" v-model="streetAddress" v-validate:streetAddressV.input type="text" v-debug:scenarioMetaDataStreetAddress>
  </labeled-input>
  <labeled-input :label="i18n.scenarioMetaDataPostcode()"
    :errorValidation="ifValidationRequired(v.postcodeV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataPostcode">
    <input id="scenarioMetaDataPostcode" v-model="postcode" v-validate:postcodeV.input type="text" v-debug:scenarioMetaDataPostcode>
  </labeled-input>
  <labeled-input :label="i18n.scenarioMetaDataCity()"
    :errorValidation="ifValidationRequired(v.cityV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataCity">
    <input id="scenarioMetaDataCity" v-model="city" v-validate:cityV.input type="text" v-debug:scenarioMetaDataCity>
  </labeled-input>
  <textarea :aria-label="i18n.scenarioMetaDataDescription()"
    v-model="description"
    v-validate:descriptionV.input
    v-debug:scenarioMetaDataDescription
    :placeholder="i18n.scenarioMetaDataDescription()" />
  <input-error :errorValidation="ifValidationRequired(v.descriptionV)"
    :errorMessage="i18n::validationRequired" />
</div>

<style lang="scss" scoped>
  @import "../../../../../variables.scss";
  @import "../../../../../../application/components/input/inputs.scss";

  .main {
    display: flex;
    flex-direction: column;
    gap: var(--half-spacer);
  }
</style>
