<a class="item"
  tabindex="0"
  @keyup.enter.space="click()"
  @click.prevent="click()">
  <i class="icon" :class="item.getIcon()"></i>
</a>

<style scoped lang="scss">
.item {
  outline-offset: -2px;

  cursor: pointer;
  padding: 5px 0px;

  display: flex;
  justify-content: center;
  transition: background var(--animation-time) ease-out, color var(--animation-time) ease-out;

  color: var(--dark-grey);

  .icon {
    font-size: 32px;
    color: inherit;
  }

  &:hover {
    background: var(--theme-color-light);
    color: var(--theme-color);
  }
}
</style>
