<nav>
  <section class="left"></section>
  <aer-logo />
  <section class="right"></section>
</nav>

<style scoped lang="scss">
@import "../../variables.scss";

nav {
  background-color: $back-color;
  height: 100px;
  display: flex;
  align-items: center;

  .left,
  .right {
    flex-basis: 50%;
  }
}

</style>
