<nav>
  <aer-logo class="logo" />
  <selector-item
    v-for="SelectorItem item in selectorItems"
    :active="context.isActiveSelector(item)"
    :selection="item.getSelectedOption()"
    :eventBus="eventBus"
    :item="item" />

  <navigation-item v-for="NavigationItem item in navigationItems"
    :config="context"
    :item="item"
    :place="place" />

  <div class="spacer"></div>

  <div ref="easter" title="3" class="easter">
    {{ easterText }}
  </div>

  <button-item v-for="ButtonItem item in buttonItems"
    :item="item"
    :config="context" />
</nav>

<style scoped lang="scss">
@import "../../variables.scss";

.easter {
  background: #f5f5f5;
  height: 50px;
  opacity: 0;
  justify-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  user-select: none;

  &:hover {
    opacity: 0.5;
  }
}

nav {
  background-color: var(--back-color);
  width: 100px;

  display: flex;
  flex-direction: column;

  overflow: auto;
  max-height: 100vh;
  overflow-x: clip;

  .spacer {
    flex: 1;
  }
}
</style>
