<a class="item"
  v-debug='"testId.NAV_" + item.getName().toUpperCase()'
  :tabindex="isEnabled ? 0 : -1"
  :class='map(e("disabled", !isEnabled), e("active", isActive))'
  :aria-label="item.getName()"
  @keyup.enter.space="click()"
  @click.prevent="click()"
  :href="item.getHref()">
    <i class="icon" :class="item.getIcon()"></i>
    <div class="label">{{ item.getName() }}</div>
</a>

<style scoped lang="scss">
.item {
  outline-offset: -2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 10px 0px;
  user-select: none;

  color: var(--dark-grey);
  transition: background var(--animation-time) ease-out, color var(--animation-time) ease-out;

  .icon {
    font-size: 32px;
    color: inherit;
    transition: inherit;
  }

  .label {
    font-size: 11px;
    color: inherit;
    transition: inherit;
  }

  &.active, &:hover {
    background: var(--theme-color-light);
    color: var(--theme-color);
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: var(--disabled-color);
  }
}
</style>
