<vue-gwt:import class="nl.overheid.aerius.shared.domain.ServerUsage" />

<div class="calculationContainer">
  <div class="calculation">
    <progress-bar-view :calculationState="state" />
    <vertical-collapse>
      <div class="progress-container" v-if="state.isHappy()">
        <div class="calculation-state-text">{{ i18n.calculationStateDescription(state) }}</div>
        <vertical-collapse>
          <div class="warning" v-if="isWarning">{{ i18n.calculationWarning(serverUsage) }}</div>
        </vertical-collapse>
        <div class="main">
        <!--
          <input :value='situationName' class="selected-calculation-name" disabled />
        -->
          <div class="loading-spinner" alt="loader" v-vector="img.loadingSpinner()" />
        </div>
        <button @click="stopCalculation()"
          class="button"
          v-debug:resultsButtonStopCalculation>
          {{ i18n.calculationStop() }}
        </button>
      </div>
    </vertical-collapse>
  </div>
  <vertical-collapse>
    <div v-if="!state.isHappy()" class="error-container">
      <div class="error-results">
        <div v-html="i18n.resultsErrorOccurred(jobProgress.getErrorMessage())"></div>
      </div>

      <button @click="resetCalculation()"
        class="button"
        v-debug:resultsButtonResetCalculation>
        {{ i18n.calculationReset() }}
      </button>
    </div>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../../variables.scss";
@import "../../../../../vertical-collapse.scss";

.error-container, .progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer);
}

.error-results {
  padding: var(--spacer);
  margin: var(--spacer);
  color: white;
  background-color: var(--error-color);
}

.calculationContainer {
  height: 400px;
  flex-direction: column;
  display: flex;
  place-items: center;
  padding: 0 var(--spacer);
  justify-content: center;
  gap: var(--spacer);
}

.calculation {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  width: 400px;
}

.calculation-state-text label {
  font-style: italic;
}

.warning {
  background: var(--warning-color);
  color: white;
  padding: var(--spacer);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-calculation-name {
  height: 30px;
  width: 35%;
  margin-right: 5px;
  margin-left: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  margin-top: -5px;
  margin-right: 5px;
}

.button {
  @include button;
}
</style>
