<div class="progressContainer">
  <div v-for="int step in steps"
    class="calculation-row"
    :class="getCssClassForColumn(step)"></div>
</div>

<style scoped lang="scss">
.progressContainer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: var(--half-spacer);
}

.calculation-row {
  height: 10px;
  transition: all var(--anim);
}

.finished-step {
  background-color: var(--theme-color);
}

.empty-step {
  background-color: white;
}

.current-step {
  animation: blinker 1.3s linear infinite;
  background-color: var(--theme-color);
}

.current-step-without-success {
  background-color: var(--error-color);
}

.warning-usage-high {
  animation: blinker 1.3s linear infinite;
  background-color: var(--warning-color);
}

.warning-usage-very-high {
  animation: blinker 1.3s linear infinite;
  background-color: var(--error-color);
}

@keyframes blinker {
  50% { background-color: white; }
}
</style>
