<label class="container">
  <input type="checkbox" v-model="checked" :disabled="disabled">
  <span class="checkmark .icon-checked"></span>
</label>

<style scoped lang="scss">
@import '../../validations.scss';

input {
  height: 0px;
  min-height: 0px;
  margin: 0px;
}

/* Customize the label (the container) */
.container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  box-sizing: content-box;
  border-radius: 3px;
  transition: border 0.15s ease-out;
}
</style>
