<vertical-collapse>
  <div class="error" v-if="hasError">
    <div>{{ errorMessage.get() }}</div>
  </div>
</vertical-collapse>

<style scoped lang="scss">
@import "inputs.scss";
@import "../../vertical-collapse.scss";
</style>
