<vertical-collapse>
  <div class="warning" v-if="hasWarning">
    <div>{{ warningMessage.get() }}</div>
  </div>
</vertical-collapse>

<style scoped lang="scss">
@import "inputs.scss";
@import "../../vertical-collapse.scss";
</style>
