input[type=email] {
  padding: 8px
}
input[type="date"] {
  height: 12px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
input[type="date"]:before {
  background: none;
  display: block;
  font-family: 'icoaerius';
  content: '\e9d0';
  width: 15px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 6px;
}
textarea {
  min-height: 36px;
  min-width: 100%;
  max-width: 100%;
  line-height: 24px;
}

.numberInput {
  text-align: right;
}

.error {
  color: white;
  background-color: var(--error-color);

  div {
    padding: var(--spacer) var(--half-spacer);
  }
}

.warning {
  color: white;
  background-color: var(--warning-color);

  div {
    padding: var(--spacer) var(--half-spacer);
  }
}
