<div :class='map(e("error-input", inputStyles && (hasError || showError)), e("warning-input", inputStyles && showWarning))'>
  <div class="slot">
  <slot />
  <span class="unit" :style="unitStyle">{{unit}}</span></div>
</div>

<style scoped lang="scss">
.slot {
  position: relative;
}

.unit {
  color: var(--grey);
  position: absolute;
  right: 5px;
  pointer-events: none;
  line-height: var(--row-height);
}
</style>
