<div class="inputContainer">
  <div class="row"
    :class='map(e("background", !transparent), e("gap", gap))'
    :style='map(e("grid-template-columns", division))'>
    <slot name="label">
      <div class="column">
        <label class="label"
          :for="name">{{ label }}</label>
      </div>
    </slot>
    <div class="slot" :class='map(e("error-input", inputStyles && (hasError || showError)), e("warning-input", inputStyles && showWarning))'>
      <slot />
      <span v-if="unit != null"
        class="unit">{{ unit }}</span>
    </div>
  </div>

  <slot name="error">
    <vertical-collapse>
      <div class="error" v-if="hasError || showError">
        <div>{{ errorMessage.get() }}</div>
      </div>
    </vertical-collapse>
  </slot>

  <slot name="warning">
    <vertical-collapse>
      <div class="warning" v-if="showWarning">
        <div>{{ warningMessage.get() }}</div>
      </div>
    </vertical-collapse>
  </slot>
</div>

<style scoped lang="scss">
@import "inputs.scss";
@import "../../vertical-collapse.scss";

.inputContainer {
  .row {
    color: var(--text-color);
    display: grid;
    align-items: center;
    min-height: var(--row-height);

    .column {
      display: flex;

      .label {
        flex-grow: 1;
      }
    }

    &.gap {
      gap: var(--half-spacer);
    }

    &.background {
      background: #0000000e;

      .label {
        padding-left: var(--half-spacer);
      }
    }

    .slot {
      position: relative;
    }

    .unit {
      color: var(--grey);
      position: absolute;
      right: 5px;
      pointer-events: none;
      line-height: var(--row-height);
    }
  }
}
</style>
