<div class="input">
  <div class="content" :class='map(e("error-input", inputStyles && (hasError || showError)), e("warning-input", inputStyles && showWarning))'>
    <slot />
  </div>
  <div class="problems">
    <slot name="error">
      <vertical-collapse>
        <div class="error" v-if="hasError || showError">
          <div>{{ errorMessage.get() }}</div>
        </div>
      </vertical-collapse>
    </slot>
    <slot name="warning">
      <vertical-collapse>
        <div class="warning" v-if="showWarning">
          <div>{{ warningMessage.get() }}</div>
        </div>
      </vertical-collapse>
    </slot>
  </div>
</div>

<style scoped lang="scss">
@import "inputs.scss";
@import "../../variables.scss";
@import "../../vertical-collapse.scss";

.problems {
  display: flex;
  gap: var(--half-spacer);
  flex-direction: column;
}

.input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 2px;

  .content {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
  }
}
</style>
