.errorContainer, .warningContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--half-spacer);

  .label {
    padding: var(--spacer) 0;
    color: white;
  }

  .close {
    width: 14px;
    height: 14px;

    fill: white;
    cursor: pointer;
    transition: all var(--anim);
    padding: var(--half-spacer);
    background: #ffffff00;

    &:hover {
      background: #ffffff33;
    }
  }
}

.warningContainer {
  background: var(--warning-color);
}
.errorContainer {
  background: var(--error-color);
}
