<vue-gwt:import class="nl.overheid.aerius.wui.application.components.importer.ApplicationImportModalComponent.Tab" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.importer.ApplicationImportModalComponent.ImportFilter" />

<dialog-modal
  ref="modal"
  :showing="showModal"
  :submitEnabled="canSubmit"
  @submit="modalSubmit()"
  @cancel="modalCancel()">
  <h1 slot="header">{{ i18n.importTitle() }}</h1>
  <div class="content">
    <p class="importText">{{ i18n.importGeneralDescription() }}</p>
    <ul class="conditions" v-html="isCalculationPointsImport ? i18n.importTextCalculationPoints() : i18n.importText(importType)"></ul>

    <!-- Tab panel -->
    <vertical-collapse target="42">
      <div class="topContainer">
        <div class="tabs">
          <div v-debug:tabFiles
            class="tab selectable"
            :class='map("selected", tab == Tab.FILES)'
            @click="tab = Tab.FILES">
            {{ i18n.importFileTab() }}
          </div>
          <div v-if="hasFiles && hasErrors"
            v-debug:tabErrors
            class="tab selectable"
            :class='map(e("selected", tab == Tab.ERRORS))'
            @click="tab = Tab.ERRORS">
            <horizontal-collapse :seek="(boolean) false">
              <div class="iconContainer">
                <i class="icon icon-error"><i class="path1"></i><i class="path2"></i></i>
              </div>
            </horizontal-collapse>
            <span>{{ i18n.importErrorTab() }}<span>({{ errorCountText }})</span></span>
          </div>
          <div v-if="hasFiles && hasWarnings"
            v-debug:tabWarnings
            class="tab selectable"
            :class='map(e("selected", tab == Tab.WARNINGS))'
            @click="tab = Tab.WARNINGS">
            <horizontal-collapse :seek="(boolean) false">
              <div class="iconContainer">
                <i class="icon icon-alert-default-values"><i class="path1"></i><i class="path2"></i></i>
              </div>
            </horizontal-collapse>
            <span>{{ i18n.importWarningTab() }} <span>({{ warningCountText }})</span></span>
          </div>
        </div>
        <div class="top-aux">
          <!-- TODO: Add downloadLog functionality
          <button-icon :title="i18n.importDownloadLog()"
            class="downloadLog"
            v-if="hasFiles && (hasErrors || hasWarnings)"
            iconClass="icon-download">{{ i18n.importDownloadLog() }}</button-icon>
           -->
        </div>

        <div v-if="!hasActiveSituation() && hasFiles && tab == Tab.FILES"
          class="situationHeader">{{ i18n.importSituationHeaderTitle() }}</div>
      </div>
    </vertical-collapse>

    <!-- File pane -->
    <!-- TODO: Disable dragging when full (!canUploadMoreFiles) -->
    <div class="dropbox" @dragenter="isDragging = true" @dragend="isDragging = false">
      <div v-show="(isEmpty && !hasBrnFilesToUpload) || isDragging" class="upload">
        <!-- Single file -->
        <input v-if="hasActiveSituation()"
          type="file"
          v-debug:fileInput
          id="fileInput"
          :disabled="!canUploadMoreFiles"
          @dragend="isDragging = false"
          @dragleave="isDragging = false"
          @change="filesChange((Event) $event)"
          accept="*/*" />
        <!-- Multiple files -->
        <input v-if="!hasActiveSituation()"
          type="file"
          multiple
          v-debug:fileInput
          id="fileInput"
          :disabled="!canUploadMoreFiles"
          @dragend="isDragging = false"
          @dragleave="isDragging = false"
          @change="filesChange((Event) $event)"
          accept="*/*" />
      </div>
      <fade-transition>
        <div v-show="isEmpty && !hasBrnFilesToUpload && !isDragging" class="center">
          <p>{{ i18n.importTextDrag(importType) }}</p>
        </div>
      </fade-transition>
      <fade-transition>
        <div v-show="isDragging" class="center">
          <p>{{ i18n.importTextDragging(importType) }}</p>
        </div>
      </fade-transition>
      <div class="tabContentContainer">
        <vertical-collapse>
          <aer-files
            v-if="!hasBrnFilesToUpload && (tab == Tab.FILES || isEmpty)"
            class="tabContent"
            :files="fileContext.getFiles()"
            :hasActiveSituation="hasActiveSituation()"
            :activeSituation="scenarioContext.getActiveSituation()"
            :isCalculationPointsImport="isCalculationPointsImport"
            @selectFileToImportIntoActiveSituation="selectFileToImportIntoActiveSituation"
            @removeFile="removeFile"
            @display-errors="tab = Tab.ERRORS"
            @display-warnings="tab = Tab.WARNINGS"
            @hasFileListErrors="hasFileListErrors">
          </aer-files>
        </vertical-collapse>
        <vertical-collapse>
          <aer-file-errors
            v-if="tab == Tab.ERRORS"
            class="tabContent"
            :files="fileContext.getFiles()"
            :cohesionErrors="fileContext.getErrors()" />
        </vertical-collapse>
        <vertical-collapse>
          <aer-file-warnings
            v-if="tab == Tab.WARNINGS"
            class="tabContent"
            :files="fileContext.getFiles()"
            :cohesionWarnings="fileContext.getWarnings()" />
        </vertical-collapse>
        <vertical-collapse>
          <aer-errors
            v-if="tab == Tab.GLOBAL"
            class="tabContent"
            :errors="fileContext.getErrors()" />
        </vertical-collapse>
      </div>
    </div>
  </div>

  <vertical-collapse>
    <labeled-input v-if="hasMultipleFilterOptions"
      :label="i18n.importFilterLabel()"
      name="importFilterListBox"
      class="importFilterListBoxContainer">
      <simple-listbox id="importFilterListBox"
        v-debug:importFilterListBox
        class="importFilterListBox"
        :options="importFilters"
        :selected="selectedImportFilter"
        @select='selectImportFilter((ImportFilter) $event)'>
        <template slot-scope="{ ImportFilter option }">{{ i18n.importFilterText(option) }}</template>
      </simple-listbox>
    </labeled-input>
  </vertical-collapse>

  <div slot="aux-buttons">
    <button :disabled="!canUploadMoreFiles"
      @click="onOpenFileInputClick()"
      v-debug:buttonOpenFileDialog>{{ i18n.importOpenFileDialog(importType) }}</button>
  </div>
  <aer-brn-import-modal
    :brnFiles="brnFilesToImport"
    @importBrnFiles="importBrnFiles">
  </aer-brn-import-modal>
</dialog-modal>

<style lang="scss" scoped>
@import "../../variables.scss";
@import '../../fade-transition.scss';
@import '../../vertical-collapse.scss';
@import '../../horizontal-collapse.scss';

.content {
  display: flex;
  max-height: inherit;
  flex-direction: column;

  .importText {
    margin-top: 0px;
    width: inherit;
  }
}

.conditions {
  padding: var(--spacer) 3em;
  margin: 0px 0px var(--spacer);
}

.importFilterListBoxContainer {
  max-width: 400px;
  margin-bottom: var(--half-spacer);

  .importFilterListBox {
    margin-bottom: var(--spacer);
    width: calc(100% - var(--spacer) - var(--spacer));
    align-self: center;
    margin: var(--spacer);
  }
}

.tabContentContainer {
  width: 100%;
  overflow: hidden;
}

.topContainer {
  display: flex;
  justify-content: space-between;

  .situationHeader {
    width: 100px;
    position: absolute;
    right: calc(32%);
    display: flex;
    align-items: center;
    height: var(--row-height-generous);
  }

  .top-aux {
    display: flex;
    align-items: center;

    .downloadLog {
      margin: 3px 0px;
      padding: 0px var(--half-spacer);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--half-spacer);
    }
  }
}

.tabs {
  position: relative;
  z-index: 1;
  display: flex;
  height: var(--row-height-generous);
  align-items: center;
  gap: var(--spacer);

  .tab {
    padding: 0px var(--spacer);
    box-sizing: border-box;
    cursor: pointer;
    border: 1px dashed var(--dark-grey);
    border-bottom: none;
    transition: all var(--anim);
    border-top-left-radius: var(--default-radius);
    border-top-right-radius: var(--default-radius);
    display: flex;
    align-items: center;
    align-self: stretch;

    &:hover {
      background-color: var(--theme-color-light);
    }

    .selectable {
      border: 1px dashed $import-screen-disabled;
    }

    .iconContainer {
      width: 24px;
      margin-right: 10px;
      display: flex;
      align-items: center;

      .icon {
        font-size: 24px;
      }

      .globalIcon {
        background: var(--error-color);
      }

      .errorIcon {
        background: var(--error-color);
      }

      .warningIcon {
        background: var(--warning-color);
      }
    }

    &.disabled {
      pointer-events: none;
      cursor: auto;
      color: $import-screen-disabled;
    }

    &.selected {
      color: var(--theme-color);
      background: var(--back-color);
    }
  }
}

.dropbox {
  margin: -1px 0px var(--half-spacer);
  position: relative;
  min-height: 250px;
  border: 1px dashed var(--dark-grey);
  background: var(--back-color);
  box-sizing: border-box;
  display: flex;

  &:hover {
    .center {
      background: $import-screen-background-hover;
    }
  }

  .tabContent {
    z-index: 1;
  }

  .upload {
    z-index: 3;
  }

  .center {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: $import-screen-filedrop-background;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 2;
    transition: background 0.1s ease-out, opacity 0.15s ease-out;

    p {
      text-align: center;
    }
  }

  input[type=file] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background 0.15s ease-out;
  }

  &.dragging {
    background: $import-screen-dragging-background;
  }

  >p {
    pointer-events: none;
    user-select: none;
    color: $import-screen-filedrop-background-text;
  }
}

button {
  @include button;
  min-width: 140px;
}
</style>
