<div class="container">
  <button v-debug:buttonImport
    @click="showModal()">{{ i18n.importButton() }}</button>
</div>

<style lang="scss" scoped>
@import "../../variables.scss";

.container {
  display: flex;
  align-items: center;
}

button {
  @include button;
}
</style>