<vue-gwt:import class="nl.overheid.aerius.js.exception.AeriusJsExceptionMessage" />

<div class="errors">
  <div class="error" v-for="AeriusJsExceptionMessage error in errors">
    <div class="iconContainer">
      <div class="icon"></div>
    </div>
    <p>{{ error.message }}</p>
  </div>
</div>

<style scoped lang="scss">
.errors {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .error {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    .iconContainer {
      width: 24px;
      margin-right: 10px;
      display: flex;
      align-items: center;

      .icon {
        height: 24px;
        width: 24px;
        background: #a00;
      }
    }
  }
}
</style>