<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.util.FileUploadStatus" />

<div class="fileContainer">
  <div class="line">
    <horizontal-collapse :seek="(boolean) false">
      <collapsible-button :expanded="contentVisible"
        class="collapsible"
        v-if="file.isComplete() && file.isValidated()"
        tabindex="0"
        @keyup.enter.space.native="contentVisible = !contentVisible"
        @click.native="contentVisible = !contentVisible" />
    </horizontal-collapse>
    <i class="icon" :class="getIconForFile(file)"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i><i class="path5"></i><i class="path6"></i></i>
    <div class="name"
      :title="file.getFile().name">{{ file.getFile().name }}</div>
    <div v-if="!hasActiveSituation"
      class="situationName"
      :title="file.getSituationName()">{{ file.getSituationName() }}</div>

    <!-- General import -->
    <div v-if="!hasActiveSituation && file.isComplete() && !file.isFailed() && !file.isPending() && !file.hasErrors() && !containsCalculationPoints"
      class="dropdown">
      <select v-debug:situationType
        id="situationType"
        v-model="situationType"
        aria-label="situationType"
        class="situationTypeSelect">
        <option v-for="SituationType situationType in availableSituationTypes"
          :value="situationType.name()">{{ i18n.situationType(situationType) }}</option>
      </select>
    </div>

    <!-- Import calculation points -->
    <div v-if="file.isComplete() && !file.isFailed() && !file.isPending() && !file.hasErrors() && containsCalculationPoints" class="dropdown">
      <select class="situationTypeSelect"
        disabled>
        <option>{{ i18n.menuCalculationPoints() }}</option>
      </select>
    </div>

    <!-- Import into existing situation -->
    <div v-if="hasActiveSituation && files.size() > 1 && areFilesComplete() && !containsCalculationPoints" class="dropdown">
      <select v-debug:selectParcelToImportDropdown
        id="selectParcelToImportDropdown"
        v-model="selectedFile"
        aria-label="selectedFile">
        <option v-for="FileUploadStatus file in files"
          v-if="file.getSituationStats().getCalculationPoints() == 0"
          :value="file.getFileCode()">{{ file.getSituationName() }}</option>
      </select>
    </div>

    <!-- Failure states -->
    <div v-if="file.isFailed()"
      class="errorLabel">{{ i18n.importFileUploadError() }}</div>
    <div class="percentage"
      v-if="!file.isFailed() && !file.isComplete()">{{ completePercentage() }}</div>
    <div class="iconSection status">
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="file.hasErrors()"
          v-debug:fileErrorIconButton
          class="iconContainer"
          @click="displayErrors">
          <i class="icon icon-error"><i class="path1"></i><i class="path2"></i></i>
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="!file.hasErrors() && !file.hasWarnings() && file.isValidated()"
        class="iconContainer">
          <i class="icon icon-valid"></i>
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="file.hasWarnings()" v-debug:fileWarningIconButton class="iconContainer" @click="displayWarnings">
          <i class="icon icon-alert-default-values"><i class="path1"></i><i class="path2"></i></i>
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div class="iconContainer" v-show="file.isPending()">
          <img class="icon" :class='map("validated", file.isValidated())' :src="img.loading().getSafeUri().asString()"></img> <!-- TODO: Maybe replace with animated SVG? -->
        </div>
      </horizontal-collapse>
    </div>
    <tooltip :title="i18n.esButtonDelete()" class="remove-btn-container">
      <button-icon :aria-label="i18n.esButtonDelete()"
        @click.native="removeFile()"
        class="remove-btn"
        iconClass="icon-btn-delete"
        v-debug:sourceListButtonImport />
    </tooltip>
    <transition name="fade">
      <div class="loader"
        v-if="!file.isComplete()"
        :class='map("error", file.isFailed())'
        :style="percentageWidth()"></div>
    </transition>
  </div>

  <vertical-collapse>
    <div v-if="file.isComplete() && file.isValidated() && contentVisible"
      class="miniStatsContainer">
      <mini-stats :stats="file.getSituationStats()" />
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../fade-transition.scss";
@import "../../vertical-collapse.scss";
@import '../../horizontal-collapse.scss';

.miniStatsContainer {
  .miniStats {
    padding: var(--spacer);
  }
}

.fileContainer {
  border-bottom: var(--separator);
}

.line {
  padding: 0px var(--half-spacer);
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;
  transition: all var(--anim);

  .collapsible:hover {
    background: var(--theme-color-light);
  }

  .collapsible.expanded {
    background: var(--theme-color);
  }
}

.iconSection {
  display: flex;
  flex-direction: row-reverse;
  width: 60px;

  .iconContainer {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.status {
      width: 48px;
      flex-direction: row-reverse;
    }

    .icon {
      &.validated {
        filter: opacity(0.3);
      }
    }
    .errorIcon {
      background: #a00;
    }
    .warningIcon {
      background: #c81;
    }
  }
}

.remove-btn-container {
  margin: 3px;

  .remove-btn {
    min-width: 30px;
  }
}

.icon {
  height: 24px;
  width: 24px;
  margin: 6px;
  font-size: 24px;
}

.name {
  flex-grow: 1;
  padding: 0px 7px;
  flex-basis: 25%;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.situationName {
  flex-grow: 0;
  flex-basis: 15em;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown {
  flex-basis: 25%;
}

.percentage {
  padding: 0px 7px;
  transition: opacity .15s ease-out .5s;
}

.loader {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #157CB188;
  pointer-events: none;
  transition: background 0.25s ease-out, width 0.25s ease-in-out, opacity 0.5s ease-out 0.5s;

  &.error {
    background: #a008;
  }
}

.errorLabel {
  font-weight: bold;
  padding-left: 7px;
}

</style>
