<vue-gwt:import class="nl.overheid.aerius.wui.application.util.FileUploadStatus" />
<vue-gwt:import class="nl.overheid.aerius.shared.config.ApplicationConfiguration" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType" />

<div class="list">
  <vertical-collapse-group target="37">
    <!-- No active situation -->
    <aer-file
      v-if="!hasActiveSituation"
      v-for="FileUploadStatus file in updateAndGetFiles()"
      class="item"
      :key="file.getKey()"
      :file="file"
      :hasActiveSituation="hasActiveSituation"
      @removeFile="removeFile"
      @display-errors="displayErrors"
      @display-warnings="displayWarnings" />

    <!-- Calculation points import -->
    <aer-file
      v-if="hasActiveSituation && isCalculationPointsImport"
      v-for="FileUploadStatus file in updateAndGetCalculationPointFiles()"
      class="item"
      :key="file.getKey()"
      :file="file"
      :hasActiveSituation="hasActiveSituation"
      @removeFile="removeFile"
      @display-errors="displayErrors"
      @display-warnings="displayWarnings" />

    <!-- Active situation -->
    <!-- TODO: Add check for same filename -->
    <aer-file
      v-if="hasActiveSituation && !isCalculationPointsImport && getFirstFile() != null"
      class="item"
      :key="getFirstFile().getKey()"
      :file="getFirstFile()"
      :files="updateAndGetFiles()"
      :hasActiveSituation="hasActiveSituation"
      @selectFileToImportIntoActiveSituation="selectFileToImportIntoActiveSituation"
      @removeFile="removeFile"
      @display-errors="displayErrors"
      @display-warnings="displayWarnings" />
  </vertical-collapse-group>
  <div class="problems">
    <vertical-collapse>
      <div v-if="selectedFileToImportIntoActiveSituation != null && hasActiveSituation && hasDifferentSituationType()">
       <div class="fileListWarning">{{ i18n.warningImportSituationTypesNotEqual(selectedFileToImportIntoActiveSituation.getSituationName(), i18n.situationType2(selectedFileToImportIntoActiveSituation.getSituationType()), i18n.situationType2(activeSituation.getType())) }}</div>
     </div>
    </vertical-collapse>
    <vertical-collapse>
      <div v-if="hasTooManySituations()">
        <div class="fileListError">{{ i18n.errorImportTooManySituations(getMaxNumberOfSituations()) }}</div>
      </div>
    </vertical-collapse>
    <vertical-collapse>
      <div v-if="hasTooManyReferenceSituations()">
        <div class="fileListError">{{ i18n.errorImportTooManyReferenceSituations(applicationContext.getMaxNumberOfSituationsForType(SituationType.REFERENCE)) }}</div>
      </div>
    </vertical-collapse>
    <vertical-collapse>
      <div v-if="hasTooManyNettingSituations()">
        <div class="fileListError">{{ i18n.errorImportTooManyNettingSituations(applicationContext.getMaxNumberOfSituationsForType(SituationType.NETTING)) }}</div>
      </div>
    </vertical-collapse>
  </div>
</div>

<style lang="scss" scoped>
@import "../../variables.scss";
@import "../../vertical-collapse.scss";

.list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
}

.problems {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.fileListWarning {
  padding: var(--spacer);
  background: var(--warning-color);
  color: white;
}

.fileListError {
  padding: var(--spacer);
  background: var(--error-color);
  color: white;
}

</style>
