<vue-gwt:import class="nl.overheid.aerius.wui.application.util.FileUploadStatus" />
<vue-gwt:import class="nl.overheid.aerius.js.exception.AeriusJsExceptionMessage" />

<div class="list">
  <p v-if="hasErrorOverflow" class="overflow">{{ i18n.importErrorOverflow() }}</p>
  <div v-for="FileUploadStatus file in filesWithErrors" class="item" :key="file.getKey()">
    <div class="name" :title="file.getFile().name">{{ file.getFile().name }}</div>
    <div class="errors">
      <div class="error" v-for="AeriusJsExceptionMessage error in file.getErrors()">
        <p v-html="textify(error.message)"></p>
      </div>
    </div>
  </div>
  <div v-if="hasCohesionErrors" class="item">
    <div class="name">{{ i18n.importCohesionErrorsTitle() }}</div>
    <div class="errors">
      <div class="error" v-for="AeriusJsExceptionMessage error in cohesionErrors">
        <p v-html="textify(error.message)"></p>
      </div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
.list {
  overflow: auto;

  .overflow {
    padding: 10px;
    margin: 0px;
    background: #aae4fd;
  }

  .item {
    padding: 10px;

    .name {
      line-height: 38px;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }

    .errors > .error > p {
      overflow: hidden;
    }
  }
}
</style>
