<div class="section" v-if="stats != null">
  <p v-if="stats != null && stats.getSources() > 0">
    <span>{{ i18n.situationViewSources() }}</span><span>{{ stats.getSources() }}</span>
  </p>
  <p v-if="stats != null && stats.getCalculationPoints() > 0">
    <span>{{ i18n.situationViewCalculationPoints() }}</span><span>{{ stats.getCalculationPoints() }}</span>
  </p>
  <p v-if="stats != null && stats.getBuildings() > 0">
    <span>{{ i18n.situationViewBuildings() }}</span><span>{{ stats.getBuildings() }}</span>
  </p>
</div>

<style scoped lang="scss">
.section {
  padding: 10px 15px;

  p {
    width: 250px;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
  }
}
</style>
