<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.util.FileUploadStatus" />

<dialog-modal
    ref="brnModal"
    :showing="!brnFiles.isEmpty()"
    :submitEnabled="canSubmit"
    @submit="modalSubmit()"
    @cancel="modalCancel()">
  <h1 slot="header">{{ i18n.importBrnTitle() }}</h1>
  <div class="content">
    <p class="importBrnText">{{ i18n.importBrnText() }}</p>
    <div class="headerContainer">
      <div class="header">
        {{ i18n.esLabel(Substance.NOX) }}
      </div>
      <div class="header lastHeader">
        {{ i18n.esLabel(Substance.NH3) }}
      </div>
    </div>
    <div class="fileContainer">
      <div class="file" v-for="FileUploadStatus brnFile in brnFiles">
        <i class="icon icon-doc-brn"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i><i class="path5"></i><i class="path6"></i></i>
        <p class="fileName" :title="brnFile.getFile().name">{{ brnFile.getFile().name }}</p>
        <label v-for="Substance substance in getSubstances()" class="radioContainer">
          <input v-debug:substanceRadioButton type="radio" :name="brnFile.getFile().name" @change="onSubstanceSet(brnFile, substance)" :value="substance" />
          <span class="radioButton">
            <span></span>
          </span>
        </label>
        <div v-debug:buttonDeleteFile @click="removeFile(brnFile)" class="deleteContainer">
          <i class="icon icon-btn-delete"></i>
        </div>
      </div>
    </div>
  </div>
</dialog-modal>

<style lang="scss" scoped>
@import "../../variables.scss";

.importBrnText {
  margin: 0;
}

.headerContainer {
  display: flex;
  line-height: 40px;
  justify-content: right;

  .header {
    width: 100px;
  }

  .lastHeader {
    margin-right: 10%;
  }
}

.fileContainer {
  background: var(--back-color);
  border: 1px dashed var(--dark-grey);
  align-items: center;
  user-select: none;

  .file {
    height: 36px;
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
      border-bottom: var(--separator);
    }

    .icon {
      height: 24px;
      width: 24px;
      margin: 6px;
      font-size: 24px;
    }

    .fileName {
      flex-grow: 1;
      padding: 0px 7px;
      width: inherit;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 1vh;
      margin-bottom: 1vh;
    }

    .deleteContainer {
      display: flex;
      justify-content: center;
    }

    .radioContainer {
      display: block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-right: 100px;

      &:nth-last-child(2) {
        margin-right: calc(10% + 63px);
      }

      &:hover input ~ .radioButton {
        background-color: white;
      }

      /* Hide the browser's default radio button */
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: auto;

        /* Display the dot only on selected */
        &:checked ~ .radioButton span {
          display: block;
        }

        &:focus ~ .radioButton {
          background-color: $import-screen-radiobutton-background-hover;
        }
      }

      /* Create a custom radio button */
      .radioButton {
        position: absolute;
        margin-top: 6px;
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
        border: $import-screen-radiobutton-border;

        /* Create the custom radio button dot (hidden when not checked) */
        span {
          content: "";
          position: absolute;
          display: none;

          margin-top: 3.5px;
          margin-left: 3.5px;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          background: var(--theme-color);
        }
      }

    }
  }
}

</style>
