<vue-gwt:import class="nl.overheid.aerius.geo.domain.LayerItem" />

<div class="layerContainers">
  <component v-for="LayerItem item in layers"
    class="layer"
    :is="getComponentType(item)"
    :eventBus="eventBus"
    :item="item">
  </component>
</div>

<style scoped>
.layerContainers {
  display: flex;
  flex-direction: column;
}

.layer {
  border-bottom: 1px solid #ccc;
}
</style>
