<panelized-modal
  :visible="dock != null"
  ref="modal"
  :context="context"
  :eventBus="eventBus"
  :title="i18n.layerPanelTitle()"
  :inactiveText="i18n.layerPanelInactiveText()"
  :canResize="true"
  class="modal"
  @close="close()">
  <layer-panel
    :eventBus="eventBus">
  </layer-panel>
</panelized-modal>

<style scoped lang="scss">
.modal {
  width: var(--info-panel-width);

  --modal-top: 70px;
  --modal-right: 80px;

  top: var(--modal-top);
  right: var(--modal-right);
}
</style>
