<div class="row">
  <slot name="keys">
    <div class="keys" v-html="keys"></div>
  </slot>
  <slot>
    <div v-html="explain"></div>
  </slot>
</div>

<style lang="scss" scoped>
.row {
  display: contents;

  .keys {
    text-align: right;
  }
}
</style>
