<fade-transition>
  <div class="hotKeyContainer" v-if="displayHelp">
    <div class="header">
      <h3>{{ i18n.hotkeyTitle() }}</h3>
      <div v-vector="img.iconClose()" @click="closeHelp()" class="exit"></div>
    </div>
    <div class="panels">
      <div class="table nav">
        <key-line>
          <h4>{{ i18n.hotkeyNavigationTitle() }}</h4>
        </key-line>
        <key-line :keys="i18n.hotkeyNavigateSourcesKeys()"
          :explain="i18n.hotkeyNavigateSourcesExplain()" />
        <key-line :keys="i18n.hotkeyNavigateAssessmentPointsKeys()"
          :explain="i18n.hotkeyNavigateAssessmentPointsExplain()" />
        <key-line :keys="i18n.hotkeyNavigateCalculateKeys()"
          :explain="i18n.hotkeyNavigateCalculateExplain()" />
        <key-line :keys="i18n.hotkeyNavigateResultsKeys()"
          :explain="i18n.hotkeyNavigateResultsExplain()" />
        <key-line :keys="i18n.hotkeyNavigateExportKeys()"
          :explain="i18n.hotkeyNavigateExportExplain()" />
      </div>
      <div class="table tools">
        <key-line>
          <h4>{{ i18n.hotkeyToolsTitle() }}</h4>
        </key-line>
        <key-line :keys="i18n.hotkeyNotificationPopupKeys()"
          :explain="i18n.hotkeyNotificationPopupExplain()" />
        <key-line :keys="i18n.hotkeyLayerPopupKeys()"
          :explain="i18n.hotkeyLayerPopupExplain()" />
        <key-line :keys="i18n.hotkeyInfoPopupKeys()"
          :explain="i18n.hotkeyInfoPopupExplain()" />
        <key-line :keys="i18n.hotkeySearchPopupKeys()"
          :explain="i18n.hotkeySearchPopupExplain()" />
        <key-line :keys="i18n.hotkeyMeasureToolKeys()"
          :explain="i18n.hotkeyMeasureToolExplain()" />
        <key-line :keys="i18n.hotkeyLeftPanelToggleKeys()"
          :explain="i18n.hotkeyLeftPanelToggleExplain()" />
        <key-line :keys="i18n.hotkeyHotKeyPanelToggleKeys()"
          :explain="i18n.hotkeyHotKeyPanelToggleExplain()" />
        <key-line :keys="i18n.hotkeyEscapeFocusKeys()"
          :explain="i18n.hotkeyEscapeFocusExplain()" />
      </div>
      <div class="table select">
        <key-line>
          <h4>{{ i18n.hotkeySelectTitle() }}</h4>
        </key-line>
        <key-line :keys="i18n.hotkeySelectFeatureKeys()"
          :explain="i18n.hotkeySelectFeatureExplain()" />
        <key-line :keys="i18n.hotkeySelectSituationKeys()"
          :explain="i18n.hotkeySelectSituationExplain()" />
        <key-line :keys="i18n.hotkeyCreateCurrentKeys()"
          :explain="i18n.hotkeyCreateCurrentExplain()" />
        <key-line :keys="i18n.hotkeyCreateSituationKeys()"
          :explain="i18n.hotkeyCreateSituationExplain()" />
        <key-line :keys="i18n.hotkeyCreateSourceKeys()"
          :explain="i18n.hotkeyCreateSourceExplain()" />
        <key-line :keys="i18n.hotkeyCreateAssessmentPointKeys()"
          :explain="i18n.hotkeyCreateAssessmentPointExplain()" />
        <key-line :keys="i18n.hotkeyCreateBuildingKeys()"
          :explain="i18n.hotkeyCreateBuildingExplain()" />
        <key-line :keys="i18n.hotkeySelectedEditKeys()"
          :explain="i18n.hotkeySelectedEditExplain()" />
        <key-line :keys="i18n.hotkeySelectedDuplicateKeys()"
          :explain="i18n.hotkeySelectedDuplicateExplain()" />
        <key-line :keys="i18n.hotkeySelectedRemoveKeys()"
          :explain="i18n.hotkeySelectedRemoveExplain()" />
        <key-line :keys="i18n.hotkeySelectedZoomKeys()"
          :explain="i18n.hotkeySelectedZoomExplain()" />
      </div>
      <div class="table map">
        <key-line>
          <h4>{{ i18n.hotkeyMapTitle() }}</h4>
        </key-line>
        <key-line :keys="i18n.hotkeyMapZoomInKeys()"
          :explain="i18n.hotkeyMapZoomInExplain()" />
        <key-line :keys="i18n.hotkeyMapZoomOutKeys()"
          :explain="i18n.hotkeyMapZoomOutExplain()" />
        <key-line :keys="i18n.hotkeyMapPanLeftKeys()"
          :explain="i18n.hotkeyMapPanLeftExplain()" />
        <key-line :keys="i18n.hotkeyMapPanRightKeys()"
          :explain="i18n.hotkeyMapPanRightExplain()" />
        <key-line :keys="i18n.hotkeyMapPanDownKeys()"
          :explain="i18n.hotkeyMapPanDownExplain()" />
        <key-line :keys="i18n.hotkeyMapPanUpKeys()"
          :explain="i18n.hotkeyMapPanUpExplain()" />
      </div>
    </div>

    <div class="versions">
      <div>{{ i18n.hotkeyPanelApplicationVersion(applicationVersion) }}</div>
      <div>{{ i18n.hotkeyPanelDatabaseVersion(databaseVersion) }}</div>
    </div>
  </div>
</fade-transition>

<style scoped lang="scss">
@import "../../fade-transition.scss";

.versions {
  padding: var(--half-spacer);
  color: var(--grey);
  border-top: 1px solid var(--light-grey);

  div {
    font-size: 0.8em;
  }
}

.hotKeyContainer {
  background: white;
  position: fixed;
  z-index: 9999;

  max-width: 90vw;
  overflow: hidden;
  align-self: center;
  justify-self: center;

  border: 1px solid var(--grey);
}

.panels {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "nav tools"
                       "select tools"
                       "select map";
  padding: var(--half-spacer) var(--spacer);
  gap: var(--spacer);
  overflow: auto;

  .nav {
    grid-area: nav;
  }

  .tools {
    grid-area: tools;
  }

  .select {
    grid-area: select;
  }

  .map {
    grid-area: map;
  }
}

.table {
  display: grid;
  grid-template-columns: 100px auto;
  grid-auto-rows: min-content;
  gap: var(--half-spacer) var(--spacer);
}

h3,h4 {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grey);
  padding: var(--half-spacer) var(--spacer);
}

.exit {
  padding: var(--spacer);
  line-height: 0px;
  cursor: pointer;
  transition: background var(--anim);

  svg {
    width: 12px;
    height: 12px;
    transition: fill var(--anim);
  }

  &:hover {
    background: var(--back-color);

    svg {
      fill: var(--theme-color);
    }
  }
}
</style>
