<div class="innerRow"
  tabindex="0"
  @keyup.enter.space="select()"
  @click="select()"
  :class='map("selected", selected)'>
  <div class="iconColumn"
    v-debug:subSourceListIcon><i :class="sectorFontClass()"></i></div>
  <div class="labelColumn"
    v-debug:subSourceListDescription>{{ source.getDescription() }}</div>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../row-item.scss";

.innerRow {
  grid-template-columns: 30px 1fr;
}
</style>
