<vue-gwt:import class="java.util.Map" />

<div class="singleColumn">
  <sub-source-validation-behaviour
    :errors="false"
    :warnings="false"
    :selectedIndex="selectedIndex"
    :subSources="source.getSubSources()"
    @subSourceErrors="setSubSourceErrors((Map) $event)"
    @subSourceWarnings="setSubSourceWarnings((Map) $event)"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="displayProblems(true)" />

  <aer-modify-list :presenter="presenter"
    :selected="selected()"
    :enableImport="false"
    :enableNameLabels="false"
    :enableEdit="false"
    class="modifyToolbox" />

  <sub-source-empty-error
    :displayProblems="displayProblems"
    :subSources="source.getSubSources()" />

  <!-- Wrap in another div so :first-child and :last-child dynamic works -->
  <div>
    <vertical-collapse-group>
      <sub-source-validated-row v-for="(OffRoadMobileSource subSource, idx) in source.getSubSources())"
        :key="idx"
        :selected="isSelected(idx)"
        :errors="hasErrors(idx)"
        :warnings="hasWarnings(idx)">
        <off-road-mobile-emission-editor-row v-debug='"sourcelistRow" + idx'
          @select="selectSource(idx, subSource)"
          :source="subSource"
          :sectorId="source.getSectorId()"
          :selected="isSelected(idx)" />
      </sub-source-validated-row>
    </vertical-collapse-group>
  </div>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";
@import "../../modify/styles.scss";

</style>
