<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.offroad.OffRoadType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.offroad.StandardOffRoadMobileSource"/>

<div v-if="isSourceAvailable()" class="offRoadMobileContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />
  <!-- Temporarily remove toggleButtons until CUSTOM gets made -->
  <!-- <div class="toggleButtons">
    <div class="toggleButton"
      tabindex="0"
      :class='map("active", toggleSelect == OffRoadType.STANDARD)'
      v-debug:offRoadMobileSourceToggleStandard
      @keyup.enter.space='setToggle(OffRoadType.STANDARD)'
      @click='setToggle(OffRoadType.STANDARD)'>{{ i18n.esOffRoadMobileSelectStandard() }}</div>
    <div class="toggleButton"
      tabindex="0"
      :class='map("active", toggleSelect == OffRoadType.CUSTOM)'
      v-debug:offRoadMobileSourceToggleCustom
      @keyup.enter.space='setToggle(OffRoadType.CUSTOM)'
      @click='setToggle(OffRoadType.CUSTOM)'>{{ i18n.esOffRoadMobileSelectCustom() }}</div>
  </div> -->

  <off-road-mobile-standard-emission
    v-if='toggleSelect == OffRoadType.STANDARD'
    :standardSubSource="(StandardOffRoadMobileSource) subSource"
    @errors='trackChildError("mobile", (boolean) $event)'
    @warnings='trackChildWarning("mobile", (boolean) $event)' />
</div>

<style scoped lang="scss">
@import "../../../variables.scss";

.offRoadMobileContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.toggleButtons {
  display: flex;
  height: var(--row-height);
  margin-bottom: var(--spacer);

  .toggleButton {
    @include button-toggle;
    align-items: center;
    align-self: center;
    flex-basis: 50%;
    text-align: center;
  }
}

</style>
