<div class="buttons">
  <tooltip :title="i18n.esButtonNewSource()">
    <button-icon :aria-label="i18n.esButtonNewSource()"
      @click.native="newSource()"
      class="btn"
      iconClass="icon-btn-new"
      v-debug:sourceListButtonNewSource />
  </tooltip>
  <tooltip :title="i18n.esButtonImport()">
    <button-icon v-if="enableImport"
      :aria-label="i18n.esButtonImport()"
      @click.native="importFile()"
      class="btn"
      iconClass="icon-btn-import"
      v-debug:sourceListButtonImport />
  </tooltip>
  <tooltip :title="nameLabelsEnabled ? i18n.esButtonLabelsOff() : i18n.esButtonLabels()">
    <button-icon :aria-label="i18n.esButtonLabels()"
      class="btn"
      :pressed="nameLabelsEnabled"
      v-if="enableNameLabels"
      @click.native="toggleNameLabels()"
      iconClass="icon-btn-namelabels"
      v-debug:sourceListButtonNamelabels />
  </tooltip>

  <div style="width: 100%"></div>

  <tooltip :title="i18n.esButtonEdit()"
    :disabled="!selected">
    <button-icon :aria-label="i18n.esButtonEdit()"
      v-show="enableEdit"
      :disabled="!selected || multiSelected"
      @click.native="editSource()"
      class="btn"
      iconClass="icon-btn-edit"
      v-debug:sourceListButtonEditSource />
  </tooltip>
  <tooltip :title="i18n.esButtonDelete()"
    :disabled="!selected && !enableDelete">
    <button-icon :aria-label="i18n.esButtonDelete()"
      :disabled="!selected && !enableDelete"
      @click.native="deleteSource()"
      class="btn"
      iconClass="icon-btn-delete"
      v-debug:sourceListButtonDeleteSource />
  </tooltip>
  <tooltip :title="i18n.esButtonCopy()"
    :disabled="!selected">
    <button-icon v-if="enableCopy"
      :aria-label="i18n.esButtonCopy()"
      :disabled="!selected"
      @click.native="duplicateSource()"
      class="btn"
      iconClass="icon-btn-duplicate"
      v-debug:sourceListButtonCopySource />
  </tooltip>
</div>

<style scoped lang="scss">
@import "../../variables.scss";

.buttons {
  display: flex;
  flex-direction: row;
  min-height: var(--row-height-generous);
}

.btn {
  align-self: stretch;
}
</style>
