.modifyToolbox {
  border-radius: $input-border-radius;
  background-color: var(--back-color);
  margin: 0px var(--spacer);
}

.singleColumn {
  width: $column-left-width;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacer) 0px;
}
