<div class="headingContainer">
  <aer-styled-point
    tabindex="0"
    @click.native="onClick()"
    @keyup.enter.space.native="onClick()"
    :feature="feature"
    :backColor="backColor"
    :foreColor="foreColor"
    :borderRadius="borderRadius"
    :eventBus="eventBus" />
  <h1 class="title">{{ title }}</h1>
</div>

<style lang="scss" scoped>
.headingContainer {
  display: flex;
  gap: var(--spacer);
  align-items: center;
  padding: 0px var(--spacer);
}
</style>
