.height-leave-active {
  transition: height .15s ease-out 0.3s, background 0.15s ease-out, color 0.15s ease-out;
  overflow: hidden;
}
.height-leave-to {
  height: 0;
  background: #0c0 !important;
}

.errorField {
  background: #a00;
  color: white;
  font-weight: bold;
  padding: 0px 10px;
  line-height: 36px;
  margin-bottom: 3px;
}

.valid {
  border-color: #0a0 !important;

  .checkmark {
    border-color: #0a0 !important;
  }
}

.error {
  border-color: #a00 !important;
}
