$transparent: black;

/**
* NOTE: Consider using base.css instead of variables.scss; variables.scss will be phased out
*
* Some guidelines for css variables:
* - Try to define as few css colors/variables as possible, don't try to define everything globally
* - If defining colors for a specific component or unique feature, don't define them here
* - Keep it simple, complexity ensures it is impossible to take advantage of reuse
* - Use variables that align with their abstract intent, not their specific meaning
* - It should always be possible to change the value of few main variables (retaining things like contrast for things like colors, of course)
*   and not change a million other things to make the resulting style changes a cohesive whole again.
* - If more than, say, 3 shades of grey are defined here, rethink.
* - When naming or finding things with/by markers such as 'border' or 'hover' or 'active' etc., read and try to better understand the above
*
* For example:
* When coming here to look for some shade of grey for some border or background or whatever,
* don't call it $esoteric-feature-background|border-color, but $light-grey
*/
$theme-color: var(--theme-color);
$theme-color-light: var(--theme-color-light);

$disabled: var(--disabled-color);


$text-color: #333;

/* TODO: Replace with $theme-color */
$text-color-blue: $theme-color;

/* TODO: Replace with something like $disabled */
$text-color-inactive: #B3B3B3;

/**
* TODO: Most of the below should not be defined globally, or specifically
*/
$input-background-color: white;
$input-border-color-hover: grey;
$input-border-color-focus: $theme-color;
$input-unit-color: #D7C6D2;
$input-error-border-color: var(--error-color);
$input-error-color:white;
$input-error-background-color: var(--error-color);

$input-font-size: 13px;
$input-border-radius: var(--default-radius);
$input-height: 30px;

$back-color: #F5F5F5;
$back-color-hover: #D0E5EF;
$back-color-active: #AACEE0;
$back-color-disabled: #F9F9F9 !important;
$back-color-field-labels: #E8E8E8;

$face-color: #4D4E4E;
$face-color-hover: $theme-color;
$face-color-active: #056192;
$face-color-disabled: #989898 !important;
$face-color-warning: #FFA500;

$button-color: #4D4E4E;
$button-color-active: $theme-color;
$button-color-disabled: grey;
$button-color-hover: white;
$button-background-active: #157CB133;
$button-border-radius: var(--default-radius);

$column-left-width: 400px;
$column-right-width: 810px;
$column-margin: 10px;

$collapsible-panel-hover: #D0E5EF;
$collapsible-panel-active: #D0E5EF;

$import-screen-disabled: grey;
$import-screen-background-hover: #E8E8E8;
$import-screen-dragging-background: #D5D5D5;
$import-screen-filedrop-background: #F5F5F5DD;
$import-screen-filedrop-background-text: #666666;
$import-screen-file-hover: #e5e5e5;
$import-screen-radiobutton-background-hover: #CCC;
$import-screen-radiobutton-border: 1.5px solid #9D9D9D;

$listbox-color-background: white;
$listbox-dropdown-color-border: #888888;
$listbox-dropdown-color-modal-border: #DCDCDC;
$listbox-dropdown-color-modal-box-shadow: 0px 4px 4px #CDCDCD;
$listbox-dropdown-color-modal-background: white;
$listbox-dropdown-color-item-border-top: white;
$listbox-dropdown-color-item-background: #F1F1F1;
$listbox-dropdown-color-item-hover: rgba(0,0,0,0.1);

$toggle-border-color: #B3B3B3;
$toggle-border-color-active: #167CB1;
$toggle-color-active: #CFE4EF;
$toggle-background-active:  #CFE4EF;

$seperator-line-color: white;

$table-row-height: 36px;

$result-view-list-item: white;
$result-view-list-item-selected: #D0E5EF;
$result-view-list-item-hover: #D0E5EF;

$color-suggestion-warning: var(--warning-color);

$color-icon-warning: var(--warning-color);
$color-icon-adjusted: var(--adjusted-color);

$color-background-input-disabled: white;
$color-input-disabled: black;
$color-background-value: white;

$placeholder-color: #757575;

/** Animation time for random non-critical elements **/
$animation-time: 0.15s;

/** Animation time for function-critical elements, should be quick; the experience is not that important **/
$animation-time-primary: 0.1s;

$info-panel-tooltip-width: 350px;

@mixin clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  transition: background $animation-time-primary ease-out, color $animation-time-primary ease-out;
  cursor: pointer;

  &:hover {
    background: $back-color-hover;
  }
  &.active, &:hover {
    color: $face-color-hover;
  }
  &:active {
    background: $back-color-active;
    color: $face-color-active;
  }
}

@mixin item {
  flex-direction: column;
  text-align: center;
  @include clickable;
  color: $face-color;
  background: $back-color;

  .icon {
    background: $face-color;
    transition: background $animation-time ease-out;
  }

  &.disabled {
  user-select: none;
  cursor: not-allowed;
  background: $back-color-disabled;
  color: $face-color-disabled;
    .icon {
      background: $face-color-disabled;
    }
  }

  &.active, &:hover {
    background: $back-color-hover;
    .icon {
      background: $face-color-hover;
    }
  }
  &:active {
    background: $back-color-hover;
    .icon {
      background: $face-color-active;
    }
  }
}

@mixin button {
  background: white;
  border: 1px solid $button-color-active;
  border-radius: $button-border-radius;
  padding: 6px;
  color: $button-color-active;
  cursor: pointer;
  outline: 0;
  min-width: 100px;
  transition: color 0.1s ease-out, background 0.1s ease-out;

  &:disabled {
    border-color: var(--disabled-color) !important;
    color: var(--disabled-color) !important;
    cursor: auto !important;
  }

  &:focus:enabled:not(.active) {
    outline: 2px dotted var(--theme-color);
    outline-offset: 3px;
  }
  &:hover:enabled, &.active {
    color: white;
    background: $button-color-active !important;
  }
}

@mixin button-minimal {
  background: white;
  border: none;
  border-radius: $button-border-radius;
  padding: 6px;
  color: $button-color-active;
  cursor: pointer;
  outline: 0;
  transition: color 0.1s ease-out, background 0.1s ease-out;
  &:disabled {
    border-color: gray !important;
    color: gray !important;
    cursor: auto !important;
  }

  &:focus:enabled:not(.active) {
    outline: 2px dotted var(--theme-color);
    outline-offset: 3px;
  }
  &:hover:enabled, &.active {
    color: white;
    background: $button-color-active !important;
  }
}

@mixin button-secondary {
  padding: 15px 15px;
  color: $button-color-active;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: $button-border-radius;
  outline: 0;

  &:hover {
    text-decoration: underline;
  }
}

@mixin button-toggle {
  background: white;
  border: 1px solid $toggle-border-color;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  padding: 6px;
  color: var(--text-color);
  cursor: pointer;
  min-width: 50px;
  user-select: none;
  transition: color 0.1s ease-out, background 0.1s ease-out;

  &:first-child {
    border-left-width: 1px;
    border-top-left-radius: $button-border-radius;
    border-bottom-left-radius: $button-border-radius;
  }

  &:last-child {
    border-right-width: 1px;
    border-bottom-right-radius: $button-border-radius;
    border-top-right-radius: $button-border-radius;
  }

  &:disabled {
    border-color: gray !important;
    color: gray !important;
    cursor: auto !important;
  }

  &:hover, &.active {
    background: var(--theme-color);
    color: white;
    border-color: var(--theme-color);
  }
}
