<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodgingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.CustomFarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.StandardFarmLodging"/>

<div v-if="isSourceAvailable()" class="detailContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <div class="toggleButtons">
    <div class="toggleButton"
      tabindex="0"
      :class='map("active", toggleSelect == FarmLodgingType.STANDARD)'
      v-debug:emissionSourceFarmlodgingToggleStandard
      @keyup.enter.space='setToggle(FarmLodgingType.STANDARD)'
      @click='setToggle(FarmLodgingType.STANDARD)'>{{ i18n.esFarmLodgingSelectStandard() }}</div>
    <div class="toggleButton"
      tabindex="0"
      :class='map("active", toggleSelect == FarmLodgingType.CUSTOM)'
      v-debug:emissionSourceFarmlodgingToggleCustom
      @keyup.enter.space='setToggle(FarmLodgingType.CUSTOM)'
      @click='setToggle(FarmLodgingType.CUSTOM)'>{{ i18n.esFarmLodgingSelectCustom() }}</div>
  </div>
  <farm-lodging-standard-emission v-if='toggleSelect == FarmLodgingType.STANDARD'
    @errors='trackChildError("housing", (boolean) $event)'
    @warnings='trackChildWarning("housing", (boolean) $event)'
    :standardFarmLodging="(StandardFarmLodging) subSource" />
  <farm-lodging-custom-emission v-if='toggleSelect == FarmLodgingType.CUSTOM'
    @errors='trackChildError("housing", (boolean) $event)'
    @warnings='trackChildWarning("housing", (boolean) $event)'
    :customFarmLodging="(CustomFarmLodging) subSource" />
</div>

<style scoped lang="scss">
@import "../../../variables.scss";

.detailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.toggleButtons {
  display: flex;
  height: var(--row-height);

  .toggleButton {
    @include button-toggle;
    align-items: center;
    align-self: center;
    flex-basis: 50%;
    text-align: center;
  }
}
</style>
