@import "../../../variables.scss";

.header {
  background: $back-color-field-labels;
  height: 36px;
  align-items: center;

  div {
    padding: 0px 10px;
  }
}

.row {
  display: grid;
  grid-template-columns: 36px 1fr 1fr 2fr;
  grid-template-rows: var(--row-height-generous);
  gap: 4px;
  flex-grow: 1;

  border-top: var(--half-separator);
  border-bottom: var(--half-separator);

  &:first-child {
    border-top: var(--separator);
  }
  &:last-child {
    border-bottom: var(--separator);
  }

  border-color: var(--back-color) !important;

  input {
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
  }
}

.deleteButton {
  min-width: 0px;
  background: white;
  border: 1px solid var(--light-grey);
  border-radius: var(--default-radius);
}

.numberInput {
  text-align: right;
  border: 1px solid var(--light-grey);
}

.suggestionWarningInput {
  border: solid 1px var(--warning-color) !important;
}

.detailHeader {
  margin-top: 12px;
  font-weight: bold;
}

.subSources {
  display: flex;
  flex-direction: column;
}

.subSource {
  margin: 0 0 1em 0;
}

.detailRow {
  display: flex;
  flex-direction: row;

  .ravCodeColumn {
    flex-basis: 35%;
    max-width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .amountColumn {
    flex-basis: 15%;
    max-width: 15%;
  }

  .factorColumn {
    flex-basis: 15%;
    max-width: 15%;
  }

  .reductionColumn {
    flex-basis: 15%;
    max-width: 15%;
  }

  .emissionColumn {
    flex-basis: 20%;
    max-width: 20%;
    text-align: right;
  }
}

div.detailRows {
  :not(:last-child) .emissionColumn, .unconstrained {
    text-decoration: line-through;
  }
}

.input {
  width: 100%;
  height: 100%;
}
