<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.shipping.MooringType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.InlandShipping" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.InlandShippingType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.MooringInlandShipping" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.MooringInlandShippingType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.StandardInlandShipping" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.StandardMooringInlandShipping" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.shipping.inland.inland.InlandMovementComponent.InlandMovementType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div class="margin">
  <div class="header">{{ i18n.esInlandShippingDetailTitle() }}</div>
  <vertical-collapse>
    <div v-if="isESType(EmissionSourceType.SHIPPING_INLAND)">
      <div class="table waterwayTable">
        <div class="row">
          <div>{{ i18n.esWaterwayCategory() }}</div>
          <div v-debug:inlandShippingWaterwayCode>{{ inlandSource.getWaterway().getWaterwayCode() }}</div>
        </div>
        <div class="row">
          <div>{{ i18n.esWaterwayDirectionDetail() }}</div>
          <div v-debug:inlandShippingWaterwayDirectionType>{{ i18n.esWaterwayDirectionType(inlandSource.getWaterway().getDirection()) }}</div>
        </div>
        <vertical-collapse>
        <div v-if="inlandSource.getMooringAId() != null" class="row">
          <div>{{ i18n.mooringType(MooringType.A) }}</div>
          <div v-debug:inlandShippingMooringAId>{{ getSourceLabel(inlandSource.getMooringAId()) }}</div>
        </div>
        </vertical-collapse>
        <vertical-collapse>
        <div v-if="inlandSource.getMooringBId() != null" class="row">
          <div>{{ i18n.mooringType(MooringType.B) }}</div>
          <div v-debug:inlandShippingMooringBId>{{ getSourceLabel(inlandSource.getMooringBId()) }}</div>
        </div>
      </vertical-collapse>
    </div>
    <vertical-collapse-group>
      <div v-for="(InlandShipping row, index) in inlandSource.getSubSources()" :key="index">
        <div v-if="row.getInlandShippingType() == InlandShippingType.STANDARD">
          <div class="header" v-debug='"inlandShippingCode-" + index'>{{ getDescriptionFromCode(((StandardInlandShipping) row).getShipCode()) }}</div>
          <div class="table inlandTable">
            <div class="row">
              <div>{{ i18n.esShipDescription() }}</div>
              <div>{{ i18n.esShipsMovementsPerTimeUnit() }}</div>
              <div>{{ i18n.esShipTimeunit() }}</div>
              <div>{{ i18n.esShipPercentageLoad() }}</div>
            </div>
            <div class="inlandHeader header">{{ i18n.esMovement(InlandMovementType.A_TO_B) }}</div>
            <div class="row">
              <div v-debug='"inlandShippingDescriptionAtoB-" + index'>{{ row.getDescription() }}</div>
              <div v-debug='"inlandShippingMovementsAtoB-" + index'>{{ row.getMovementsAtoBPerTimeUnit() }}</div>
              <div v-debug='"inlandShippingTimeUnitAtoB-" + index'>{{ i18n.unitTime(row.getTimeUnitAtoB()) }}</div>
              <div v-debug='"inlandShippingPercentageLadenAtoB-" + index'>{{
                i18n.unitPercentage(i18n.decimalNumberFixed(row.getPercentageLadenAtoB(), 1)) }}</div>
            </div>
            <div class="inlandHeader header">{{ i18n.esMovement(InlandMovementType.B_TO_A) }}</div>
            <div class="row">
              <div v-debug='"inlandShippingDescriptionBtoA-" + index'>{{ row.getDescription() }}</div>
              <div v-debug='"inlandShippingMovementsBtoA-" + index'>{{ row.getMovementsBtoAPerTimeUnit() }}</div>
              <div v-debug='"inlandShippingTimeUnitBtoA-" + index'>{{ i18n.unitTime(row.getTimeUnitBtoA()) }}</div>
              <div v-debug='"inlandShippingPercentageLadenBtoA-" + index'>{{
                i18n.unitPercentage(i18n.decimalNumberFixed(row.getPercentageLadenBtoA(), 1)) }}</div>
            </div>
          </div>
          <div class="header">{{ i18n.esShipEmission() }}</div>
          <div class="table emissionTable">
            <div class="row" v-for="Substance substance in substances">
              <div>{{ i18n.esEmissionLabel(substance.name()) }}</div>
              <div>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</div>
            </div>
          </div>
        </div>
      </div>
    </vertical-collapse-group>
  </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="isESType(EmissionSourceType.SHIPPING_INLAND_DOCKED)">
      <div v-for="(MooringInlandShipping row, index) in mooringInlandSource.getSubSources()">
        <div v-if="row.getMooringInlandShippingType() == MooringInlandShippingType.STANDARD">
          <div class="header">{{ getDescriptionFromCode(((StandardMooringInlandShipping) row).getShipCode()) }}</div>
          <div class="table inlandTable">
            <div class="row">
              <div>{{ i18n.esShipDescription() }}</div>
              <div>{{ i18n.esShipsVisitsPerTimeUnit() }}</div>
              <div>{{ i18n.esShipTimeunit() }}</div>
              <div>{{ i18n.esShipPercentageLoad() }}</div>
            </div>
            <div class="row">
              <div v-debug='"inlandShippingDescription-" + index'>{{ row.getDescription() }}</div>
              <div v-debug='"inlandShippingMovements-" + index'>{{ row.getShipsPerTimeUnit() }}</div>
              <div v-debug='"inlandShippingTimeUnit-" + index'>{{ i18n.unitTime(row.getTimeUnit()) }}</div>
              <div v-debug='"inlandShippingPercentageLaden-" + index'>{{ row.getPercentageLaden() }}</div>
            </div>
          </div>
          <div class="header">{{ i18n.esShipEmission() }}</div>
          <div class="table emissionTable">
            <div class="row" v-for="Substance substance in substances">
              <div v-debug='"inlandShippingSubstance-" + substance.name()'>{{ i18n.esEmissionLabel(substance.name()) }}</div>
              <div v-debug='"inlandShippingEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </vertical-collapse>
  <div class="header">{{ i18n.esShipTotalEmission() }}</div>
  <div class="table emissionTable">
    <div class="row" v-for="Substance substance in substances">
      <div v-debug='"inlandShippingTotalSubstance-" + substance.name()'>{{ i18n.esEmissionLabel(substance.name()) }}</div>
      <div v-debug='"inlandShippingTotalEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../../vertical-collapse.scss";

.margin {
  margin-left: var(- -spacer);
  margin-right: var(- -spacer);
}

.table {
  display: grid;
  gap: 0px var(- -half-spacer);
}

.waterwayTable {
  grid-template-columns: 1fr 1fr;
}

.emissionTable {
  grid-template-columns: 1fr 1fr;
}

.inlandTable {
  grid-template-columns: 3fr 3fr 2fr 2fr;
}

.row {
  display: contents;
}

.inlandHeader {
  grid-column: 1/span 4;
}

.header {
  margin-top: var(- -half-spacer);
  font-weight: bold;
}
</style>
