<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div class="genericContainer">
  <h4 class="header">{{ i18n.esTitle() }}</h4>
  <div v-for="Substance substance in substances">
   <div class="detailRow">
     <div class="substance"
       v-debug:genericDetailEmissionSubstance>{{i18n.esEmissionLabel(substance.name()) }}</div>
     <div class="emission"
       v-debug:genericDetailEmission>{{ MessageFormatter.formatEmissionWithoutUnitSmart(source.getEmission(substance)) }}</div>
     <div v-debug:genericDetailEmissionUnit>{{ MessageFormatter.getEmissionUnitSmart(source.getEmission(substance)) }}</div>
    </div>
  </div>
</div>

<style scoped lang="scss">
h4 {
  margin: 0;
}

.genericContainer {
  padding: 0px var(--spacer);
  padding-top: var(--spacer);
}

.detailRow {
  display: grid;
  grid-template-columns: 50% 1fr auto;
  align-items: center;
  gap: var(--half-spacer);
}

.emission {
  text-align: right;
}
</style>
