<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodgingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.StandardFarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.CustomFarmLodging"/>

<div class="margin">
  <div class="headertitle">{{ i18n.esLodgingDetailTitle() }}</div>
  <aer-farmlodging-detail-header />
  <div class="subSources">
    <div class="subSource" v-for="(FarmLodging row, index) in source.getSubSources()">
      <aer-farmlodging-detail-standard v-if="row.getFarmLodgingType() == FarmLodgingType.STANDARD"
        :farmLodgingCategories="farmLodgingCategories"
        :source="(StandardFarmLodging) row"
        :hideDescription="true"
        :index="index"
      />
      <aer-farmlodging-detail-custom v-if="row.getFarmLodgingType() == FarmLodgingType.CUSTOM"
        :source="(CustomFarmLodging) row"
        :index="index" />
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../farmlodging.scss";

.margin {
  margin-left: $column-margin;
  margin-right: $column-margin;
}

.headertitle {
  margin-top: 12px;
  font-weight: bold;
}
</style>
