<div class="detailRow">
  <div class="ravCodeColumn">{{ i18n.esLodgingDetailFarmSystem() }}</div>
  <div class="amountColumn">{{ i18n.esLodgingDetailAmount() }}</div>
  <div class="factorColumn">{{ i18n.esLodgingDetailFactor() }}</div>
  <div class="reductionColumn">{{ i18n.esLodgingDetailReductionFactor() }}</div>
  <div class="emissionColumn">{{ i18n.esLodgingDetailReductionReduction() }}</div>
</div>

<style scoped lang="scss">
@import "../farmlodging.scss";

</style>
