<vue-gwt:import class="nl.overheid.aerius.wui.application.components.input.LabeledInputComponent.RowType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.Vehicles" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.OnRoadMobileSourceCategory" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<div class="customContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input :label="i18n.esRoadCustomDescription()"
    division="1fr 1fr"
    name="emissionSourceRoadCustomDescription"
    :errorValidation="v.descriptionV"
    :errorMessage="this::descriptionError">
    <input type="text"
      id="emissionSourceRoadCustomDescription"
      v-validate:descriptionV.input
      v-model="description"
      aria-label="descripton"
      v-debug:emissionSourceRoadCustomDescription />
  </labeled-input>
  <labeled-input :label="i18n.esRoadEuroClass()"
    division="1fr 1fr"
    name="euroclass">
    <select v-model="vehicleCode"
      id="euroclass"
      aria-label="onRoadMobileSourceCategories"
      v-debug:euroclass>
      <option value="" disabled>{{ i18n.esRoadMobileSourceCategoriesPlaceHolder() }}</option>
      <option v-for="OnRoadMobileSourceCategory rms in categories"
        :value="rms.getCode()">{{ rms.getDescription() }}</option>
    </select>
  </labeled-input>
  <aer-road-number-of-vehicles ref="roadNumberOfVehicles"
    @errors='trackChildError("roadNumberOfVehicles", (boolean) $event)'
    @warnings='trackChildWarning("roadNumberOfVehicles", (boolean) $event)'
    :vehicles="(Vehicles)customVehicles" />
  <p>{{ i18n.esRoadCustomEmissionFactorTitle() }}</p>
  <aer-emission-factor-row v-for="Substance substance in substances"
    @errors='trackChildError(substance.name(), (boolean) $event)'
    @warnings='trackChildWarning(substance.name(), (boolean) $event)'
    :substance="substance"
    :emissionFactors="emissionFactors" />
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.customContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

p {
  color: var(--text-color);
}
</style>
