<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.FarmLodgingESFeature"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.SRM2Characteristics"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.SRM2RoadESFeature"/>

<div class="container">
  <button v-debug:sourceListDetailButtonClose
     class="buttonClose"
     @click="close()">{{ i18n.esButtonClose() }}</button>
  <horizontal-collapse :seek="false">
    <div class="content" v-if="isEmissionSources || isBuildings">
      <emission-source-list-detail-view v-if="isEmissionSources"
        :source="emissionSourceListContext.getLooseSelection()" />
      <building-detail-view v-if="isBuildings"
        :building="buildingListContext.getLooseSelection()" />
    </div>
  </horizontal-collapse>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
@import "../../../../horizontal-collapse.scss";

.container {
  overflow: hidden;
  position: relative;
}

.content {
  width: 400px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.buttonClose {
  @include button-minimal;

  width: 100px;
  position: absolute;
  right: var(--spacer);
  top: var(--spacer);
  font-size: 13px;
}
</style>
