<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.wnb.pages.emissionsourceList.ScenarioInputListContext.ViewMode" />

<div class="singleColumn">
  <h1>{{ isEmissionSources ? i18n.titleEmissionSources() : i18n.titleBuildings() }}</h1>

  <div class="optionsContainer">
    <situation-editor-view
      :eventBus="eventBus"
      :situation="activeSituation" />
    <labeled-input :label="i18n.inputViewModeLabel()"
      division="1fr 1fr"
      name="inputViewMode"
      class="inputViewMode">
      <simple-listbox id="inputViewMode"
        v-debug:inputViewMode
        :optionsArr="ViewMode.values()"
        :selected="inputListContext.getViewMode()"
        :placeholder="i18n.inputViewModePlaceholder()"
        @select='setViewMode((ViewMode) $event)'>
        <template slot-scope="{ ViewMode option }">{{ i18n.inputViewMode(option)) }}</template>
      </simple-listbox>
    </labeled-input>
  </div>

  <template v-if="hasActiveSituation">
    <emission-source-list v-if="isEmissionSources"
      :situation="activeSituation"
      :eventBus="eventBus" />
    <building-list v-if="isBuildings"
      :situation="activeSituation"
      :eventBus="eventBus" />
  </template>

  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";

.optionsContainer {
  margin-top: 11px;

  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.inputViewMode {
  margin: 0px !important;
  padding: 0px var(--spacer);
}

.singleColumn {
  width: $column-left-width;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacer);
}

h1 {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.buttonCalculate {
  @include button;
  align-items: center;
}

.sourcesCalculate {
  margin-left: var(--spacer);
  margin-right: var(--spacer);

  display: flex;
  justify-content: flex-end;
}
</style>
