<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ScenarioResultType" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.SummaryHexagonType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.calculation.SituationHandle" />

<div class="results-view-container">
  <div class="dropdown-container">
    <div class="title">{{ i18n.resultsScenarioLabel() }}</div>
    <simple-listbox v-debug:resultsSituation
      :options="calculationContext.getActiveCalculation().getSituations()"
      :selected="resultContext.getSituationHandle().getId()"
      :keyFunction="func(v -> ((SituationHandle) v).getId())"
      @select='selectSituation((SituationHandle) $event)'>
      <template slot-scope="{ SituationHandle option }">{{ option.getName() }} - {{ i18n.situationType(option.getType()) }}</template>
    </simple-listbox>
  </div>

  <div class="dropdown-container">
    <div class="title">{{ i18n.resultsResultLabel() }}</div>
    <simple-listbox v-debug:resultsResultType
      :options="resultTypes"
      :selected="resultContext.getResultType()"
      @select='selectResultType((ScenarioResultType) $event)'>
      <template slot-scope="{ ScenarioResultType option }">{{ i18n.resultsDropdown(option) }}</template>
    </simple-listbox>
  </div>

  <div class="dropdown-container">
    <div class="title">{{ i18n.resultsSubstanceLabel() }}</div>
    <simple-listbox v-debug:resultsEmission
      :options="getEmissionResultKeys()"
      :selected="resultContext.getEmissionResultKey()"
      @select='selectEmissionResultKey((EmissionResultKey) $event)'>
      <template slot-scope="{ EmissionResultKey option }">{{ i18n.calculateEmissionResultKey(option) }}</template>
    </simple-listbox>
  </div>

  <div class="dropdown-container">
    <div class="title">{{ i18n.resultsHexagonTypeLabel() }}</div>
    <simple-listbox v-debug:resultsHexagonType
      :optionsArr="getHexagonTypes()"
      :selected="resultContext.getHexagonType()"
      @select='selectHexagonType((SummaryHexagonType) $event)'>
      <template slot-scope="{ SummaryHexagonType option }">{{ i18n.resultsHexagonType(option) }}</template>
    </simple-listbox>
  </div>
</div>

<style lang="scss" scoped>
.results-view-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--spacer);
  margin: var(--spacer);
}

.dropdown-container {
  .title {
    height: var(--row-height);
    display: flex;
    align-items: center;
  }
}
</style>
