<div class="collapsible-item" :class='map("open", openData)'>
  <div class="line"
    tabindex="0"
    @keyup.enter.space="toggleOpen()"
    @click="toggleOpen()">
    <collapsible-button
      :expanded="openData">
    </collapsible-button>
    <slot name="title">
      <div class="title">{{ title }}</div>
    </slot>
    <slot name="aux"></slot>
  </div>
  <vertical-collapse>
    <div v-show="openData && contentVisible" class="content">
      <slot></slot>
    </div>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../vertical-collapse.scss";
@import "../../variables.scss";

.collapsible-item {
  transition: background var(--anim);

  &:hover {
    background: $collapsible-panel-hover;
  }

  .line {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background var(--anim);
    padding: 0px var(--spacer);
    min-height: var(--row-height-generous);
    gap: var(--spacer);

    .title {
      flex-grow: 1;
    }
  }

  &.open, .inner {
    background: $collapsible-panel-active;
  }
}

.content {
  display: flex;
  transition: height var(--animation-time) ease-out;

  .inner {
    padding: 0px 5px 0px 34px;
    flex-grow: 1;
  }
}
</style>
