<div v-if="hasMessage" class="panel">
  <div class="infoLabel" v-html="message" ></div>
</div>

<style scoped lang="scss">
  .panel {
     width: 100%;
     background-color: #F6F4AB;
     align-items: center;
   }
   .panel>* {
     line-height: 35px;
   }
   .infoLabel {
     text-align: center;
     width: 100%
   }
</style>
