<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType" />

<div class="statistics-container">
  <horizontal-collapse-group class="collapse-group">
    <div v-for="ResultStatisticType type of scenarioResultTypes"
      :key="type.name()"
      class="item">
      <div class="header">{{ i18n.resultsStatistic(type, displayType) }}</div>
      <div class="value">{{ formatValueFor(type) }}</div>
    </div>
  </horizontal-collapse-group>
</div>

<style scoped lang="scss">
@import "../../../../../horizontal-collapse.scss";

.statistics-container {
  background: white;
  padding: var(--spacer);
}

.collapse-group {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--spacer);
}

.item {
  text-align: center;

  div {
    min-width: 200px;
    font-weight: bold;
    min-height: var(--row-height-generous);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    font-size: 1.1em;
  }

  .value {
    color: var(--theme-color);
    font-size: 1.7em;
  }
}
</style>
