<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionSourceFeature" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.FarmlandType" />

<div v-if="hasActivity()" class="farmlandContainer">
  <validation-behaviour :errors="v.selectedFarmLandTypeV.invalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <minimal-input
    :errorValidation="v.selectedFarmLandTypeV"
    :errorMessage="() -> i18n.validationRequired()">
    <simple-listbox id="emissionSourceFarmlandType"
      class="farmlandSelect"
      v-debug:emissionSourceFarmlandType
      :optionsArr="FarmlandType.values()"
      :selected="subSource.getActivityCode()"
      :placeholder="i18n.dropdownPlaceholder()"
      @select='selectFarmland((FarmlandType) $event)'>
      <template slot-scope="{ FarmlandType option }">{{ i18n.esFarmlandType(option) }}</template>
    </simple-listbox>
  </minimal-input>
  <aer-farmland-emission-row
    v-for="Substance item in substances"
    :substance="item"
    :farmlandActivity="subSource" />
</div>

<style scoped lang="scss">
@import "../../../vertical-collapse.scss";
@import "../../../variables.scss";

.farmlandContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.farmlandSelect {
  flex-grow: 1;
}

.error {
  padding: var(--spacer);
  background: var(--error-color);
  color: white;
}
</style>
