<vue-gwt:import class="nl.overheid.aerius.wui.application.components.input.LabeledInputComponent.RowType"/>

<labeled-input :id='"FarmlandEmissionRow_" + substance.name()'
  :label="substance.name()"
  :name='"emissionInput" + "_" + substance.name()'
  :errorValidation="v.emissionV"
  :unit="i18n.unitSingularKgPerY()"
  :errorMessage="this::emissionConversionError">
  <input
    :id='"FarmlandemissionInput_" + substance.name()'
    type="number"
    min="0.000000"
    step="any"
    v-validate:emissionV.input
    v-model="emission"
    :placeholder="0"
    :aria-label='"farmlandemissionInput" + "_" + substance.name()'
    v-debug='"emissionRowFarmLand_" + substance.name()'>
</labeled-input>

<style scoped lang="scss">
@import "../../../components/input/inputs.scss";
</style>
