/**
* NOTE: Some guidelines for css variables:
* - Try to define as few css colors/variables as possible, don't try to define things that will not be reused globally
* - If defining unique colors for a specific component or unique feature, don't define them here explicitly
* - Keep it simple, complexity ensures it is impossible to take advantage of reuse
* - Use variable names that align with their abstract intent, not their specific meaning
* - It should always be possible to change the value of few main variables (retaining things like contrast for things like colors, of course)
*   and not change a million other things to make the resultant change in the UI a cohesive whole again.
* - If more than, say, 3 shades of grey are defined here, rethink.
* - When naming or finding things with/by markers such as 'border' or 'hover' or 'active' etc., reread the above
* - When adding something to this list of variables and it has the same value as another value, reread the above
*
* For example:
* When coming here to look for some shade of grey for some border or background of a special type of button or such,
* don't call it $esoteric-feature-background|border-color, but simply $light-grey (and re-use it)
*/
*:root {
  /* Define a single theme color with variants. Most interaction-elements should make do with these colors. */
  --theme-color: #157CB1;
  --theme-color-light: #D0E5EF;
  /* TODO Perhaps add a theme-color-dark */

  --text-color: #333;
  --back-color: #F5F5F5;

  --light-grey: #D4D4D4;
  --dark-grey: #4D4D4D;
  --grey: #888;

  --disabled-color: #BBB;
  --warning-color: #CC8811;
  --error-color: #AA0000;
  --adjusted-color: #0072BC;

  --light-yellow: #FFFE7E;

  /* Separators -- the half-separator is so the border can be split evenly via top/bottom */
  --half-separator: 1px solid white;
  --separator: 2px solid white;

  --row-height: 30px;
  --row-height-generous: 40px;

  --default-radius: 3px;

  /* Panels and other popouts */
  --info-panel-width: 400px;
  --search-width: 400px;

  /* A default spacer, 0.7rem corresponds to about 10px (ordinarily) */
  --spacer: 0.7rem;
  --half-spacer: 0.5rem;

  /* The optimal text width for a paragraph of text. To be used for the width attribute. */
  --paragraph: clamp(45ch, 100%, 75ch);

  /** Animation time for arbitrary non-critical elements, can be slow for aesthetics **/
  --animation-time: 0.15s;
  /** Animation time for function-critical elements, should be quick; the experience is not as important as the function **/
  --animation-time-primary: 0.1s;

  /* Short-hand */
  --anim: 0.1s ease-out;
}

*:focus {
  z-index: 1;
  outline: 2px dotted var(--theme-color);
  border-color: transparent;

  /* Ensure outline always appears within element (this avoids issues with things like overflows by default -- can be overridden on a per-element basis) */
  outline-offset: -2px;
}

*[tabindex="-1"]:focus {
  /* Don't show outline when tabindex is an explicit -1 (i.e. the element is focusable, but not through keyboard interaction)
   *
   * Note: An element with tabindex=-1 can be given focus programmatically through `.focus()`, this is useful to set the focus point within the DOM, and
   * thus helps the user's intuition with where the focus starts, but without also showing visual clues to this effect. For example when a popup opens up,
   * the popup container can be given tabindex=-1 and .focus()-ed, then when the user tabs through, he will give focus to the first element in the popup,
   * rather than some element in the background, thereby doing what his intuition would expect.
   *
   * Also note: tabindex should never be >1
   */
  outline: 0 !important;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
}

input, textarea, select {
  box-sizing: border-box;
  color: var(--text-color);
  background: white;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 3px;
  min-height: var(--row-height);
  transition: border var(--anim);
}
input:hover, select:hover, textarea:hover, textarea:active {
  border: 1px solid var(--dark-grey);
}
input:focus, select:focus, textarea:focus {
  border: 1px solid transparent;
}
input {
  padding: 0 5px;
}
input[type=range] {
  padding: 0;
}
select {
  padding: 0 1px;
  background: white;
}

h1 {
  margin: 8px 0px;
  font-size: 22px;
  font-weight: normal;
  color: var(--text-color);
}

em {
  color: var(--theme-color);
  font-weight: bold;
  font-style: normal;
}

/* Input overrides */

.error-input input:not(:focus),
.error-input select:not(:focus),
.warning-input input:not(:focus),
.warning-input select:not(:focus) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: var(--border-color);
  border-bottom: 1px solid transparent;
}

.error-input {
  --border-color: var(--error-color);
}

.warning-input {
  --border-color: var(--warning-color);
}
