/** CUSTOM CONTROLS **/
.ol-zoom {
  top: 280px;
  right: 27px;
}
.ol-zoomslider {
  top: 307px;
  right: 27px;
  height: 120px;
}
.ol-mouse-position {
  position: absolute;
  bottom: 20px;
  right: 27px;
}

.ol-zoom button {
  cursor: pointer;
}

.ol-control button {
  display: block;
  padding: 0;
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
  height: 25px;
  width: 25px;
  outline: 0;
  line-height: .4em;
  background-color: rgba(255,255,255,0.6);
  color: #575757;
  border: 1px solid #b3b3b3;
  box-sizing: content-box;

  transition: background 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out;
}

.ol-control button:focus, .ol-control button:hover {
  background: #1c76bc !important;
  color: white;
  border-color: #1c76bc !important;
}

.ol-zoomslider::before {
  content: '';
  position: absolute;
  border-right: 1px solid #b3b3b3;
  width: 14px;
  height: 120px;
}

.ol-zoom-out {
  margin-top: 120px;
}

.ol-zoomslider-thumb {
  position: relative;
  cursor: move;
  cursor: grab;
  background: white !important;
}

.ol-control {
  position: absolute;
}

.ol-scale-line {
  position: absolute;
  bottom: 20px;
  left: 27px;
}

.ol-scale-line-inner {
  text-align: center;
  will-change: contents, width;
  color: solid #575757;
  border: 2px solid #575757;
  border-top: none;
  transition: all 0.25s;
}

.ol-tooltip {
  pointer-events: none;
  user-select: none;
  background: white;
  border-radius: var(--default-radius);
  color: var(--text-color);
  border: 1px solid var(--theme-color);
  padding: var(--half-spacer);
}

.ol-tooltip:before {
  border-top: 6px solid var(--theme-color);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -6px;
  left: 50%;
}

.ol-dragzoom {
  background: var(--theme-color-light);
  border: 2px solid var(--theme-color);
  opacity: 0.65;
}

/** The infamous sonar **/

.aer-outer-sonar {
  animation: outerSonarAnimation 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  -webkit-animation: outerSonarAnimation 0.5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;

  margin-top: -100px !important;
  margin-left: -100px !important;
  width: 198px !important;
  height: 198px !important;
  background-color: #157CB144;
  border: 1px solid #157CB1;
  border-radius: 99px;
}

@keyframes sonarAnimation {
  from {
    margin: 83px;
    width: 30px;
    height: 30px;
    box-shadow: var(--theme-color) 0px 0px 0px, inset var(--theme-color) 0px 0px 0px;
  }

  to {
    margin: 29px;
    width: 140px;
    height: 140px;
    border-radius: 100px;
    box-shadow: rgba(21, 124, 177, 0) 0px 0px 50px, inset rgba(21, 124, 177, 0) 0px 0px 30px;
  }
}

@-webkit-keyframes sonarAnimation {
  from {
    margin: 83px;
    width: 30px;
    height: 30px;
    -webkit-box-shadow: var(--theme-color) 0px 0px 0px, inset var(--theme-color) 0px 0px 0px;
  }

  to {
    margin: 29px;
    width: 140px;
    height: 140px;
    border-radius: 100px;
    -webkit-box-shadow: rgba(21, 124, 177, 0) 0px 0px 50px, inset rgba(21, 124, 177, 0) 0px 0px 30px;
  }
}

.aer-animation-sonar {
  animation: sonarAnimation 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 4;
  -webkit-animation: sonarAnimation 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 4;
  position: absolute;

  margin: 83px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.aer-sonar {
  /* outerSonarWidth / 2 - borderThickness - sonarWidth / 2 */
  margin: 80px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 3px solid var(--theme-color);
}

.aer-inner-sonar {
  margin: 0px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 3px solid white;
}
