@page {
  size: A4;

  /* Keep these margins consistent with variables below, since we can't use variables in @page directive */
  margin: 36mm 16mm 14mm 41mm;
}

@media print {
  body {
    margin: 0;
  }
}

:root {
  font-size: 13pt;

  /* Redefine page margin left, because we can't use variables in @page directive. */
  --page-margin-left: 41mm;
  --page-margin-right: 16mm;

  /* A4 width (210mm) minus left and right margins */
  --page-max-width: 153mm;

  /* A4 height (297mm) minus top and bottom margins */
  --page-max-height: 247mm;
}

/* Never allow special styling for anchors */
a {
  text-decoration: inherit;
  color: inherit;
}

.ol-zoom {
  display: none;
}
.ol-zoomslider {
  display: none;
}
