<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.ADMSCharacteristics"/>

<div v-if="characteristics != null" class="admsContainer">
  <h4 class="header">{{ i18n.sourceCharacteristicsTitle() }}</h4>
  <div class="row margin">
    <div class="label">{{ i18n.sourceBuildingInfluenceLabel() }}</div>
    <div v-debug:sourcelistDetailBuilding>{{ characteristics.isBuildingInfluence() ? i18n.sourceBuildingInFluence() : i18n.sourceNoBuildingInFluence() }}</div>
  </div>
</div>

<style scoped lang="scss">

h4 {
  margin: 0px;
}

.admsContainer {
  padding-top: var(--spacer);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer);
}

.defaultValue {
  text-decoration: underline;
}

</style>
