 <default-title-view :title="i18n.titleScenario()">
  <aer-import-button slot="top" :eventBus="eventBus" class="importButton"></aer-import-button>

  <aer-compact-situation :scenario="context" :situation="context.getActiveSituation()"></aer-compact-situation>

  <div class="section">
    <div class="content">
      <div class="form">
        <labeled-input :label="i18n.scenarioPreferenceLabelName()" name="name">
          <input type="text" id="name" v-validate:name v-model="name" :class='map(e("error", v.name.error), e("valid", !v.name.invalid && v.name.dirty))' :placeholder="i18n.scenarioPreferenceLabelName()" />
          <vertical-collapse slot="error" >
            <div class="errorField" v-if='!v.name.required && v.name.dirty'>{{ i18n.validationRequired() }}</div>
          </vertical-collapse>
        </labeled-input>

        <labeled-input :label="i18n.scenarioPreferenceLabelYear()" name="year" >
          <select id="year" v-model="calculationYear" v-validate:calculationYear :class='map(e("error", v.calculationYear.error), e("valid", v.calculationYear.dirty && !v.calculationYear.invalid))'>
            <option v-for="String year in appContext.getActiveThemeConfiguration().getCalculationYears()" :value="year">{{ year }}</option>
          </select>
        </labeled-input>

        <labeled-input :label="i18n.scenarioPreferenceLabelSRM2()" name="srm2">
          <select v-model="srm2" v-validate:srm2 :class='map(e("error", v.srm2.error), e("valid", v.srm2.dirty && !v.srm2.invalid))'>
            <option value="null" disabled>{{ i18n.importSrm2OptionDefault() }}</option>
            <option value="0">{{ i18n.importSrm2OptionOwn() }}</option>
          </select>
          <vertical-collapse slot="error" >
            <div class="errorField" v-if='v.srm2.invalid && v.srm2.dirty'>{{ i18n.validationRequired() }}</div>
          </vertical-collapse>
        </labeled-input>

        <grouped-input :label="i18n.scenarioPreferenceLabelNotification()">
          <checkbox :label="i18n.scenarioPreferenceLabelNotificationAfterCalculate()" v-model="notifyAfterCalculate" class="checkbox"></checkbox>
        </grouped-input>

        <input type="email" v-model="email" v-validate:email :class='map(e("error", v.email.error), e("valid", v.email.dirty && !v.email.invalid && isEmailValid))' :placeholder="i18n.scenarioPreferenceLabelEmail()">
        <vertical-collapse slot="error">
          <div class="errorField" v-if='!v.email.email && v.email.dirty'>{{ i18n.validationEmail() }}</div>
          <div class="errorField" v-if='!isEmailValid && v.email.dirty'>{{ i18n.validationRequired() }}</div>
        </vertical-collapse>
      </div>
    </div>
    <div class="buttons">
      <div class="export">
      	<button @click="onExport" :disabled="!imported || exporting">{{ i18n.scenarioExport() }}</button>
        <img v-if="exporting" class="icon" :src="img.loading().getSafeUri().asString()"></img>
      </div>
      <!--
      <div class="calculate">
        <img v-if="calculating" class="icon" :src="img.loading().getSafeUri().asString()"></img>
        <button :class='map("disabled", isFormInvalid)' :disabled="true">{{ i18n.scenarioCalculate() }}</button>
      </div>
       -->
    </div>
  </div>
</default-title-view>

<style scoped lang="scss">
@import '../../../../components/input/inputs.scss';
@import '../../../../vertical-collapse.scss';
@import '../../../../validations.scss';
@import '../../../../variables.scss';

.importButton {
  padding-right: 60px;
}

.content {
  padding: 0px 15px;
  border-bottom: 1px solid white;
}

.topButtons {
  display: flex;
}
.buttons {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.buttons > * {
  margin: 0px 10px;
}
.buttons > *:first-child {
  margin-left: 0px;
}
.buttons > *:last-child {
  margin-right: 0px;
}

input[type=submit], button {
  @include button;
}

.form {
  margin-bottom: 20px;
}

.section {
  margin: 15px 0px;
}

.calculate, .export {
  display: flex;
  align-items: center;

  .icon {
    width: 24px;
    height: 24px;

    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
}

.disabled {
  border-color: grey !important;
  color: grey !important;
  background: white !important;
}

.submit {
  float: right;
}

.checkbox {
  padding-left: 10px;
}

.extendedResultsCheckbox {
  display: none;
}
</style>
