<vue-gwt:import class="nl.overheid.aerius.geo.domain.LayerItem" />
<vue-gwt:import class="nl.overheid.aerius.geo.domain.LayerOptions" />

<collapsible-panel :title="item.getLayer().getInfo().getTitle()">
  <slot slot="title"></slot>
  <template slot="aux">
    <div class="toggle"
      v-show="item.isVisible()"
      v-vector="img.toggleLayerOn()"
      @click.stop="onLayerItemClick()"
      :class='map("clustered", item.isClustered())'></div>
    <div class="toggle"
      v-show="!item.isVisible()"
      v-vector="img.toggleLayerOff()"
      @click.stop="onLayerItemClick()"
      :class='map("clustered", item.isClustered())'></div>
  </template>
  <template>
    <div class="inner">

      <div v-for="LayerOptions options in layerOptions">
        <simple-listbox :options="options.getOptions()"
          :selected="options.getSelected()"
          class="options"
          @select='options.select((Object) $event)'>
          <template slot-scope="{ Object option }">{{ getNameOfLayerOption(options, option) }}</template>
        </simple-listbox>
      </div>

      <input type="range"
        class="range"
        @change="updateOpacity(((Event) $event))"
        @input="updateOpacity(((Event) $event))"
        :value="opacity" />

      <layer-legend v-if="legend != null" class="legend" :legend="legend"></layer-legend>
    </div>
  </template>
</collapsible-panel>

<style scoped lang="scss">
@import "../../../vertical-collapse.scss";
@import "../../../variables.scss";

.toggle {
  width: 34px;
  height: 34px;

  svg {
    fill: var(--theme-color);
  }
}

.content {
  display: flex;

  .inner {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    .range {
      box-sizing: border-box;
    }

    .options {
      border-color: #e0e0e0;
    }
  }

  .clustered {
    background: #e0e0e0;
  }
}
</style>