<vue-gwt:import class="nl.overheid.aerius.geo.domain.LayerItem" />

<layer-item :item="item"
  :eventBus="eventBus"
  :title="item.getLayer().getInfo().getTitle()">
</layer-item>

<style scoped>
span {
  color: #4d4d4d;
  flex-grow: 1;
  padding: 0px 5px;
}
</style>