<!--
  - Copyright the State of the Netherlands
  -
  - This program is free software: you can redistribute it and/or modify
  - it under the terms of the GNU Affero General Public License as published by
  - the Free Software Foundation, either version 3 of the License, or
  - (at your option) any later version.
  -
  - This program is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU Affero General Public License for more details.
  -
  - You should have received a copy of the GNU Affero General Public License
  - along with this program.  If not, see http://www.gnu.org/licenses/.
  -->

<vue-gwt:import class="ol.geom.GeometryType"/>

<div class="content">
  <validation-behaviour
    :errors="!isValidWktGeometry()"
    @errors="emitErrors((boolean) $event)"/>

  <div class="explain">
    <span>{{ i18n.calculationPointsLocationDrawExplain() }}</span>
  </div>

  <div class="select-geometry-type">
    <span class="geometry-type">{{ i18n.calculationPointsLocation() }}</span>
    <tooltip :title="i18n.calculationPointsLocationButtonTitle()">
      <button-icon :aria-label="i18n.calculationPointsLocation()"
        @click.native="addPoint()"
        class="active"
        iconClass="icon-btn-draw-point"
        fontSize="26px"
        :inline="true"
        v-debug:calculationPointButtonAddPoint />
    </tooltip>
  </div>

  <div class="explain">{{ i18n.calculationPointsLocationDirectExplain() }}</div>
  <minimal-input
    :showError="showErrors && !geometryValid"
    :errorMessage="() -> i18n.esLocationGeometryError()">
    <input type="text"
      :placeholder="i18n.esLocationDirectPlaceholder(GeometryType.Point.name())"
      :value="locationString"
      v-debug:wktGeometry
      @input="updateFromDirectInput" />
  </minimal-input>
</div>

<style lang="scss" scoped>

.content {
  padding: var(--spacer);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.select-geometry-type {
  display: flex;
  align-items: center;
  min-height: var(--row-height-generous);

  .geometry-type {
    display: flex;
    flex-grow: 1;
  }
}

.explain {
  font-style: italic;
}
</style>
