<div class="content">
  <feature-heading
    :feature="calculationPoint"
    :eventBus="eventBus"
    backColor="var(--light-yellow)"
    foreColor="black"
    borderRadius="50%"
    :title="calculationPointTitle" />
  <div class="nameBlock">
    <labeled-input :label="i18n.esLabelName()" name="label">
      <input type="text"
        v-debug:label
        v-model="label"
        :placeholder="i18n.esLabelName()"
        aria-label="label"/>
    </labeled-input>
  </div>
  <collapsible-panel :title="i18n.esLocation()"
    :open="locationPanelOpen"
    @open="locationPanelOpen = true"
    @user-close="locationPanelOpen = false">
    <calculation-point-location-editor
      @errors="onLocationErrorsChange((boolean) $event)"
      :showErrors="showValidationMessages"
      :eventBus="eventBus"
      :calculationPoint="calculationPoint"
      :open="locationPanelOpen"/>
  </collapsible-panel>
  <modify-cancel-save
    :prevented="locationError"
    :confirm="showValidationMessages"
    @cancel="cancel()"
    @confirm="showValidationMessages((boolean) $event)"
    @save="save()">
    <div class="errorContainer" slot="prevented">
      <div class="label">{{ i18n.esButtonSavePreventedText() }}</div>
      <div @click="closeError()" class="close"
        v-vector="img.iconClose()"></div>
    </div>
  </modify-cancel-save>
</div>

<style lang="scss" scoped>
@import "../input/validations.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.nameBlock {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  padding: 0 var(--spacer);
}
</style>
