<div>
  <span>{{ label }}</span>
  <template v-if="isCorrected">
    <span> </span>
    <span class="corrected"
      :title="correctionTitle">({{ correctionLabel }})</span>
  </template>
</div>

<style lang="scss" scoped>
.corrected {
  color: var(--warning-color);
  text-decoration: underline;
}
</style>
