@import "../../../components/input/inputs.scss";

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.suggestionWarningInput {
  border-color: var(--warning-color);
}

.suggestionWarningInput:focus {
  outline: 2px dotted var(--warning-color) !important;
}
