<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.OPSCharacteristics"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>

<div v-if="characteristics != null" class="opsContainer">
  <h4 class="header">{{ i18n.sourceCharacteristicsTitle() }}</h4>
  <div class="row margin">
    <div class="label">{{ i18n.sourceHeatContentTypeLabel() }}</div>
    <div v-debug:sourcelistDetailVentilation>{{ i18n.heatContentType(characteristics.getHeatContentType()) }}</div>
  </div>
  <vertical-collapse>
    <div class="row margin" v-if="isFarmLodging">
      <div class="label">{{ i18n.sourceEstablished() }}</div>
      <div v-debug:sourcelistDetailEstablishedDate>{{ established() }}</div>
    </div>
  </vertical-collapse>
  <div class="row margin">
    <div class="label">{{ i18n.sourceBuildingInfluenceLabel() }}</div>
    <div v-debug:sourcelistDetailBuilding>{{ characteristics.isBuildingInfluence() ? i18n.sourceBuildingInFluence() : i18n.sourceNoBuildingInFluence() }}</div>
  </div>

  <div class="row margin">
    <div class="label">{{ i18n.sourceEmissionHeightLabel() }}</div>
    <div :title="getDefaultValueLabel(isEmissionHeightDefault())"
      :class='map("defaultValue", isEmissionHeightDefault())'>
      <min-max-label v-debug:sourcelistDetailEmissionHeight
        :label="inputEmissionHeight"
        :correctionLabel="usedEmissionHeight"
        :correctionTitle="i18n.sourceCalculationValue()" />
    </div>
  </div>

  <vertical-collapse>
    <div v-if="isUserdefinedHeatContent()">
      <div class="row margin">
        <div class="label">{{ i18n.sourceHeatContentLabel() }}</div>
        <div :title="getDefaultValueLabel(isHeatContentDefault())"
          :class='map("defaultValue", isHeatContentDefault())'>
          <min-max-label v-debug:sourcelistDetailHeatContent
            :label="inputHeatContent"
            :correctionLabel="usedHeatContent"
            :correctionTitle="i18n.sourceCalculationValue()" />
        </div>
      </div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="!isUserdefinedHeatContent()">
      <div class="row margin">
        <div class="label">{{ i18n.sourceEmissionTemperatureLabel() }}</div>
        <div v-debug:sourcelistDetailEmissionTemperature
          :title="getDefaultValueLabel(isEmissionTemperatureDefault())"
          :class='map("defaultValue", isEmissionTemperatureDefault())'>{{ i18n.unitC(i18n.decimalNumberFixed(characteristics.getEmissionTemperature(), 2)) }}</div>
      </div>
      <div class="row margin">
        <div class="label">{{ i18n.sourceOutflowDiameterLabel() }}</div>
        <div :title="getDefaultValueLabel(isOutflowDiameterDefault())"
          :class='map("defaultValue", isOutflowDiameterDefault())'>
          <min-max-label v-debug:sourcelistDetailOutflowDiameter
            :label="inputOutflowDiameter"
            :correctionLabel="usedOutflowDiameter"
            :correctionTitle="i18n.sourceCalculationValue()" />
        </div>
      </div>
      <div class="row margin">
        <div class="label">{{ i18n.sourceOutflowDirectionLabel() }}</div>
        <div v-debug:sourcelistDetailOutflowDirection
          :title="getDefaultValueLabel(isOutflowDirectionDefault()))"
          class="labelMargin">{{ i18n.sourceOutflowDirectionType(characteristics.getOutflowDirection()) }}</div>
      </div>
      <div class="row margin">
        <div class="label">{{ i18n.sourceOutflowVelocityLabel() }}</div>
        <div :title="getDefaultValueLabel(isOutflowVelocityDefault()))"
          :class='map("defaultValue", isOutflowVelocityDefault())'>
          <min-max-label v-debug:sourcelistDetailOutflowVelocity
            :label="inputOutflowVelocity"
            :correctionLabel="usedOutflowVelocity"
            :correctionTitle="i18n.sourceCalculationValue()" />
        </div>
      </div>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <div class="row margin" v-if="spreadVisible()">
      <div class="label">{{ i18n.sourceSpreadLabel() }}</div>
      <div v-debug:sourcelistDetailSpread
        :title="getDefaultValueLabel(isSpreadDefault())"
        :class='map("defaultValue", isSpreadDefault())'>{{ i18n.unitM(i18n.decimalNumberFixed(characteristics.getSpread(), 0)) }}</div>
    </div>
  </vertical-collapse>
  <div class="row margin">
    <div class="label">{{ i18n.sourceDiurnalVariationLabel() }}</div>
    <div v-debug:sourcelistDetailDiurnalVariation>{{ i18n.sourceDiurnalVariation(characteristics.getDiurnalVariation()) }}</div>
  </div>
  <vertical-collapse>
    <div class="row margin" v-if="particleSizeDistributionVisible">
      <div class="label">{{ i18n.sourceParticleSizeDistributionLabel() }}</div>
      <div v-debug:sourcelistDetailParticlesizeDistribution
        :title="getDefaultValueLabel(isParticleSizeDistributionDefault())"
      :class='map("defaultValue", isParticleSizeDistributionDefault())'>{{ particleSizeDistribution }}</div>
    </div>
  </vertical-collapse>
</div>

<style scoped lang="scss">

h4 {
  margin: 0px;
}

.opsContainer {
  padding-top: var(--spacer);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer);
}

.defaultValue {
  text-decoration: underline;
}

</style>
