<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.DiurnalVariation"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>

<div class="mainContent">
  <validation-behaviour :errors="(isPolygon && v.spreadV.invalid) || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <vertical-collapse>
    <labeled-input
      v-if="isFarmLodging"
      :label="i18n.sourceEstablished()"
      name="established"
      division="1fr 1fr"
      :transparent="true">
      <input type="date"
        id="established"
        v-model="established"
        aria-label="animalhousingDate"
        v-debug:sourceEstablishedDate />
    </labeled-input>
  </vertical-collapse>
  <outflow-editor :source="source"
    @errors='trackChildError("outflow", (boolean) $event)'
    @warnings='trackChildWarning("outflow", (boolean) $event)'
    :eventBus="eventBus"
    :buildingInfluence="buildingInfluence"
    ref="outflowEditorComponent" />

  <labeled-input v-if="isPolygon"
    :label="i18n.sourceSpreadLabel()"
    name="sourceSpread"
    division="1fr 1fr"
    :transparent="true"
    :unit="i18n.unitSingularMeter()"
    :errorValidation="v.spreadV"
    :errorMessage="() -> getSpreadValidationError()">
    <input id="sourceSpread"
      type="number"
      min="0.0"
      :step="OPSLimits.SOURCE_SPREAD_PRECISION"
      v-validate:spreadV.input
      v-model="spread"
      :placeholder="0.0"
      aria-label="spread"
      v-debug:sourceSpread>
  </labeled-input>
  <labeled-input :label="i18n.sourceDiurnalVariationLabel()"
    name="diurnalVariationType"
    division="1fr 1fr"
    :transparent="true">
    <select v-if="isEditDiurnalVariation"
      id="diurnalVariationType"
      v-model="diurnalVariationType"
      v-debug:diurnalVariationType>
      <option v-for="DiurnalVariation dv in diurnalVariations"
        :value="dv.name()"> {{ i18n.sourceDiurnalVariation(dv) }}</option>
    </select>
    <span v-else
      id="diurnalVariationType"
      v-debug:diurnalVariationType>{{ i18n.sourceDiurnalVariation(characteristics.getDiurnalVariation()) }}</span>
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../../../components/input/inputs.scss";
@import "../../../vertical-collapse.scss";

.mainContent {
  flex-grow: 1;
  padding: var(--spacer);

  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

</style>
