<div class="buildingContainer" v-if="building != null">
  <h1 class="margin">{{ building.getLabel() }}</h1>

  <building-envelope class="margin"
    :height="building.getHeight()"
    :geometry="building.getGeometry()" />
</div>

<style lang="scss" scoped>
.correctionWarning {
  color: var(--warning-color);
  text-decoration: underline;
}

.buildingContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.margin {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--half-spacer);

  .label {
    width: 50%;
  }
}
</style>
