<div class="row" v-debug='"building-" + building.getId()'
  :tabindex="0">
  <aer-styled-point :feature="building"
    backColor="white"
    foreColor="black"
    v-debug:sourceListButtonZoomToPoint />
  <div class="labelColumn">{{ building.getLabel() }}</div>
</div>

<style scoped lang="scss">
@import "../../../../../row-item.scss";

.row {
  grid-template-columns: 30px 1fr;
}
</style>
