<vue-gwt:import class="elemental2.dom.MouseEvent" />

<div>
  <vertical-collapse>
    <div v-if="hasBuildings">
      <aer-modify-list
        class="toolbox"
        @new-source="createNewBuilding()"
        @import-file="importFile()"
        @duplicate-source="duplicateBuilding()"
        @show-name-labels="showNameLabels((Boolean) $event)"
        @delete-source="deleteBuilding()"
        @edit-source="editBuilding()"
        :selected="listContext.hasSelection()"
        :singleSelected="listContext.hasSingleSelection()"
        :multiSelected="listContext.hasMultiSelection()"
        :enableImport="true"
        :enableNameLabels="true"
        :enableEdit="true"/>

      <div class="buildings">
        <vertical-collapse-group>
          <building-row :building="building"
            v-for="BuildingFeature building in buildings"
            :key="building.getId()"
            @mouseenter.native="peekBuilding(building)"
            @mouseleave.native="unpeekBuilding(building)"
            @keyup.enter.space.native="selectBuilding(building)"
            @click.native="clickBuilding(building, (MouseEvent) $event)"
            :class='map("selected", listContext.isSelected(building))' />
        </vertical-collapse-group>
      </div>

      <button v-debug:buildingListButtonDeleteAllBuildings
        class="buttonDeleteAll"
        @click="deleteAllBuildings()">{{ i18n.buildingButtonDeleteAll() }}</button>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <div v-if="!hasBuildings" class="emptyBuildings">
      <p v-html="i18n.buildingInfo()"></p>

      <div class="buttons">
        <button-icon class="button"
          @click.native="createNewBuilding()"
          iconClass="icon-btn-new"
          v-debug.calculationLaunchButtonNewsource>
          <div class="label">{{ i18n.clButtonNewSource() }}</div>
        </button-icon>
        <button-icon class="button"
          @click.native="importFile()"
          iconClass="icon-btn-import"
          v-debug.calculationLaunchButtonImportfile>
          <div class="label">{{ i18n.clButtonImportFile() }}</div>
        </button-icon>
      </div>
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../../variables.scss";
@import "../../../../../vertical-collapse.scss";

.toolbox {
  padding: 0px var(--spacer);
}

.buildings {
  max-height: calc(100vh - 340px);
  overflow: auto;
}

.selected {
  background-color: var(--theme-color-light);
}

.emptyBuildings {
  border-top: var(--separator);
  padding: 0px var(--spacer);
  color: var(--grey);

  .buttons {
    display: flex;

    gap: var(--spacer);
    justify-content: center;
    margin-top: 20px;
    width: var(--paragraph);

    .button {
      padding: var(--spacer);
      height: initial;

      display: flex;
      align-items: center;

      .label {
        padding: 0px var(--spacer);
      }
    }
  }
}

.buttonDeleteAll {
  @include button;
  flex-grow: 3;
  align-self: center;
  margin: var(--spacer);
}
</style>
