<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsHabitatSummary" />
<div class="select-view-container">
  <div
    v-for="SituationResultsHabitatSummary row in data"
    class="select-view-row"
    :class='map("selected", isSelected(row))'
    tabindex="0"
    @mouseover="rowHighlightActive(row)"
    @mouseout="rowHighlightInactive(row)"
    @keyup.enter.space="rowSelectToggle(row)"
    @click="rowSelectToggle(row)">
    <div class="row-code">{{ row.getHabitatType().getCode() }}</div>
    <div class="row-name">{{ row.getHabitatType().getName() }}</div>
    <div class="row-area">{{ formatHectareValue(row) }}</div>
    <div class="row-deposition">{{ formatDepositionValue(row) }}</div>
  </div>
</div>

<style scoped lang="scss">
.select-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select-view-row {
  margin-top: 1px;
  padding: 3px var(--half-spacer);
  gap: var(--half-spacer);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  transition: all var(--anim);

  &.selected {
    background: var(--theme-color-light);
  }

  &:hover {
    background: var(--theme-color-light);
  }

  div {
    pointer-events: none;
  }
}

.row-code {
  flex-basis: 85px;
}

.row-name {
  flex-grow: 1;
  flex-basis: 300px;
}

.row-area {
  text-align: right;
  flex-basis: 85px;
}

.row-deposition {
  text-align: right;
  flex-basis: 280px;
}

</style>
