<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsAreaSummary" />

<div>
  <div class="tab-content-title">
    <h4 class="tab-content-title-main">{{ i18n.resultsHabitatsTitle() }}</h4>
    <div class="tab-content-title-header">{{ i18n.resultsStatistic(ResultStatisticType.SUM_CARTOGRAPHIC_SURFACE, depositionType) }}</div>
    <simple-listbox v-debug:resultsHabitatStatisticType
      class="tab-content-title-header header-statistic"
      :options="habitatStatisticTypes"
      :selected="selectionContext.getHabitatStatisticType()"
      @select='selectHabitatStatisticsType((ResultStatisticType) $event)'>
      <template slot-scope="{ ResultStatisticType option }">{{ i18n.resultsStatistic(option, depositionType) }}</template>
    </simple-listbox>
  </div>
  <div class="collapsible-container">
    <vertical-collapse-group>
      <collapsible-panel
        class="collapsible-panel"
        v-for="SituationResultsAreaSummary d in context.getActiveResultSummary().getAreaStatistics()"
        :key="d.getAssessmentArea().getId()"
        :title="d.getAssessmentArea().getName()"
        :open="isOpen(d.getAssessmentArea().getId())"
        @user-open="openPanel(d)"
        @user-close="closePanel()">
        <button-icon slot="aux" :title="i18n.resultsZoomToAreaTitle()"
          @click.native.stop='zoomToArea(d)'
          iconClass="icon-map-zoom-to-extend"
          class="zoomToArea"
          v-debug:resultsZoomToArea />
        <results-habitat-list-view
          :data="d.getHabitatSummaries()"
          ref="habitatListView"
          :statisticsType="selectionContext.getHabitatStatisticType()"
          @toggle-habitat-selection="toggleHabitatSelection((String) $event)"
          @habitat-highlight-active="setHabitatHighlightActive((String) $event)"
          @habitat-highlight-inactive="setHabitatHighlightInactive((String) $event)" />
      </collapsible-panel>
    </vertical-collapse-group>
  </div>
</div>

<style lang="scss" scoped>
@import "../result-view.scss";

.tab-content-title {
  display: flex;
  align-items: center;
}
</style>
