<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.AdditionalLodgingSystem" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.ReductiveLodgingSystem" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.LodgingFodderMeasure" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.farmlodging.systems.LodgingStackType" />

<div>
  <validation-behaviour :errors="hasChildErrors"
    :warnings="suggestionWarning"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <div>
    <vertical-collapse-group>
      <farm-additional-lodging-systems-row
        v-for="(AdditionalLodgingSystem row, idx) in additionalLodgingSystems"
        v-debug='"additional-lodging-" + idx'
        :key="idx"
        @errors='trackChildError("additional-" + idx, (boolean) $event)'
        @warnings='trackChildWarning("additional-" + idx, (boolean) $event)'
        :lodgingSystem="row"
        :farmLodgingCategory="farmLodgingCategory"
        @delete="deleteAdditional(idx)" />
    </vertical-collapse-group>
    <vertical-collapse-group>
      <farm-reductive-lodging-systems-row
        v-for="(ReductiveLodgingSystem row, idx) in reductiveLodgingSystems"
        v-debug='"reductive-lodging-" + idx'
        :key="idx"
        @errors='trackChildError("reductive-" + idx, (boolean) $event)'
        @warnings='trackChildWarning("reductive-" + idx, (boolean) $event)'
        :lodgingSystem="row"
        :farmLodgingCategory="farmLodgingCategory"
        @delete="deleteReductive(idx)" />
    </vertical-collapse-group>
    <vertical-collapse-group>
      <farm-fodder-measure-row
        v-for="(LodgingFodderMeasure row, idx) in fodderMeasures"
        v-debug='"fodder-measure-" + idx'
        :key="idx"
        @errors='trackChildError("fodder-" + idx, (boolean) $event)'
        @warnings='trackChildWarning("fodder-" + idx, (boolean) $event)'
        :lodgingSystem="row"
        :farmLodgingCategory="farmLodgingCategory"
        @delete="deleteFodder(idx)" />
    </vertical-collapse-group>
  </div>

  <vertical-collapse>
    <div v-if="suggestionWarning">
      <div class="suggestionWarning"><i class="icon icon-warning-small"></i>{{ i18n.esFarmLodgingStandardWarningRAVStacking() }}</div>
    </div>
  </vertical-collapse>

  <simple-listbox v-debug:additionalSystemSelector
    class="additionalMeasures"
    :nameFunction="func(v -> i18n.esFarmLodgingStandardAdditionalType((LodgingStackType) v))"
    :optionsArr="LodgingStackType.values()"
    :selected="selectedAdditionalType"
    :placeholder="i18n.dropdownPlaceholder()"
    @select='selectLodgingSystem((LodgingStackType) $event)' />
</div>

<style scoped lang="scss">
@import "../../../../vertical-collapse.scss";
@import "../../../../variables.scss";
@import "../farmlodging.scss";

.suggestionWarning {
  background: var(--warning-color);
  color: white;
  padding: 10px;
  border-radius: var(--default-radius);

  margin: 5px 0px;

  .icon {
    padding-right: 10px;
  }
}

.additionalMeasures {
  height: var(--row-height-generous);
}

</style>
