<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.MaritimeShippingCategory"/>

<div class="standardEmissionsContainer">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input :label="i18n.esShippingDescription()"
    division="1fr 1fr"
    name="emissionSourceMaritimeStandardDescription"
    :errorValidation="v.descriptionV"
    :errorMessage="this::descriptionError">
    <input type="text"
      id="emissionSourceMaritimeStandardDescription"
      v-validate:descriptionV.input
      v-model="description"
      aria-label="descripton"
      v-debug:emissionSourceMaritimeStandardDescription />
  </labeled-input>
  <labeled-input class="shipCategories"
    :label="i18n.esMaritimeStandardShipCode()"
    name="shipCategoryInput"
    division="1fr 1fr"
    :errorValidation="v.shipCodeV"
    :errorMessage="this::shipCategoryRequiredError">
    <select id="shipCategory"
     v-model="maritimeShippingCategory"
      aria-label="maritimeShippingCategory"
      v-debug:emissionSourceMaritimeShippingCategory>
      <option v-for="MaritimeShippingCategory ship in shipCategories" :value="ship.getCode()">{{ ship.getDescription() }}</option>
    </select>
  </labeled-input>
  <aer-maritime-movement
    :ship="(MaritimeShipping) standardMaritime"
    @errors='trackChildError("shippingMaritimeMovement", (boolean) $event)'
    @warnings='trackChildWarning("shippingMaritimeMovement", (boolean) $event)' />
</div>

<style scoped lang="scss">
@import "../../../../../components/input/inputs.scss";

.timeUnitHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--back-color);
  gap: var(--half-spacer);

  div {
    padding: 0px var(--half-spacer);
  }
}

.shipCategories {
  margin-bottom: var(--spacer);
}

.standardEmissionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

</style>
