<div>
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input
    division="1fr 1fr"
    :gap="false"
    :label="i18n.esStandardRoadVehicleType(vehicleType))"
    :name='"numberOfVehicles" + "_" + vehicleType.name()'>
    <div class="roadTypeRow">
      <input
        :id='"numberOfVehiclesRow_" + vehicleType.name()'
        type="number"
        min="0.000000"
        step="any"
        v-validate:numberOfVehiclesV.input
        :class='map(e("error-input", isNuberOfVehiclesInvalid))'
        v-model="numberOfVehicles"
        :placeholder="0"
        :aria-label='"numberOfVehiclesInput" + "_" + vehicleType.name()'>
      <input-with-unit :unit="i18n.unitSingularPercentage()">
        <input class="numberInputUnit"
          type="number"
          min="0"
          max="100"
          step="any()"
          v-validate:stagnationFractionV.input
          :class='map(e("error-input", isStagnationFractionInvalid))'
          v-model="stagnationFraction"
          :placeholder="0"
          :aria-label='"stagnation" + "_" + vehicleType.name()'
          v-debug='"EmissionSourceRoadStagnationRow_" + vehicleType.name()'>
      </input-with-unit>
    </div>
  </labeled-input>
  <input-error
    :errorValidation="v.numberOfVehiclesV"
    :errorMessage="this::errorNumberOfVehicles()" />
  <input-error
    :errorValidation="v.stagnationFractionV"
    :errorMessage="this::errorStagnationFraction()" />
</div>

<style scoped lang="scss">
@import "../road.scss";
@import "../../../../components/input/inputs.scss";

.error-input {
  border: solid 1px var(--border-color);
}


.roadTypeRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--half-spacer);
  margin: var(--half-spacer);
  margin-left: 0px;
}
</style>
