<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.road.VehicleType" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.road.TrafficDirection" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.base.TimeUnit" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.ValuesPerVehicleType" />

<div class="standardEmissionsContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="false"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @touch="touch()" />

  <labeled-input v-if="isSpeedCategoriesAvailable()"
    class="speedCategories"
    :label="i18n.esRoadStandardRoadSpeed()"
    name="roadSpeedInput"
    division="1fr 1fr"
    :gap="false"
    :errorValidation="v.roadSpeedV"
    :errorMessage="this::roadSpeedRequiredError">
    <select v-model="maximumSpeed"
      v-validate:roadSpeedV.input
      aria-label="maximumSpeed"
      v-debug:emissionSourceRoadMaxSpeed>
      <option value="0" hidden disabled>{{ i18n.dropdownPlaceholder() }}</option>
      <option v-for="String maximumSpeed in maximumSpeedCategories" :value="maximumSpeed">{{ getMaximumSpeedMessage(maximumSpeed) }}</option>
    </select>
  </labeled-input>

  <div v-if="trafficDirection == TrafficDirection.BOTH"
    class="bothDirectionWarning">{{ i18n.esRoadStandardDrivingDirectionWarning() }}</div>

  <labeled-input :label="i18n.esRoadStandardVehicles()"
     division="1fr 1fr"
    :gap="false"
    :transparent="true">
    <div class="timeUnitHeader">
      <select slot="label" id="timeUnit"
        v-model="timeUnit"
        aria-label="timeUnit">
        <option v-for="TimeUnit tu in TimeUnit.values()" :value="tu.name()">{{ i18n.unitTime(tu) }}</option>
      </select>
      <div>{{ i18n.esRoadStandardStagnation() }}</div>
    </div>
  </labeled-input>
  <aer-road-vehicle-type-row v-for="VehicleType item in vehicleTypes"
    @errors='trackChildError("vehicleType-" + item.name(), (boolean) $event)'
    @warnings='trackChildWarning("vehicleType-" + item.name(), (boolean) $event)'
    :vehicleType="item"
    :valuesPerVehicleType="valuesPerVehicleType"
    :timeUnit="TimeUnit.valueOf(timeUnit)" />
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../road.scss";

.timeUnitHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--back-color);
  gap: var(--half-spacer);

  div {
    padding: 0px var(--half-spacer);
  }
}

.speedCategories {
  margin-bottom: var(--spacer);
}

.standardEmissionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.bothDirectionWarning {
  font-style: italic;
}

</style>
